client-service/esis/src/main/resources/esis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sisnsmsg="http://www.europa.eu/schengen/sis/xsd/v1/nsmessages" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://producers.etoimik.xtee.riik.ee/producer/sis2" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" targetNamespace="http://producers.etoimik.xtee.riik.ee/producer/sis2">
 <wsdl:types>
  <xsd:schema xmlns:es="http://www.europa.eu/schengen/sis/xsd/v1/types/es" xmlns:sisalertdt="http://www.europa.eu/schengen/sis/xsd/v1/types/alert" xmlns:sisdt="http://www.europa.eu/schengen/sis/xsd/v1/types/common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.europa.eu/schengen/sis/xsd/v1/nsmessages" version="3.0 Candidate">
   <xsd:import namespace="http://www.europa.eu/schengen/sis/xsd/v1/types/common" schemaLocation="https://www.smit.ee/schemas/CommonDataTypes.xsd"/>
   <xsd:import namespace="http://www.europa.eu/schengen/sis/xsd/v1/types/alert" schemaLocation="https://www.smit.ee/schemas/AlertDataTypes.xsd"/>
   <xsd:import namespace="http://www.europa.eu/schengen/sis/xsd/v1/types/es" schemaLocation="https://www.smit.ee/schemas/ESSIDataTypes.xsd"/>
   <xsd:import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

   <xsd:element name="SSGetStatusForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="es:SSHeaderType"/>
         <xsd:element name="StatusRequest">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="LrRequestID" type="xsd:long"/>
            <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="SSGetStatusForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="es:SSHeaderType"/>
         <xsd:element name="StatusRequest">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="LrRequestID" type="xsd:long"/>
            <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="LrRequestID" type="xsd:long"/>
         <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
         <xsd:element name="Status" type="xsd:string"/>
         <xsd:element name="StatusName" type="xsd:string"/>
         <xsd:element name="LastStatusChange" type="sisdt:TimestampType"/>
         <xsd:element name="ReturnCode" type="sisdt:ST203_ReturnCodeType"/>
         <xsd:element minOccurs="0" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="SSGetIdentityIDForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="es:SSHeaderType"/>
         <xsd:element name="IdentityIDRequest">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
            <xsd:element name="AliasNr" type="xsd:string"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="SSGetIdentityIDForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="es:SSHeaderType"/>
         <xsd:element name="IdentityIDRequest">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
            <xsd:element name="AliasNr" type="xsd:string"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
         <xsd:element name="AliasNr" type="xsd:string"/>
         <xsd:element minOccurs="0" name="IdentityID" type="xsd:long"/>
         <xsd:element name="ReturnCode" type="sisdt:ST203_ReturnCodeType"/>
         <xsd:element minOccurs="0" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSLoadBinaryDataForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="LoadBinaryRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSLoadBinaryDataRequest
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="BinaryID" type="sisalertdt:BinaryIDType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSLoadBinaryDataForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="LoadBinaryRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSLoadBinaryDataRequest
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="BinaryID" type="sisalertdt:BinaryIDType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="LoadBinaryResponse">
          <xsd:annotation>
           <xsd:documentation>Message Description: CSLoadBinaryDataResponse
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="RCI" type="sisdt:RCIType"/>
            <xsd:sequence minOccurs="0">
             <xsd:annotation>
              <xsd:documentation>Description: Present if RCI indicates success.
              </xsd:documentation>
             </xsd:annotation>
             <xsd:element name="BinaryData" type="sisalertdt:PictureDataType"/>
            </xsd:sequence>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="SSGetEAWBinaryIDForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="MessageID" type="sisdt:MessageIDType"/>
            <xsd:element name="DateTime" type="sisdt:TimestampType"/>
            <xsd:element minOccurs="0" name="EndUserID" type="es:SireneEndUserIDType"/>
            <xsd:element minOccurs="0" name="SystemID" type="sisdt:SystemIDType"/>
            <xsd:element name="LROperation" type="xsd:string"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name="BinaryIDRequest">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
            <xsd:element name="NationalReference" type="xsd:string"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="SSGetEAWBinaryIDForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="MessageID" type="sisdt:MessageIDType"/>
            <xsd:element name="DateTime" type="sisdt:TimestampType"/>
            <xsd:element minOccurs="0" name="EndUserID" type="es:SireneEndUserIDType"/>
            <xsd:element minOccurs="0" name="SystemID" type="sisdt:SystemIDType"/>
            <xsd:element name="LROperation" type="xsd:string"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name="BinaryIDRequest">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
            <xsd:element name="NationalReference" type="xsd:string"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="MessageID" type="sisdt:MessageIDType"/>
            <xsd:element name="DateTime" type="sisdt:TimestampType"/>
            <xsd:element minOccurs="0" name="SystemID" type="sisdt:SystemIDType"/>
            <xsd:element name="LROperation" type="xsd:string"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name="Response">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:CompressedSchengenIDType"/>
            <xsd:element name="NationalReference" type="xsd:string"/>
            <xsd:element name="EAW_ID" type="xsd:long"/>
            <xsd:element name="Binary_ID" type="xsd:long"/>
            <xsd:element name="ReturnCode" type="sisdt:ST203_ReturnCodeType"/>
            <xsd:element minOccurs="0" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSDeleteBinaryDataForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="DeleteBinaryDataRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description : NSDeleteBinaryDataRequest
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
            <xsd:element name="BinaryIDs">
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element maxOccurs="unbounded" name="BinaryID" type="sisalertdt:BinaryIDType"/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSDeleteBinaryDataForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="DeleteBinaryDataRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description : NSDeleteBinaryDataRequest
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
            <xsd:element name="BinaryIDs">
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element maxOccurs="unbounded" name="BinaryID" type="sisalertdt:BinaryIDType"/>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Local_ID" type="sisdt:NumRD"/>
         <xsd:element minOccurs="0" name="SchengenID" type="sisdt:SchengenIDType"/>
         <xsd:element name="Status_code" type="xsd:string"/>
         <xsd:element name="Status_name" type="xsd:string"/>
         <xsd:element name="ErrorCodes">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSExtendAlertForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="ExtendAlertRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSExtendAlertRequest</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="Alert" type="sisalertdt:AlertToExtendType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSExtendAlertForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="ExtendAlertRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSExtendAlertRequest</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="Alert" type="sisalertdt:AlertToExtendType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Local_ID" type="sisdt:NumRD"/>
         <xsd:element minOccurs="0" name="SchengenID" type="sisdt:SchengenIDType"/>
         <xsd:element name="Status_code" type="xsd:string"/>
         <xsd:element name="Status_name" type="xsd:string"/>
         <xsd:element name="ErrorCodes">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSChangeExpiryDateAlertForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="ChangeExpiryDateRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSChangeExpiryDateRequest</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
            <xsd:element name="NewExpiryDate" type="sisdt:DateRD"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSChangeExpiryDateAlertForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="ChangeExpiryDateRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSChangeExpiryDateRequest
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
            <xsd:element name="NewExpiryDate" type="sisdt:DateRD"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Local_ID" type="sisdt:NumRD"/>
         <xsd:element minOccurs="0" name="SchengenID" type="sisdt:SchengenIDType"/>
         <xsd:element name="Status_code" type="xsd:string"/>
         <xsd:element name="Status_name" type="xsd:string"/>
         <xsd:element name="ErrorCodes">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSDeleteAlertForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="DeleteRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSDeleteAlertRequest</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
            <xsd:element name="KindOfDeletion" type="sisdt:ST123_KindOfDeletionType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSDeleteAlertForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="DeleteRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSDeleteAlertRequest
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
            <xsd:element name="KindOfDeletion" type="sisdt:ST123_KindOfDeletionType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Local_ID" type="sisdt:NumRD"/>
         <xsd:element minOccurs="0" name="SchengenID" type="sisdt:SchengenIDType"/>
         <xsd:element name="Status_code" type="xsd:string"/>
         <xsd:element name="Status_name" type="xsd:string"/>
         <xsd:element name="ErrorCodes">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSUpdateAlertForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="UpdateRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSUpdateAlertRequest</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="UpdateAlert">
             <xsd:complexType>
              <xsd:complexContent>
               <xsd:extension base="sisalertdt:AlertToUpdateType">
                <xsd:sequence>
                 <xsd:element name="CompatibilityCheckFlag" type="sisalertdt:CompatibilityCheckFlagType"/>
                </xsd:sequence>
               </xsd:extension>
              </xsd:complexContent>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSUpdateAlertForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="UpdateRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSUpdateAlertRequest</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="UpdateAlert">
             <xsd:complexType>
              <xsd:complexContent>
               <xsd:extension base="sisalertdt:AlertToUpdateType">
                <xsd:sequence>
                 <xsd:element name="CompatibilityCheckFlag" type="sisalertdt:CompatibilityCheckFlagType"/>
                </xsd:sequence>
               </xsd:extension>
              </xsd:complexContent>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Local_ID" type="sisdt:NumRD"/>
         <xsd:element minOccurs="0" name="SchengenID" type="sisdt:SchengenIDType"/>
         <xsd:element name="Status_code" type="xsd:string"/>
         <xsd:element name="Status_name" type="xsd:string"/>
         <xsd:element name="ErrorCodes">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSCreateAlertForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="CreateRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSCreateAlertRequest</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="CreateAlert">
             <xsd:complexType>
              <xsd:complexContent>
               <xsd:extension base="sisalertdt:AlertToCreateType">
                <xsd:sequence>
                 <xsd:element name="CompatibilityCheckFlag" type="sisalertdt:CompatibilityCheckFlagType"/>
                </xsd:sequence>
               </xsd:extension>
              </xsd:complexContent>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSCreateAlertForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="CreateRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSCreateAlertRequest</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="CreateAlert">
             <xsd:complexType>
              <xsd:complexContent>
               <xsd:extension base="sisalertdt:AlertToCreateType">
                <xsd:sequence>
                 <xsd:element name="CompatibilityCheckFlag" type="sisalertdt:CompatibilityCheckFlagType"/>
                </xsd:sequence>
               </xsd:extension>
              </xsd:complexContent>
             </xsd:complexType>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Local_ID" type="sisdt:NumRD"/>
         <xsd:element minOccurs="0" name="SchengenID" type="sisdt:SchengenIDType"/>
         <xsd:element name="Status_code" type="xsd:string"/>
         <xsd:element name="Status_name" type="xsd:string"/>
         <xsd:element name="ErrorCodes">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSExecuteStandardQueryForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="NsRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSExecuteStandardQueryRequest
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SearchCriteria" type="sisalertdt:StandardQueryType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="NSExecuteStandardQueryForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="NsRequest">
          <xsd:annotation>
           <xsd:documentation>Message Description: NSExecuteStandardQueryRequest
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="SearchCriteria" type="sisalertdt:StandardQueryType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="sisdt:HeaderType"/>
         <xsd:element name="CsResponse">
          <xsd:annotation>
           <xsd:documentation>Message Description: CSExecuteStandardQueryResponse
           </xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="RCI" type="sisdt:RCIType"/>
            <xsd:element minOccurs="0" name="HitList" type="sisalertdt:StandardQueryHitListType">
             <xsd:annotation>
              <xsd:documentation>Element Description: Present if RCI indicates
               success.
              </xsd:documentation>
             </xsd:annotation>
            </xsd:element>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="SSGetClassificatorForXtee">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="es:SSHeaderType"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="SSGetClassificatorForXteeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="request">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header" type="es:SSHeaderType"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
      <xsd:element name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element name="Header">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="MessageID" type="sisdt:MessageIDType"/>
            <xsd:element name="DateTime" type="sisdt:TimestampType"/>
            <xsd:element name="SystemID" type="sisdt:SystemIDType"/>
            <xsd:element name="LROperation" type="xsd:string"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
         <xsd:element name="Response">
          <xsd:complexType>
           <xsd:sequence>
            <xsd:element name="Rows">
             <xsd:complexType>
              <xsd:sequence>
               <xsd:element maxOccurs="unbounded" minOccurs="0" name="Row">
                <xsd:complexType>
                 <xsd:sequence>
                  <xsd:element name="ST_Classifier" type="xsd:string"/>
                  <xsd:element name="ST_Code" type="xsd:string"/>
                  <xsd:element name="ST_Vers" type="xsd:string"/>
                  <xsd:element name="ST_Label" type="xsd:string"/>
                  <xsd:element name="ST_Label_et" type="xsd:string"/>
                  <xsd:element name="ST_ValidFrom" type="xsd:string"/>
                  <xsd:element name="ST_ValidUntil" type="xsd:string"/>
                  <xsd:element name="ST_Type" type="xsd:string"/>
                  <xsd:element name="ST_Alphacode" type="xsd:string"/>
                  <xsd:element name="ST_Wmi_code" type="xsd:string"/>
                  <xsd:element name="ST_TypeId" type="xsd:string"/>
                  <xsd:element name="ST_Contact" type="xsd:string"/>
                  <xsd:element name="ST_Severity" type="xsd:string"/>
                  <xsd:element name="ST_Old_code" type="xsd:string"/>
                  <xsd:element name="ST_PriorityId" type="xsd:string"/>
                  <xsd:element name="ST_NumericCode" type="xsd:string"/>
                  <xsd:element name="ST_ShortLabel" type="xsd:string"/>
                 </xsd:sequence>
                </xsd:complexType>
               </xsd:element>
              </xsd:sequence>
             </xsd:complexType>
            </xsd:element>
            <xsd:element name="ReturnCode" type="sisdt:ST203_ReturnCodeType"/>
            <xsd:element minOccurs="0" name="ErrorCode" type="sisdt:ST204_ErrorCodeType"/>
           </xsd:sequence>
          </xsd:complexType>
         </xsd:element>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>

  <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/xroad.xsd" version="3.0 Candidate">

   <xsd:element name="listMethods">
    <xsd:complexType>
     <xsd:sequence>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="listMethodsResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element minOccurs="0" name="response">
       <xsd:complexType>
        <xsd:sequence>
         <xsd:element maxOccurs="unbounded" name="item" type="xsd:string"/>
        </xsd:sequence>
       </xsd:complexType>
      </xsd:element>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>

   <xsd:element name="testSystem">
    <xsd:complexType>
     <xsd:sequence>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="testSystemResponse">
    <xsd:complexType>
     <xsd:sequence>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>

 <wsdl:message name="standardheader">
  <wsdl:part element="xrd:client" name="client"/>
  <wsdl:part element="xrd:userId" name="userId"/>
  <wsdl:part element="xrd:service" name="service"/>
  <wsdl:part element="xrd:id" name="id"/>
  <wsdl:part element="xrd:requestHash" name="requestHash"/>
  <wsdl:part element="xrd:protocolVersion" name="protocolVersion"/>
 </wsdl:message>

 <wsdl:message name="NSExecuteStandardQuery">
  <wsdl:part element="sisnsmsg:NSExecuteStandardQueryForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="CSExecuteStandardQuery">
  <wsdl:part element="sisnsmsg:NSExecuteStandardQueryForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="SSGetClassificator">
  <wsdl:part element="sisnsmsg:SSGetClassificatorForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="ESGetClassificator">
  <wsdl:part element="sisnsmsg:SSGetClassificatorForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="NSCreateAlert">
  <wsdl:part element="sisnsmsg:NSCreateAlertForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="CSCreateAlert">
  <wsdl:part element="sisnsmsg:NSCreateAlertForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="NSUpdateAlert">
  <wsdl:part element="sisnsmsg:NSUpdateAlertForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="CSUpdateAlert">
  <wsdl:part element="sisnsmsg:NSUpdateAlertForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="NSDeleteAlert">
  <wsdl:part element="sisnsmsg:NSDeleteAlertForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="CSDeleteAlert">
  <wsdl:part element="sisnsmsg:NSDeleteAlertForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="NSExtendAlert">
  <wsdl:part element="sisnsmsg:NSExtendAlertForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="CSExtendAlert">
  <wsdl:part element="sisnsmsg:NSExtendAlertForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="NSChangeExpiryDateAlert">
  <wsdl:part element="sisnsmsg:NSChangeExpiryDateAlertForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="CSChangeExpiryDateAlert">
  <wsdl:part element="sisnsmsg:NSChangeExpiryDateAlertForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="NSDeleteBinaryData">
  <wsdl:part element="sisnsmsg:NSDeleteBinaryDataForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="CSDeleteBinaryData">
  <wsdl:part element="sisnsmsg:NSDeleteBinaryDataForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="SSGetBinaryID">
  <wsdl:part element="sisnsmsg:SSGetEAWBinaryIDForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="ESGetBinaryID">
  <wsdl:part element="sisnsmsg:SSGetEAWBinaryIDForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="SSGetIdentityID">
  <wsdl:part element="sisnsmsg:SSGetIdentityIDForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="ESGetIdentityID">
  <wsdl:part element="sisnsmsg:SSGetIdentityIDForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="SSGetStatus">
  <wsdl:part element="sisnsmsg:SSGetStatusForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="ESGetStatus">
  <wsdl:part element="sisnsmsg:SSGetStatusForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="NSLoadBinaryData">
  <wsdl:part element="sisnsmsg:NSLoadBinaryDataForXtee" name="body"/>
 </wsdl:message>
 <wsdl:message name="CSLoadBinaryData">
  <wsdl:part element="sisnsmsg:NSLoadBinaryDataForXteeResponse" name="body"/>
 </wsdl:message>

 <wsdl:message name="listMethods">
  <wsdl:part element="xrd:listMethods" name="body"/>
 </wsdl:message>

 <wsdl:portType name="esisPortType">
  <wsdl:operation name="NSExecuteStandardQueryForXtee">
   <wsdl:input message="tns:NSExecuteStandardQuery" name="NSExecuteStandardQuery"/>
   <wsdl:output message="tns:CSExecuteStandardQuery" name="CSExecuteStandardQuery"/>
  </wsdl:operation>

  <wsdl:operation name="SSGetClassificatorForXtee">
   <wsdl:input message="tns:SSGetClassificator" name="SSGetClassificator"/>
   <wsdl:output message="tns:ESGetClassificator" name="ESGetClassificator"/>
  </wsdl:operation>

  <wsdl:operation name="NSCreateAlertForXtee">
   <wsdl:input message="tns:NSCreateAlert" name="NSCreateAlert"/>
   <wsdl:output message="tns:CSCreateAlert" name="CSCreateAlert"/>
  </wsdl:operation>

  <wsdl:operation name="NSUpdateAlertForXtee">
   <wsdl:input message="tns:NSUpdateAlert" name="NSUpdateAlert"/>
   <wsdl:output message="tns:CSUpdateAlert" name="CSUpdateAlert"/>
  </wsdl:operation>
  
  <wsdl:operation name="NSDeleteAlertForXtee">
   <wsdl:input message="tns:NSDeleteAlert" name="NSDeleteAlert"/>
   <wsdl:output message="tns:CSDeleteAlert" name="CSDeleteAlert"/>
  </wsdl:operation>

  <wsdl:operation name="NSExtendAlertForXtee">
   <wsdl:input message="tns:NSExtendAlert" name="NSExtendAlert"/>
   <wsdl:output message="tns:CSExtendAlert" name="CSExtendAlert"/>
  </wsdl:operation>
  
  <wsdl:operation name="NSChangeExpiryDateAlertForXtee">
   <wsdl:input message="tns:NSChangeExpiryDateAlert" name="NSChangeExpiryDateAlert"/>
   <wsdl:output message="tns:CSChangeExpiryDateAlert" name="CSChangeExpiryDateAlert"/>
  </wsdl:operation>

  <wsdl:operation name="NSDeleteBinaryDataForXtee">
   <wsdl:input message="tns:NSDeleteBinaryData" name="NSDeleteBinaryData"/>
   <wsdl:output message="tns:CSDeleteBinaryData" name="CSDeleteBinaryData"/>
  </wsdl:operation>

  <wsdl:operation name="SSGetEAWBinaryIDForXtee">
   <wsdl:input message="tns:SSGetBinaryID" name="SSGetBinaryID"/>
   <wsdl:output message="tns:ESGetBinaryID" name="ESGetBinaryID"/>
  </wsdl:operation>

  <wsdl:operation name="SSGetIdentityIDForXtee">
   <wsdl:input message="tns:SSGetIdentityID" name="SSGetIdentityID"/>
   <wsdl:output message="tns:ESGetIdentityID" name="ESGetIdentityID"/>
  </wsdl:operation>

  <wsdl:operation name="SSGetStatusForXtee">
   <wsdl:input message="tns:SSGetStatus" name="SSGetStatus"/>
   <wsdl:output message="tns:ESGetStatus" name="ESGetStatus"/>
  </wsdl:operation>

  <wsdl:operation name="NSLoadBinaryDataForXtee">
   <wsdl:input message="tns:NSLoadBinaryData" name="NSLoadBinaryData"/>
   <wsdl:output message="tns:CSLoadBinaryData" name="CSLoadBinaryData"/>
  </wsdl:operation>

  <wsdl:operation name="listMethods">
   <wsdl:input message="tns:listMethods" name="listMethods"/>
   <wsdl:output message="tns:listMethods" name="listMethodsResponse"/>
  </wsdl:operation>
 </wsdl:portType>

 <wsdl:binding name="esisBinding" type="tns:esisPortType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="NSExecuteStandardQueryForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="SSGetClassificatorForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="NSCreateAlertForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="NSUpdateAlertForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="NSDeleteAlertForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="NSExtendAlertForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="NSChangeExpiryDateAlertForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="NSDeleteBinaryDataForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="SSGetEAWBinaryIDForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="SSGetIdentityIDForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="SSGetStatusForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="NSLoadBinaryDataForXtee">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
    <soap:header message="tns:standardheader" part="client" use="literal"/>
    <soap:header message="tns:standardheader" part="userId" use="literal"/>
    <soap:header message="tns:standardheader" part="id" use="literal"/>
    <soap:header message="tns:standardheader" part="service" use="literal"/>
    <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
    <soap:header message="tns:standardheader" part="requestHash" use="literal"/>
   </wsdl:output>
  </wsdl:operation>

  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="listMethods">
   <soap:operation soapAction=""/>
   <xrd:version>v1</xrd:version>
   <wsdl:input>
    <soap:body parts="body" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body parts="body" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 
 <wsdl:service name="esisService">
  <wsdl:port binding="tns:esisBinding" name="esisServicePort">
   <soap:address location="http://esis2.test.smit:80/esis2/ws/"/>
  </wsdl:port>
 </wsdl:service>

</wsdl:definitions>