client-service/statistikaamet/src/main/resources/estat.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
									xmlns:sch="http://producers.estat.xtee.riik.ee/producer/estat/"
									xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
									xmlns:tns="http://estat.x-road.eu"
									xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
									targetNamespace="http://estat.x-road.eu">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
						xmlns:tns="http://producers.estat.xtee.riik.ee/producer/estat/"
						xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" elementFormDefault="unqualified"
						targetNamespace="http://producers.estat.xtee.riik.ee/producer/estat/">
			<import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

			<import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/>

			<element name="SubmitDataRequest" type="tns:SubmitDataRequest"/>
			<complexType name="SubmitDataRequest">
				<sequence>
					<element maxOccurs="1" minOccurs="1" name="DataFile" type="wsi:swaRef">
						<annotation>
							<documentation/>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="XSDValidationOnly" type="int">
						<annotation>
							<documentation/>
						</annotation>
					</element>
				</sequence>
			</complexType>

			<element name="SubmitDataResponse" type="tns:SubmitDataResponse"/>
			<complexType name="SubmitDataResponse">
				<sequence>
					<element maxOccurs="1" minOccurs="1" name="SubmitId" type="string">
						<annotation>
							<documentation/>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="XSDValidationErrorMessage" type="string">
						<annotation>
							<documentation/>
						</annotation>
					</element>
				</sequence>
			</complexType>

			<element name="ReturnDataRequest" type="tns:ReturnDataRequest"/>
			<complexType name="ReturnDataRequest">
				<sequence>
					<element maxOccurs="1" minOccurs="1" name="SubmitId" type="string"/>
				</sequence>
			</complexType>

			<element name="ReturnDataResponse" type="tns:ReturnDataResponse"/>
			<complexType name="ReturnDataResponse">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="DataFile" type="wsi:swaRef"/>
				</sequence>
			</complexType>

			<element name="ReturnErrorRequest" type="tns:ReturnErrorRequest"/>
			<complexType name="ReturnErrorRequest">
				<sequence>
					<element maxOccurs="1" minOccurs="1" name="SubmitId" type="string"/>
				</sequence>
			</complexType>

			<element name="ReturnErrorResponse" type="tns:ReturnErrorResponse"/>
			<complexType name="ReturnErrorResponse">
				<sequence>
					<element maxOccurs="1" minOccurs="1" name="ProcessingStatus" type="tns:ProcessingStatus"/>
					<element maxOccurs="1" minOccurs="0" name="ValidationResult" type="tns:ValidationResult"/>
					<element maxOccurs="1" minOccurs="0" name="DataFile" type="wsi:swaRef"/>
				</sequence>
			</complexType>
			<simpleType name="ProcessingStatus">
				<restriction base="token">
					<enumeration value="0"/>
					<enumeration value="1"/>
				</restriction>
			</simpleType>
			<simpleType name="ValidationResult">
				<restriction base="token">
					<enumeration value="0"/>
					<enumeration value="1"/>
					<enumeration value="2"/>
				</restriction>
			</simpleType>

		</schema>
	</wsdl:types>
	<wsdl:message name="SubmitDataRequest">
		<wsdl:part element="sch:SubmitDataRequest" name="SubmitDataRequest"/>
	</wsdl:message>
	<wsdl:message name="SubmitDataResponse">
		<wsdl:part element="sch:SubmitDataResponse" name="SubmitDataResponse"/>
	</wsdl:message>
	<wsdl:message name="ReturnDataRequest">
		<wsdl:part element="sch:ReturnDataRequest" name="ReturnDataRequest"/>
	</wsdl:message>
	<wsdl:message name="ReturnErrorResponse">
		<wsdl:part element="sch:ReturnErrorResponse" name="ReturnErrorResponse"/>
	</wsdl:message>
	<wsdl:message name="ReturnDataResponse">
		<wsdl:part element="sch:ReturnDataResponse" name="ReturnDataResponse"/>
	</wsdl:message>
	<wsdl:message name="requestheader">
		<wsdl:part element="xrd:client" name="client"/>
		<wsdl:part element="xrd:service" name="service"/>
		<wsdl:part element="xrd:id" name="id"/>
		<wsdl:part element="xrd:userId" name="userId"/>
		<wsdl:part element="xrd:protocolVersion" name="protocolVersion"/>
	</wsdl:message>
	<wsdl:message name="ReturnErrorRequest">
		<wsdl:part element="sch:ReturnErrorRequest" name="ReturnErrorRequest"/>
	</wsdl:message>
	<wsdl:portType name="eStatPort">
		<wsdl:operation name="SubmitData">
			<wsdl:documentation>
				<xrd:title>XML report receiving service</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:SubmitDataRequest" name="SubmitDataRequest"/>
			<wsdl:output message="tns:SubmitDataResponse" name="SubmitDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReturnData">
			<wsdl:documentation>
				<xrd:title>Return earlier submitted XML</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:ReturnDataRequest" name="ReturnDataRequest"/>
			<wsdl:output message="tns:ReturnDataResponse" name="ReturnDataResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ReturnError">
			<wsdl:documentation>
				<xrd:title>Return validation errors for earlier submitted XML</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:ReturnErrorRequest" name="ReturnErrorRequest"/>
			<wsdl:output message="tns:ReturnErrorResponse" name="ReturnErrorResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="eStatPortSoap11" type="tns:eStatPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SubmitData">
			<soap:operation soapAction=""/>
			<xrd:version>v1</xrd:version>
			<wsdl:input name="SubmitDataRequest">
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="client" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="service" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="userId" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="id" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="protocolVersion" use="literal">
				</soap:header>
				<soap:body namespace="http://estat.x-road.eu" use="literal"/>
			</wsdl:input>
			<wsdl:output name="SubmitDataResponse">
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="client" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="service" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="userId" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="id" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="protocolVersion" use="literal">
				</soap:header>
				<soap:body namespace="http://estat.x-road.eu" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReturnData">
			<soap:operation soapAction=""/>
			<xrd:version>v1</xrd:version>
			<wsdl:input name="ReturnDataRequest">
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="client" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="service" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="userId" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="id" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="protocolVersion" use="literal">
				</soap:header>
				<soap:body namespace="http://estat.x-road.eu" use="literal"/>
			</wsdl:input>
			<wsdl:output name="ReturnDataResponse">
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="client" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="service" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="userId" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="id" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="protocolVersion" use="literal">
				</soap:header>
				<soap:body namespace="http://estat.x-road.eu" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ReturnError">
			<soap:operation soapAction=""/>
			<xrd:version>v1</xrd:version>
			<wsdl:input name="ReturnErrorRequest">
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="client" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="service" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="userId" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="id" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="protocolVersion" use="literal">
				</soap:header>
				<soap:body namespace="http://estat.x-road.eu" use="literal"/>
			</wsdl:input>
			<wsdl:output name="ReturnErrorResponse">
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="client" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="service" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="userId" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="id" use="literal">
				</soap:header>
				<soap:header message="tns:requestheader" namespace="http://x-road.eu/xsd/xroad.xsd" part="protocolVersion" use="literal">
				</soap:header>
				<soap:body namespace="http://estat.x-road.eu" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="eStatPortService">
		<wsdl:port binding="tns:eStatPortSoap11" name="eStatPortSoap11">
			<soap:address location="http://SECURITY_SERVER/cgi-bin/consumer_proxy"/>
			<xrd:address producer="estat"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>