client-service/skais2/src/main/resources/skais2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:tns="http://skais2.som.ee/producer/skais2"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://skais2.som.ee/producer/skais2">
    <wsdl:types>
        <schema targetNamespace="http://skais2.som.ee/producer/skais2"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://skais2.som.ee/producer/skais2">

            <import namespace="http://www.w3.org/2001/XMLSchema"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

            <!-- Teenus: TKToovoimPuueHyvitised päring -->
            <element name="TKToovoimPuueHyvitised" type="tns:TKToovoimPuueHyvitisedRequest"/>

            <complexType name="TKToovoimPuueHyvitisedRequest">
                <sequence>
                    <element name="isikukood">
                        <annotation>
                            <documentation>päritava isiku isikukood</documentation>
                        </annotation>
                        <simpleType>
                            <restriction base="string">
                                <maxLength value="50"/>
                            </restriction>
                        </simpleType>
                    </element>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>päritava isiku kehtivate andmete perioodi algushetk</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date">
                        <annotation>
                            <documentation>päritava isiku kehtivate andmete perioodi lõpphetk</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <!-- Teenus: TKToovoimPuueHyvitised vastus -->
            <element name="TKToovoimPuueHyvitisedResponse" type="tns:TKToovoimPuueHyvitisedResponse"/>

            <complexType name="TKToovoimPuueHyvitisedResponse">
                <sequence>
                    <element name="isik" type="tns:isikType" minOccurs="1" maxOccurs="1"/>
                    <element name="toovoimetused" minOccurs="0" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="toovoimetus" type="tns:toovoimetusType" minOccurs="1" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="hyvitised" minOccurs="0" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="hyvitis" type="tns:hyvitisType" minOccurs="1" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="seosedValisriigiga" minOccurs="0" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="seotusValisriigiga" type="tns:seotusValisriigigaType" minOccurs="1" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="kinnipeetudTulumaksud" minOccurs="0" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="kinnipeetudTulumaks" type="tns:kinnipeetudTulumaksType" minOccurs="1" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="puuded" minOccurs="0" maxOccurs="1">
                        <complexType>
                            <sequence>
                                <element name="puue" type="tns:puueType" minOccurs="1" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="staatus" type="tns:staatusType" minOccurs="1" maxOccurs="1"/>
                </sequence>
            </complexType>

            <complexType name="isikType">
                <sequence>
                    <element name="isikukood" type="string" minOccurs="1" maxOccurs="1" nillable="false">
                        <annotation>
                            <documentation>Eesti isikukood</documentation>
                        </annotation>
                    </element>
                    <element name="eesnimi" type="string" minOccurs="1" maxOccurs="1" nillable="false">
                        <annotation>
                            <documentation>Eesnimi</documentation>
                        </annotation>
                    </element>
                    <element name="perekonnanimi" type="string" minOccurs="1" maxOccurs="1" nillable="false">
                        <annotation>
                            <documentation>Perekonnanimi</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="toovoimetusType">
                <sequence>
                    <element name="otsusKpv" type="date">
                        <annotation>
                            <documentation>Otsuse kuupäev</documentation>
                        </annotation>
                    </element>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>Töövõimetuse perioodi algus</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Töövõimetuse perioodi lõpp</documentation>
                        </annotation>
                    </element>
                    <element name="enneTahtaegLoppKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Ennetähtaegse lõpetamise kuupäev</documentation>
                        </annotation>
                    </element>
                    <element name="korduvHindamineKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Korduvhindamise perioodi algus</documentation>
                        </annotation>
                    </element>
                    <element name="TMVVaartus">
                        <annotation>
                            <documentation>Töövõimetuse protsent</documentation>
                        </annotation>
                        <simpleType>
                            <restriction base="string">
                                <maxLength value="50"/>
                            </restriction>
                        </simpleType>
                    </element>
                </sequence>
            </complexType>

            <complexType name="hyvitisType">
                <sequence>
                    <element name="taotlusEsitamineKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Taotluse esitamise kuupäev</documentation>
                        </annotation>
                    </element>
                    <element name="hyvitisLiik" type="string">
                        <annotation>
                            <documentation>Hüvitise liik</documentation>
                        </annotation>
                    </element>
                    <element name="nimetus" type="string">
                        <annotation>
                            <documentation>Hüvitise nimetus</documentation>
                        </annotation>
                    </element>
                    <element name="otsusKpv" type="date">
                        <annotation>
                            <documentation>Otsuse kuupäev</documentation>
                        </annotation>
                    </element>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>Hüvitise alguse aeg</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Hüvitise lõppaeg</documentation>
                        </annotation>
                    </element>
                    <element name="enneTahtaegLoppKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Hüvitise ennetähtaegne lõpetamine</documentation>
                        </annotation>
                    </element>
                    <element name="peatamised" minOccurs="0">
                        <complexType>
                            <sequence>
                                <element name="peatamine" type="tns:peatamineType" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="rahalisedHyvitised" minOccurs="0">
                        <complexType>
                            <sequence>
                                <element name="rahalineHyvitis" type="tns:hyvitisRahalineType" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>

            <complexType name="peatamineType">
                <sequence>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>Peatamise perioodi algus</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date">
                        <annotation>
                            <documentation>Peatamise perioodi lõpp</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="hyvitisRahalineType">
                <sequence>
                    <element name="summa" type="decimal">
                        <annotation>
                            <documentation>Hüvitise summa</documentation>
                        </annotation>
                    </element>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>Hüvitise summa perioodi algus</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date">
                        <annotation>
                            <documentation>Hüvitise summa perioodi lõpp</documentation>
                        </annotation>
                    </element>
                    <element name="valjamaksed" minOccurs="0">
                        <complexType>
                            <sequence>
                                <element name="valjamakse" type="tns:valjamakseType" maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>

            <complexType name="valjamakseType">
                <sequence>
                    <element name="summa" type="decimal">
                        <annotation>
                            <documentation>Väljamakse summa</documentation>
                        </annotation>
                    </element>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>Makse perioodi algus</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date">
                        <annotation>
                            <documentation>Makse perioodi lõpp</documentation>
                        </annotation>
                    </element>
                    <element name="tehingKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Väljamakse tegemise kuupäev</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="seotusValisriigigaType">
                <sequence>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>Välisriigiga seotuse perioodi algus</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date">
                        <annotation>
                            <documentation>Välisriigiga seotuse perioodi lopp</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="kinnipeetudTulumaksType">
                <sequence>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>Arvestatud tulumaksu perioodi algus</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date">
                        <annotation>
                            <documentation>Arvestatud tulumaksu perioodi lopp</documentation>
                        </annotation>
                    </element>
                    <element name="summaKinnipeetudTulumaks" type="decimal">
                        <annotation>
                            <documentation>Arvestatud tulumaksu summa</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="puueType">
                <sequence>
                    <element name="taotlusEsitamineKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Puude taotluse esitamise aeg</documentation>
                        </annotation>
                    </element>
                    <element name="otsusKpv" type="date">
                        <annotation>
                            <documentation>Puude määramise kuupäev</documentation>
                        </annotation>
                    </element>
                    <element name="perioodAlgusKpv" type="date">
                        <annotation>
                            <documentation>Puude perioodi algus</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date">
                        <annotation>
                            <documentation>Puude perioodi lõpp</documentation>
                        </annotation>
                    </element>
                    <element name="kood" type="string">
                        <annotation>
                            <documentation>Puude raskusaste kood</documentation>
                        </annotation>
                    </element>
                    <element name="nimetus" type="string">
                        <annotation>
                            <documentation>Puude raskusaste</documentation>
                        </annotation>
                    </element>
                    <element name="enneTahtaegLoppKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Puude ennetähtaegse lõpetamise kuupäev</documentation>
                        </annotation>
                    </element>
                    <element name="korduvEkspertiisPerioodAlgusKpv" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Korduvekspertiisi taotlemise perioodi algus</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="staatusType">
                <sequence>
                    <element name="kood" type="integer" minOccurs="1">
                        <annotation>
                            <documentation>Staatuse kood</documentation>
                        </annotation>
                    </element>
                    <element name="selgitus" minOccurs="0">
                        <annotation>
                            <documentation>Staatuse kirjeldus</documentation>
                        </annotation>
                        <simpleType>
                            <restriction base="string">
                                <maxLength value="500"/>
                            </restriction>
                        </simpleType>
                    </element>
                </sequence>
            </complexType>
        </schema>

        <schema targetNamespace="http://skais2.som.ee/producer/skais2"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                xmlns:tns="http://skais2.som.ee/producer/skais2"
                xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd">

            <import namespace="http://www.w3.org/2001/XMLSchema"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd" xmlns="http://www.w3.org/2001/XMLSchema"/>

            <!-- Teenus: TKToovoimPuueHyvitisedMassTeenus päring -->
            <element name="TKToovoimPuueHyvitisedMassTeenus" type="tns:TKToovoimPuueHyvitisedMassTeenusRequest"/>

            <complexType name="TKToovoimPuueHyvitisedMassTeenusRequest">
                <sequence>
                    <element name="perioodAlgusKpv" type="date" maxOccurs="1" minOccurs="1" nillable="false">
                        <annotation>
                            <documentation>Päritava perioodi algus (kaasaarvatud)</documentation>
                        </annotation>
                    </element>
                    <element name="perioodLoppKpv" type="date" maxOccurs="1" minOccurs="1" nillable="false">
                        <annotation>
                            <documentation>Päritava perioodi lõpp (kaasaarvatud)</documentation>
                        </annotation>
                    </element>
                    <element name="viide" type="ref:swaRef" maxOccurs="1" minOccurs="0"/>
                </sequence>
            </complexType>

            <!-- Teenus: TKToovoimPuueHyvitisedMassTeenus vastus -->
            <element name="TKToovoimPuueHyvitisedMassTeenusResponse" type="tns:TKToovoimPuueHyvitisedMassTeenusResponse"/>

            <complexType name="TKToovoimPuueHyvitisedMassTeenusResponse">
                <sequence>
                    <element name="protsessID" type="long" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>Protsessi ID</documentation>
                        </annotation>
                    </element>
                    <element name="kood" type="long" minOccurs="1" nillable="false">
                        <annotation>
                            <documentation>Staatuse kood</documentation>
                        </annotation>
                    </element>
                    <element name="selgitus" type="string" minOccurs="0" maxOccurs="1">
                        <annotation>
                            <documentation>Staatuse kirjeldus</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

        </schema>

        <schema targetNamespace="http://skais2.som.ee/producer/skais2"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:tns="http://skais2.som.ee/producer/skais2"
                xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd">

            <import namespace="http://www.w3.org/2001/XMLSchema"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/>

            <!-- Teenus: TKToovoimPuueHyvitisedMassTeenusVastus päring -->
            <element name="TKToovoimPuueHyvitisedMassTeenusVastus" type="tns:TKToovoimPuueHyvitisedMassTeenusVastusRequest"/>

            <complexType name="TKToovoimPuueHyvitisedMassTeenusVastusRequest">
                <sequence>
                    <element name="protsessID" type="xsd:long">
                        <annotation>
                            <documentation>Protsessi ID</documentation>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <!-- Teenus: TKToovoimPuueHyvitisedMassTeenusVastus päring -->
            <element name="TKToovoimPuueHyvitisedMassTeenusVastusResponse" type="tns:TKToovoimPuueHyvitisedMassTeenusVastusResponse"/>

            <complexType name="TKToovoimPuueHyvitisedMassTeenusVastusResponse">
                <sequence>
                    <element name="kood" type="xsd:long">
                        <annotation>
                            <documentation>Staatuse kood</documentation>
                        </annotation>
                    </element>
                    <element name="selgitus" type="xsd:string" minOccurs="0">
                        <annotation>
                            <documentation>Staatuse kirjeldus</documentation>
                        </annotation>
                    </element>
                    <element name="viide" type="ref:swaRef" minOccurs="0"/>
                </sequence>
            </complexType>

            <element name="TKMassIsikud" type="tns:TKMassIsikud" />

            <complexType name="TKMassIsikud">
                <sequence>
                    <element name="isik" type="tns:TKMassIsik" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <complexType name="TKMassIsik">
                <sequence>
                    <element name="isikukood" type="xsd:string"/>
                    <element name="toovoimetused" type="tns:TKMassToovoimetused" minOccurs="0"/>
                    <element name="hyvitised" type="tns:TKMassHyvitised" minOccurs="0"/>
                    <element name="puuded" type="tns:TKMassPuuded" minOccurs="0"/>
                    <element name="staatus" type="tns:TKMassStaatus"/>
                </sequence>
            </complexType>

            <complexType name="TKMassToovoimetused">
                <sequence>
                    <element name="toovoimetus" type="tns:TKMassToovoimetus" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <complexType name="TKMassToovoimetus">
                <sequence>
                    <element name="perioodAlgusKpv" type="xsd:date"/>
                    <element name="perioodLoppKpv" type="xsd:date" minOccurs="0"/>
                </sequence>
            </complexType>

            <complexType name="TKMassHyvitised">
                <sequence>
                    <element name="hyvitis" type="tns:TKMassHyvitis" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <complexType name="TKMassHyvitis">
                <sequence>
                    <element name="hyvitisLiik" type="xsd:string"/>
                    <element name="nimetus" type="xsd:string"/>
                    <element name="perioodAlgusKpv" type="xsd:date"/>
                    <element name="perioodLoppKpv" type="xsd:date" minOccurs="0"/>
                    <element name="peatamised" type="tns:TKMassHyvitisPeatamised" minOccurs="0"/>
                </sequence>
            </complexType>

            <complexType name="TKMassHyvitisPeatamised">
                <sequence>
                    <element name="peatamine" type="tns:TKMassHyvitisPeatamine" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <complexType name="TKMassHyvitisPeatamine">
                <sequence>
                    <element name="perioodAlgusKpv" type="xsd:date"/>
                    <element name="perioodLoppKpv" type="xsd:date" minOccurs="0"/>
                </sequence>
            </complexType>

            <complexType name="TKMassPuuded">
                <sequence>
                    <element name="puue" type="tns:TKMassPuue" maxOccurs="unbounded"/>
                </sequence>
            </complexType>

            <complexType name="TKMassPuue">
                <sequence>
                    <element name="perioodAlgusKpv" type="xsd:date"/>
                    <element name="perioodLoppKpv" type="xsd:date" minOccurs="0"/>
                    <element name="puueLiik" type="xsd:string"/>
                    <element name="nimetus" type="xsd:string"/>
                </sequence>
            </complexType>

            <complexType name="TKMassStaatus">
                <sequence>
                    <element name="kood" type="xsd:long"/>
                    <element name="selgitus" type="xsd:string" minOccurs="0"/>
                </sequence>
            </complexType>

        </schema>

        <schema targetNamespace="http://skais2.som.ee/producer/skais2"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                xmlns:tns="http://skais2.som.ee/producer/skais2">

            <import namespace="http://www.w3.org/2001/XMLSchema"/>
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

            <!-- Teenus: TVHTaotlusYksUks -->
            <!-- | Muutja   | Versioon | Kuupäev    | Kommentaar                                                                                       -->
            <!-- | R.Elving |   0.1    | 10.11.2016 | Muudetud:complexType(name="TVHYhisAdsAadress") - eemaldatud element(name="tase")                 -->
            <!-- |          |          |            | Muudetud:complexType(name="TVHYhisTaotlusKysimus") - eemaldatud element(name="valdkondKood")     -->

            <!-- Teenus: TVHTaotlusYksUks päring -->
            <element name="TVHTaotlusYksUks" type="tns:TVHYhisTaotlusRequest"/>

            <complexType name="TVHYhisTaotlusRequest">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="taotlus" nillable="false" type="tns:TVHYhisTaotlus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotlus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisTaotlus">
                <sequence>
                    <element minOccurs="0" name="tkTaotlusId" type="long">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Unikaalne viide TK taotluse kirjele</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="skaTaotlusId" type="long">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Unikaalne viide SKA taotlusele</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="tkTaotlusNumber" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse number</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="skaTaotlusNumber" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse number</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="onTvtTaotlusEsitatud" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">On esitatud töövõimetoetuse taotlus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="onPISTaotlusEsitatud" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">On esitatud puudega isiku sotsiaaltoetuse taotlus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="taotleja" type="tns:TVHYhisTaotlusIsik">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja andmed</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="esindaja" type="tns:TVHYhisTaotlusIsik">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja esindaja andmed</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="taotluseTaitja" type="tns:TVHYhisTaotluseTaitja">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse tegelik täitja</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="esitamiseKp" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse esitamise kp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="saabumiseKp" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse saabumise kp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="saabumiseViisKood" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse saabumise viis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="nkEsitamiseKp" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Nõuetekohase taotluse esitamise kp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="otsuseSaaja" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Hindamise otsuse saaja</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="tkOtsuseSaamiseViisKood" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Hindamise otsuse saamise viis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="tkOtsusEelteavitusKood" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Hindamise otsuse eelteavitus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="klienditeenindusKood" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">TK klienditeenindus, kust otsust sooviti kätte saada</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="nousolekSkaTootleb" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja nõusolek, et SKA võib terviseandmeid pärida ja
                                    töödelda</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="nousolekTkTootleb" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja nõusolek, et TK võib terviseandmeid pärida ja
                                    töödelda</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="dokument" type="tns:TVHYhisDokument">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse dokument</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" name="hindamiseValik" type="tns:TVHYhisHindamiseValik">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, millist hindamist taotleja soovib</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="skaOtsuseEdastamiseViisKood" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">SKA otsuse edastamise viis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="skaOtsuseEelteavitus" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">SKA otsuse eelteavitus emailiga</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="2" minOccurs="0" name="puudeToetuseMakseviis" type="tns:TVHPuueMakseviis">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Puude toetuse kättesaamise viis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="onTaitmisestLoobutud" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Süsteemi on sisestatud ainult taotluse üldanmded</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="taotlejaVisiit" type="tns:TVHYhisKontroll">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja 6 kuu visiit</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="arst" type="tns:TVHYhisArstSpetsialist">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Arst</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="spetsialist" type="tns:TVHYhisArstSpetsialist">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Spetsialist</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="omandatudHaridus" type="tns:TVHYhisHaridus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja omandatud kõrgeim haridus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="oppimine" type="tns:TVHYhisKontroll">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, kas taotleja hetkel õpib</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="omandamiselHaridus" type="tns:TVHYhisHaridus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja hetkel omandatav haridustase</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="tootamine" type="tns:TVHYhisKontroll">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, kas taotleja hetkel töötab</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="toovoimeValistamine" type="tns:TVHYhisKontroll">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotlejal esineb töövõimet välistav seisund</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="onOsaline" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja on taotluse täitnud osaliselt</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="tookogemus" type="tns:TVHYhisTookogemus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Töökogemus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="vastus" type="tns:TVHYhisVastus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotlusel täidetud küsimuse vastus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisTaotlusIsik">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="tyypKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotlusisiku tüüp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="onEsitaja" nillable="false" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, kas antud taotlusisik oli ka taotluse esitaja</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="eesnimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Eesnimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="perenimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Perenimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="synniKp" nillable="false" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Sünniaeg</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="isikukood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Isikukood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="valisIsikukood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Välismaalase isikukood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="teovoimeKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja teovõime</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="arinimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja esindaja nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="arikood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja esindaja kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="aadress" nillable="false" type="tns:TVHYhisAadress">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Aadress</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="eestiResident" nillable="false" type="tns:TVHYhisKontroll">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tulumaksuseaduse tähenduses Eesti resident</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="eestiValismaalane" nillable="false" type="tns:TVHYhisKontroll">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Eestis välismaalase seaduse tähenduses</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="elabMitmesRiigis" nillable="false" type="tns:TVHYhisKontroll">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Elukoht on mitmes riigis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="valismaalTooElu" nillable="false" type="tns:TVHYhisValismaalTooElu">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Välismaal töötamise ja elamise andmed</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="esinduseTyypKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Esinduse tüüp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="esindajaKinnitus" nillable="false" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Esindaja, kes on eestkostja, kinnitus, et taotlust tohib esitada</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="volikiriEsitatud" nillable="false" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Märge selle kohta, et esindajal on olemas volikiri.</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="kontakt" nillable="false" type="tns:TVHYhisKontakt">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotlusel oleva isiku kontakt</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisKontakt">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="tyyp" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kontakti tüüp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="vaartus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kontakti väärtus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="lisainfo" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Lisainfo</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisValismaalTooElu">
                <sequence>
                    <element name="riikIsoKood3" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Riigi ISO3 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="riikNimetus" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Riigi nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="periood" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Välismaal elamise periood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="amet" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kellena töötate või töötasite</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisAadress">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="adsAadress" nillable="false" type="tns:TVHYhisAdsAadress">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">ADS struktuuris aadressi info</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="riikIsoKood3" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Riigi ISO3 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="aadressTapsustus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Aadressi täpsustus kui ADS-s ei leidu piisava täpsusega infot</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisAdsAadress">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="adrId" nillable="false" type="long">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Ads aadress ID</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="postiindeks" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Postiindeks</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase1Kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 1 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase1Nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 1 nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase2Kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 2 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase2Nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 2 nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase3Kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 3 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase3Nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 3 nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase4Kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 4 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase4Nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 4 nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase5Kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 5 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase5Nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 5 nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase6Kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 6 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase6Nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 6 nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase7Kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 7 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase7Nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 7 nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase8Kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 8 kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tase8Nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tase 8 nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHPuueMakseviis">
                <sequence>
                    <element minOccurs="0" name="alternatiivneMakseviis" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab kas tegemist on esmase või alternatiivse
                                    makseviisiga</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="makseviis" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Makseviis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="iban" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Arvelduskonto number
                                </xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="bic" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Panga BIC</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="pangaNimi" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Panga nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="kontoOmanikuNimi" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Pangakonto omaniku nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="kontoOmanikuIsikukood" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kontoomaniku isikukood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="viitenumber" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Viitenumber</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="kojukanneIsikuKulul" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kojukanne isiku kulul</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="kojukandeAadress" type="tns:TVHYhisAadress"
                    >
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kojukande aadress</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="kojukandePohjusLiikumisTakistus" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kojukande põhjus liikumistakistus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="kojukandePohjusHajaAsustus" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kojukande põhjus hajaasustus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="kojukandePohjusLisainfo" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kojukande põhjendus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisTaotluseTaitja">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="taitjaKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse tegelik täitja</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="lisainfo" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotluse täitja täpsustus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="eesnimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Eesnimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="perenimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Perenimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="telefon" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Telefon</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="ePost" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">E-mail</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="pohjendus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Miks taotluse tegelik täitja taotlust täitis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisDokument">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="sisu" nillable="false" type="base64Binary">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Fail</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="nimetus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Dokumendi nimetus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="esitamiseKp" nillable="false" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Dokumendi esitamise kp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="lisamiseKp" nillable="false" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Dokumendi lisamise kp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="dokumentTyypKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Dokumendi tüüp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="saabumiseViisKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Dokumendi saabumise viis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="lisainfo" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Lisainfo dokumendi kohta</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisHindamiseValik">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="valitud" nillable="false" type="boolean">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, kas põhjus on valitud</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="vastusKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotlemise põhjus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="lisainfo" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Täpsustus kui töövõimet tuleb hinnata teiste seaduste alustel</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisKontroll">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="kontrollKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kontrolli grupeeriv tunnus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="liikKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Kontrolli liik</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="kasutajaTulemused" nillable="false" type="tns:TVHYhisTulemus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Taotleja poolt esitatud tulemused</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="registerTulemused" nillable="false" type="tns:TVHYhisTulemus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Registrite käest saadud tulemused</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisTulemus">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="vastusKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Vastus kontrolltingimusele</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="allikasKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Registri nimi või isiku enda vastus, loendi TULEMUS_ALLIKAS väärtus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="lisamiseKp" nillable="false" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Tulemuse lisamise kuupäev</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="lisaandmed" nillable="false" type="tns:TVHYhisLisaandmed">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Lisaandmed kontrolli tulemuse kohta</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisLisaandmed">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="tyypKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Lisaandmete tüüp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="vaartus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Väärtus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nimetus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Nimetus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="perioodiAlgusKp" nillable="false" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Perioodi alguskp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="perioodiLoppKp" nillable="false" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Perioodi lõppkp</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisArstSpetsialist">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="tyypKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, kas tegemist on arsti või spetsialistiga (süsteemne)</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="liikKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, arsti või spetsialisti liiki taotlusvormil</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nimi" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Arsti/eksperdi nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="lisainfo" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Arsti eriala, spetsialisti muu info</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="asutus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Asutus kus arst või spetsialist töötab</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="kontakt" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Arsti/spetsialisti telefon/e-mail</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisHaridus">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="tyypKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, kas tegemist on omandatud või omandamisel haridusega</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="taseKood" nillable="false" type="tns:domeenVaartus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Haridustase</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="eriala" nillable="false" type="tns:TVHYhisEriala">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Omandatud/omandamisel eriala</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisEriala">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="eriala" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Eriala</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisTookogemus">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="toosuhteLoppemisePohjus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Töösuhte lõppemise põhjus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="amet" nillable="false" type="tns:TVHYhisAmet">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Amet</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisAmet">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="amet" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Amet või tööülesanne</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="tookogemusPikkus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Töötatud aeg</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisVastus">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="taotlusKysimus" nillable="false" type="tns:TVHYhisTaotlusKysimus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Viide küsimusele</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tekst" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Vastus vabatekstina</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="taotlusKysimusValik" nillable="false" type="tns:TVHYhisTaotlusKysimusValik">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Viide valikvastusele</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="valitud" nillable="false" type="integer">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, kas vastus on valitud</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisTaotlusKysimus">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="liikKood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Näitab, mis liiki küsimusega tegu on</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="kysimusKood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Küsimuse unikaalne kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="alamKysimus" nillable="false" type="tns:TVHYhisTaotlusKysimus">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Alamküsimus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="TVHYhisTaotlusKysimusValik">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="vastusKood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Vastuse unikaalne kood TAOTLU_KYSIMUS_VALIK</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="taotlusKysimusKood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Viide küsimusele TAOTLUS_KYSIMUS</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <complexType name="domeenVaartus">
                <sequence>
                    <element maxOccurs="1" minOccurs="1" name="kood" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Loendi kood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="1" name="nimetus" nillable="false" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Loendi väärtus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <!-- Teenus: TVHYhisTaotlus vastus -->
            <element name="TVHTaotlusYksUksResponse" type="tns:TVHYhisTaotlusResponse"/>

            <complexType name="TVHYhisTaotlusResponse">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="tkTaotlusId" nillable="false" type="long">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Unikaalne viide TK taotluse kirjele</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="skaTaotlusId" nillable="false" type="long">
                        <annotation>
                            <appinfo>
                                <xrd:title xml:lang="et">Unikaalne viide SKA taotlusele</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <!-- SKAIS2 wsdl:message -->
    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="requestHash" element="xrd:requestHash"/>
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>

    <wsdl:message name="TVHTaotlusYksUksRequest">
        <wsdl:part name="body" element="tns:TVHYhisTaotlusRequest"/>
    </wsdl:message>
    <wsdl:message name="TVHTaotlusYksUksResponse">
        <wsdl:part name="body" element="tns:TVHYhisTaotlusResponse"/>
    </wsdl:message>
	<wsdl:message name="TKToovoimPuueHyvitised">
        <wsdl:part name="body" element="tns:TKToovoimPuueHyvitised"/>
    </wsdl:message>
    <wsdl:message name="TKToovoimPuueHyvitisedResponse">
        <wsdl:part name="body" element="tns:TKToovoimPuueHyvitisedResponse"/>
    </wsdl:message>
    <wsdl:message name="TKToovoimPuueHyvitisedMassTeenus">
        <wsdl:part name="body" element="tns:TKToovoimPuueHyvitisedMassTeenus"/>
    </wsdl:message>
    <wsdl:message name="TKToovoimPuueHyvitisedMassTeenusResponse">
        <wsdl:part name="body" element="tns:TKToovoimPuueHyvitisedMassTeenusResponse"/>
    </wsdl:message>
    <wsdl:message name="TKToovoimPuueHyvitisedMassTeenusVastus">
        <wsdl:part name="body" element="tns:TKToovoimPuueHyvitisedMassTeenusVastus"/>
    </wsdl:message>
    <wsdl:message name="TKToovoimPuueHyvitisedMassTeenusVastusResponse">
        <wsdl:part name="body" element="tns:TKToovoimPuueHyvitisedMassTeenusVastusResponse"/>
    </wsdl:message>

    <!-- SKAIS2 portType -->
    <wsdl:portType name="skais2PortType">
        <wsdl:operation name="TVHTaotlusYksUks">
            <wsdl:documentation>
                <xrd:title>Töövõimehindamise taotlus - üks uks</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:TVHTaotlusYksUksRequest"/>
            <wsdl:output message="tns:TVHTaotlusYksUksResponse"/>
        </wsdl:operation>
		<wsdl:operation name="TKToovoimPuueHyvitised">
            <wsdl:documentation>
                <xrd:title>TK: töövõimetuste, puuete ja hüvitiste andmed - üksikpäring</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:TKToovoimPuueHyvitised"/>
            <wsdl:output message="tns:TKToovoimPuueHyvitisedResponse"/>
        </wsdl:operation>
        <wsdl:operation name="TKToovoimPuueHyvitisedMassTeenus">
            <wsdl:documentation>
                <xrd:title>TK: töövõimetuste, puuete ja hüvitiste andmed - masspäring</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:TKToovoimPuueHyvitisedMassTeenus"/>
            <wsdl:output message="tns:TKToovoimPuueHyvitisedMassTeenusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="TKToovoimPuueHyvitisedMassTeenusVastus">
            <wsdl:documentation>
                <xrd:title>TK: töövõimetuste, puuete ja hüvitiste andmed - masspäring vastus</xrd:title>
            </wsdl:documentation>
            <wsdl:input message="tns:TKToovoimPuueHyvitisedMassTeenusVastus"/>
            <wsdl:output message="tns:TKToovoimPuueHyvitisedMassTeenusVastusResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <!-- SKAIS2 binding -->
    <wsdl:binding name="skais2Binding" type="tns:skais2PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TVHTaotlusYksUks">
            <soap:operation soapAction="http://TURVASERVER.XTEE/cgi-bin/consumer_proxy" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
		<wsdl:operation name="TKToovoimPuueHyvitised">
            <soap:operation soapAction="http://TURVASERVER.XTEE/cgi-bin/consumer_proxy" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TKToovoimPuueHyvitisedMassTeenus">
            <soap:operation soapAction="http://TURVASERVER.XTEE/cgi-bin/consumer_proxy" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TKToovoimPuueHyvitisedMassTeenusVastus">
            <soap:operation soapAction="http://TURVASERVER.XTEE/cgi-bin/consumer_proxy" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="requestHash" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="skais2Service">
        <wsdl:port name="skais2" binding="tns:skais2Binding">
            <soap:address location="http://TURVASERVER.XTEE/cgi-bin/consumer_proxy"/>
            <xrd:title>Sotsiaalkaitse infosüsteem</xrd:title>
            <xrd:address producer="skais2"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
