kauri-rmviki/client-service/kr/src/main/resources/notarTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://producers.kr.xtee.riik.ee/producer/kr"
	xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:pref="http://klassifikaatorid"
	targetNamespace="http://producers.kr.xtee.riik.ee/producer/kr"
	elementFormDefault="unqualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<include schemaLocation="kr.klassifikaator.xsd" />
	<include schemaLocation="ads_types.xsd" />	

	<import namespace="http://klassifikaatorid" 
		schemaLocation="klassifikaator.xsd" />

	<import namespace="http://schemas.xmlsoap.org/soap/encoding/"		
		schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />


	<import namespace="http://x-tee.riik.ee/xsd/xtee.xsd"
		schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd" />

	<complexType name="notaraadresType">
		<sequence>
			<element name="maakond" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Maakond</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="vald" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Vald / Linn</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kyla" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Küla / Alev</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="aadress" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Aadress</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<!--ADS -i algus-->
			<element name="ADR_ID" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Viit aadressi kirjele ADSis</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="koodaadress" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Aadress esitatuna aadressi koodina</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<!--ADS -i lõpp-->
			<element name="korter" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Korteri nr.</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="notarkinnistuType">
		<sequence>
			<element name="kinnistu_nimi" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kinnistu nimi</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="katastritunnus" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Katastritunnus</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="vana_kinnistu_nr" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Vana kinnistu number</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="uus_kinnistu_nr" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Uus kinnistu number</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kinnistu_piirkond"
				type="tns:x_kinnistusjaoskond" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kinnistu piirkond</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="notaromanikType">
		<sequence>
			<element name="eesnimi" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Eesnimi</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="perenimi" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Perenimi</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kood" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>
							Isikukood / Äriregistrikood (deprecated)
						</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kood2" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>
							Isikukood / Äriregistrikood
						</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="synniaeg" type="date" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Sünniaeg</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="jur_isik_nimi" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Juriidilise isiku nimi</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kehtetu" type="tns:x_kehtivus" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kehtivus</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="kanneType">
		<sequence>
			<element name="kandenr" type="integer" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kande nr.</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kehtivus" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kehtivus</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kandetekst" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kandetekst</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kandealus" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kande alus</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kaasomandi_nr" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kaasomandi nr.</xtee:title>
						<xtee:notes>
							Omandiosa, mida antud õigus või kitsendus
							koormab
						</xtee:notes>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<xsd:element name="kande_liik" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kande liik</xtee:title>						
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</sequence>
	</complexType>

	<complexType name="detailandmedType">
		<sequence>
			<element name="kinnistusosakond" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kinnistusosakond</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="jaoskond" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Jaoskond</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="uus_regnr" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Uus registri nr.</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="vana_regnr" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Vana registri nr.</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="liik" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kinnistu liik</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kinnistunimi" type="string"
				nillable="true">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kinnistu nimi</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="korter" type="string" nillable="true">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Korter</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="om" type="string" nillable="true">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Õiguslik märge</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="teade" type="string" nillable="true">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Teade</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="avaldused">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Avaldused</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="avaldus"
									type="tns:avaldusType" maxOccurs="unbounded" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo>
											<xtee:title>
												Avaldus
											</xtee:title>
										</xsd:appinfo>
									</xsd:annotation>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
			<element name="kandetekstid_genereerimisel"
				type="boolean">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>
							Kandetekstid genereerimisel
						</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="avaldusType">
		<sequence>
			<element name="avaldusenr" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Avalduse nr.</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="registreeritud" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Registreeritud</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="notar" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Notar / Täitur</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="tehingunr" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Tehingu nr.</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<xsd:element name="avalduse_esitaja_liik" type="string" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Esitaja liik</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="avalduse_liik" type="string" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Avalduse liik</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="markus" type="string" maxOccurs="1" minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Märkus</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</sequence>
	</complexType>

	<complexType name="maatykkDetailType">
		<sequence>
			<element name="tunnus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Katastritunnus</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="pindala" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Pindala</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="pindalayhik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Pindala ühik</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="aadressid">
				<annotation>
					<appinfo>
						<xtee:title>Aadressid</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="aadress"
									type="tns:aadressType" minOccurs="0" maxOccurs="unbounded">
									<annotation>
										<appinfo>
											<xtee:title>
												Aadress
											</xtee:title>
										</appinfo>
									</annotation>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
			<element name="sihtotstarbed" maxOccurs="1" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Sihtotstarbed</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="sihotstarve_item"
									type="tns:sihtotstarveType" maxOccurs="unbounded"
									minOccurs="0">
									<annotation>
										<appinfo>
											<xtee:title>
												Sihtotstarve
											</xtee:title>
										</appinfo>
									</annotation>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
			<element name="plaanialusel" type="xsd:boolean">
				<annotation>
					<appinfo>
						<xtee:title>
							Moodustatud plaani ja kaardimaterjali
							alusel.
						</xtee:title>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="aadressType">
		<sequence>
			<element name="aadress_haldusyksus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Haldusüksus</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="aadresstanav" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Tänav</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="ehak" type="string">
				<annotation>
					<appinfo>
						<xtee:title>EHAK</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="riik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Riik</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="aadressobjekt" type="tns:aadressobjektType" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="reaalosaDetailType">
		<sequence>
			<element name="nr" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Reaalosa nr.</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="tahistus_plaanil" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Tähistus plaanil</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="liik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Liik</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="yldpind" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Üldpind</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="motteline_osa" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Mõttelise osa suurus</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="aadressobjekt" type="tns:aadressobjektType" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="kanne1jaguType">
		<complexContent>
			<extension base="tns:kanneType">
				<sequence>
					<element name="katastriyksused" maxOccurs="1"
						minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Katastriüksused</xtee:title>
							</appinfo>
						</annotation>
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="katastriyksus"
											type="tns:maatykkDetailType" maxOccurs="unbounded"
											minOccurs="1">
											<annotation>
												<appinfo>
													<xtee:title>
														Katastriüksus
													</xtee:title>
												</appinfo>
											</annotation>
										</element>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
					<element name="reaalosa_info"
						type="tns:reaalosaDetailType" maxOccurs="1" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Reaalosa info</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="kanne2jaguType">
		<complexContent>
			<extension base="tns:kanneType">
				<sequence>

					<element name="omandid" maxOccurs="1"
						minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Omandid</xtee:title>
							</appinfo>
						</annotation>
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="omand"
											maxOccurs="unbounded" minOccurs="0">
											<annotation>
												<appinfo>
													<xtee:title>
														Omand
													</xtee:title>
												</appinfo>
											</annotation>
											<complexType>
												<sequence>
													<element name="liik"
														type="string">
														<annotation>
															<appinfo>
																<xtee:title>
																	Omandi
																	liik
																</xtee:title>
															</appinfo>
														</annotation>
													</element>
													<element
														name="omandiosa_lugeja" type="string">
														<annotation>
															<appinfo>
																<xtee:title>
																	Omandiosa
																	lugeja
																</xtee:title>
															</appinfo>
														</annotation>
													</element>
													<element
														name="omandiosa_nimetaja" type="string">
														<annotation>
															<appinfo>
																<xtee:title>
																	Omandiosa
																	nimetaja
																</xtee:title>
															</appinfo>
														</annotation>
													</element>
													<element
														name="isikomandis" type="boolean">
														<annotation>
															<appinfo>
																<xtee:title>
																	IsikOmandis
																</xtee:title>
															</appinfo>
														</annotation>
													</element>
													<element
														name="isikud">
														<annotation>
															<appinfo>
																<xtee:title>
																	Omandi
																	isikud
																</xtee:title>
															</appinfo>
														</annotation>
														<complexType>
															<complexContent>
																<restriction
																	base="SOAP-ENC:Array">
																	<sequence>
																		<element
																			name="isik" type="tns:isikType" maxOccurs="unbounded"
																			minOccurs="0">
																			<annotation>
																				<appinfo>
																					<xtee:title>
																						Isik
																					</xtee:title>
																				</appinfo>
																			</annotation>
																		</element>
																	</sequence>
																</restriction>
															</complexContent>
														</complexType>
													</element>
													<element
														name="alguskpv" type="dateTime">
														<annotation>
															<appinfo>
																<xtee:title>
																	Omandi
																	alguskuupäev
																</xtee:title>
															</appinfo>
														</annotation>
													</element>
													<element
														name="loppkpv" type="dateTime">
														<annotation>
															<appinfo>
																<xtee:title>
																	Omandi
																	lõppkuupäev
																</xtee:title>
															</appinfo>
														</annotation>
													</element>
													<element
														name="paranduskanne" type="boolean">
														<annotation>
															<appinfo>
																<xtee:title>
																	Paranduskanne
																</xtee:title>
															</appinfo>
														</annotation>
													</element>
													<element
														name="kaasomandi_nr" type="integer" maxOccurs="1"
														minOccurs="0">
														<annotation>
															<appinfo>
																<xtee:title>
																	Kaasomandi
																	nr.
																</xtee:title>
															</appinfo>
														</annotation>
													</element>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</restriction>
							</complexContent>

						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="isikType">
		<sequence>
			<element name="liik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Isiku liik</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="tyyp" type="pref:isik_lyh_kl">
				<annotation>
					<appinfo>
						<xtee:title>Isiku tüüp</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="eesnimi" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Eesnimi</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="perenimi_firma" type="string">
				<annotation>
					<appinfo>
						<xtee:title>
							Liignimi / Ettevotja nimi
						</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="synniaeg" type="date">
				<annotation>
					<appinfo>
						<xtee:title>Sünniaeg</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kodakondsus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kodakondsus</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="isiku_koodid">
				<annotation>
					<appinfo>
						<xtee:title>Isiku koodid</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="isiku_kood"
									maxOccurs="unbounded" minOccurs="0">
									<annotation>
										<appinfo>
											<xtee:title>
												Isiku kood
											</xtee:title>
										</appinfo>
									</annotation>
									<complexType>
										<sequence>
											<element name="kood"
												type="string">
												<annotation>
													<appinfo>
														<xtee:title>
															Kood
														</xtee:title>
													</appinfo>
												</annotation>
											</element>
											<element
												name="valjaandja_riik" type="string">
												<annotation>
													<appinfo>
														<xtee:title>
															Väljaandja
															riik
														</xtee:title>
													</appinfo>
												</annotation>
											</element>
										</sequence>
									</complexType>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
			<element name="aadressid">
				<annotation>
					<appinfo>
						<xtee:title>Kontaktaadressid</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="aadress"
									type="tns:aadressType" maxOccurs="unbounded" minOccurs="0">
									<annotation>
										<appinfo>
											<xtee:title>
												Aadress
											</xtee:title>
										</appinfo>
									</annotation>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="sihtotstarveType">
		<sequence>
			<element name="otstarve" type="pref:sihtotstarve_kl">
				<annotation>
					<appinfo>
						<xtee:title>Otstarve</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="protsent" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Protsent</xtee:title>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="detailandmedv2Type">
		<sequence>
			<element name="kinnistusosakond" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kinnistusosakond</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="jaoskond" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Jaoskond</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="uus_regnr" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Uus registri nr.</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="vana_regnr" type="integer">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Vana registri nr.</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="liik" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kinnistu liik</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="kinnistunimi" type="string"
				nillable="true">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Kinnistu nimi</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="korter" type="string" nillable="true">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Korter</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="om" type="string" nillable="true">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Õiguslik märge</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="teade" type="string" nillable="true">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Teade</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="avaldused">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Avaldused</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="avaldus"
									type="tns:avaldusType" maxOccurs="unbounded" minOccurs="0">
									<xsd:annotation>
										<xsd:appinfo>
											<xtee:title>
												Avaldus
											</xtee:title>
										</xsd:appinfo>
									</xsd:annotation>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
			<element name="kandetekstid_genereerimisel"
				type="boolean">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>
							Kandetekstid genereerimisel
						</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="digitaalne_toimik"
				type="boolean">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>
							Digitaalne toimik
						</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
		</sequence>
	</complexType>

</xsd:schema>