client-service/trelvaregister/src/main/resources/trelvaregister.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by Janis (Carlsman) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Janis -->
<definitions 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:s="http://www.w3.org/2001/XMLSchema" 
	xmlns:trelvaregister="http://producers.trelvaregister.xtee.riik.ee/producer/trelvaregister" 
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
	xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	targetNamespace="http://producers.trelvaregister.xtee.riik.ee/producer/trelvaregister">
	<types>
		<schema targetNamespace="http://producers.trelvaregister.xtee.riik.ee/producer/trelvaregister" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>
      		<import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="syndmusdetail">
				<sequence>
					<element name="registreerija" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Registreerija</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="syndmusliik" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Sündmus</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="toimumise_kp" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Toimumise kp.</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="dokument_nr" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Dokument nr.</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tehase_nr" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Tehase nr.</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="relvdetail">
				<sequence>
					<element name="isikuroll" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Roll</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tehasenr" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Tehase nr.</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mark" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Mark</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mudel" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Mudel</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaliiber" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Kaliibritähis</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="regkp" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Reg. kuupäev</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="relvdetail_nimekiri">
				<!-- relva detailandmed teenuse isik_relvaload_relvad jaoks-->
				<sequence>
					<element name="relv_id" type="integer" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Relva identifikaator.</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tehasenr" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Tehase nr.</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mark" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Mark</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mudel" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Mudel</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaliiber" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Kaliibritähis</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="regkp" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Reg. kuupäev</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="relvdetail_isik_relvaload">
				<sequence>
					<element name="relv_id" type="integer" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Relva identifikaator.</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="staatus" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Staatus</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tehasenr" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Tehase nr.</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mark" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Mark</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mudel" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Mudel</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaliiber" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Kaliibritähis</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="liik" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Liik</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="olek" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Olek</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tyyp" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Tüüp</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="relvalubadetail">
				<sequence>
					<element name="liik" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Liik</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="loanr" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Loa number</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="valjastkp" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Väljastatud</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kehtivkp" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Kehtiv kuni</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<!-- relv_ajalugu teenuse jaoks  loa detailandmete struktuur-->
			<complexType name="relvalubadetail_relv_ajalugu">
				<sequence>
					<element name="liik" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Liik</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="loanr" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Loa number</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="valjastkp" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Kehtivuse algus</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kehtivkp" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Kehtivuse lõpp</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="olek" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Olek</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="syndmusResponse">
				<all>
					<element name="syndmused_jada">
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:syndmusdetail"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="relvResponse">
				<all>
					<element name="relvad_jada">
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:relvdetail"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="relvalubaResponse">
				<all>
					<element name="relvaload_jada">
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:relvalubadetail"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="klassifikaatorid_paring">
				<sequence>
					<element name="tunnus" type="integer">
						<annotation>
							<appinfo>
								<xtee:title>Klassifikaatori tunnus</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="klassifikaatorid_vastus">
				<all>
					<element name="klassif_jada">
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:klassifdetail"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="TTRR04_paring">
				<sequence>
					<element name="eesnimi" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Eesnimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="perenimi" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Perekonnanimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="synniaeg" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Sünniaeg</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="isikukood" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Isikukood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="asutus" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Asutuse nimetus</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kood" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Asutuse registrikood</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="TTRR04_vastus">
				<all>
					<element name="isikud_jada">
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:isikdetail"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="TTRR05_paring">
				<sequence>
					<element name="ehak" type="string">
						<annotation>
							<appinfo>
								<xtee:title>EHAK kood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tanavtalu" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Tänav/talu</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="maja" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Maja nr</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="korter" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Korter</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="TTRR05_vastus">
				<all>
					<element name="isikud_jada">
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:isikdetail"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="TTRR06_paring">
				<sequence>
					<element name="isik_id" type="integer">
						<annotation>
							<appinfo>
								<xtee:title>Isiku identifikaator</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="isikukood" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Isikukood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kood" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Asutuse registrikood</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="TTRR06_vastus">
				<all>
					<element name="eesnimi" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Eesnimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="perenimi" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Perekonnanimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="synniaeg" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Sünniaeg</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="isikukood" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Isikukood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="asutus" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Asutuse nimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kood" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Asutuse registrikood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="ehak" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>EHAK-kood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tanavtalu" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Tänav/talu</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="maja" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Maja nr</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="korter" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Korteri nr</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="isikrelvaload_jada">
						<annotation>
							<appinfo>
								<xtee:title>Isiku relvaload</xtee:title>
							</appinfo>
						</annotation>
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:isiklubadetail">
											<annotation>
												<appinfo>
													<xtee:title>Relvaluba</xtee:title>
												</appinfo>
											</annotation>
										</element>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="TTRR07_paring">
				<sequence>
					<element name="liik" type="integer">
						<annotation>
							<appinfo>
								<xtee:title>Relva liik</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="olek" type="integer">
						<annotation>
							<appinfo>
								<xtee:title>Relva olek</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="staatus" type="integer">
						<annotation>
							<appinfo>
								<xtee:title>Relva staatus</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tehasenr" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Tehase nr</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mark" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Mark</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mudel" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Mudel</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaliiber" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Kaliibritähis</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="TTRR07_vastus">
				<all>
					<element name="relvad_jada">
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:relvdetail_nimekiri"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="TTRR08_paring">
				<sequence>
					<element name="relv_id" type="integer">
						<annotation>
							<appinfo>
								<xtee:title>Relva identifikaator</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="TTRR08_vastus">
				<all>
					<element name="tehasenr" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Relva tehase nr</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mark" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Relva mark</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="mudel" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Relva mudel</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaliiber" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Relva kaliibritähised</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="isikrelvaload_jada">
						<annotation>
							<appinfo>
								<xtee:title>Relvaga seotud isikud</xtee:title>
							</appinfo>
						</annotation>
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:relvisikloaddetail"/>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</all>
			</complexType>
			<complexType name="klassifdetail">
				<sequence>
					<element name="klassif_id" type="integer">
						<annotation>
							<appinfo>
								<xtee:title>Klassifikaatori ID</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="vaartus" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Klassifikaatori nimetus</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="isikdetail">
				<sequence>
					<element name="isik_id" type="integer" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Isiku ID</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="eesnimi" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Eesnimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="perenimi" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Perekonnanimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="synniaeg" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Sünniaeg</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="isikukood" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Isikukood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="asutus" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Asutuse nimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kood" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Asutuse registrikood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="ehak" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>EHAK-kood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tanavtalu" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Tänav/talu</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="maja" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Maja nr</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="korter" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Korteri nr</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<!-- isik_relvaload_relvad - ühe isiku relvalubade ning sinna kuuluvate relvadega väljastamiseks -->
			<complexType name="isiklubadetail">
				<sequence>
					<element name="liik" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Liik</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="loanr" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Loa number</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="valjastkp" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Väljastatud</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kehtivkp" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Kehtiv kuni</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="olek" type="string">
						<annotation>
							<appinfo>
								<xtee:title>Olek</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="relvalubarelvad_jada">
						<annotation>
							<appinfo>
								<xtee:title>Relvaloaga seotud relvad</xtee:title>
							</appinfo>
						</annotation>
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:relvdetail_isik_relvaload">
											<annotation>
												<appinfo>
													<xtee:title>Relv</xtee:title>
												</appinfo>
											</annotation>
										</element>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<!-- relv_ajalugu - relvaga seotud isikud ning selle isiku relvavaload -->
			<complexType name="relvisikloaddetail">
				<sequence>
					<element name="eesnimi" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Eesnimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="perenimi" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Perekonnanimi</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="isikukood" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Isikukood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="asutus" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Asutus</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kood" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Asutuse registrikood</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="roll" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Roll</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="seosAlgus" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Seose algus</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="seosLopp" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Seose lõpp</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="relvaload_jada">
						<annotation>
							<appinfo>
								<xtee:title>Relva ja isikuga seotud relvaload</xtee:title>
							</appinfo>
						</annotation>
						<complexType>
							<complexContent>
								<restriction base="SOAP-ENC:Array">
									<sequence>
										<element name="item" minOccurs="0" maxOccurs="unbounded" type="trelvaregister:relvalubadetail_relv_ajalugu">
											<annotation>
												<appinfo>
													<xtee:title>Relvaluba</xtee:title>
												</appinfo>
											</annotation>
										</element>
									</sequence>
								</restriction>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</complexType>
		</schema>
	</types>
	<message name="standardpais">
		<part name="pais" type="xtee:hdrstd"/>
	</message>
	<message name="klassifikaatoridSoapIn">
		<part name="keha" type="trelvaregister:klassifikaatorid_paring"/>
	</message>
	<message name="klassifikaatoridSoapOut">
		<part name="paring" type="trelvaregister:klassifikaatorid_paring"/>
		<part name="keha" type="trelvaregister:klassifikaatorid_vastus"/>
	</message>
	<message name="TTRR04SoapIn">
		<part name="keha" type="trelvaregister:TTRR04_paring"/>
	</message>
	<message name="TTRR04SoapOut">
		<part name="paring" type="trelvaregister:TTRR04_paring"/>
		<part name="keha" type="trelvaregister:TTRR04_vastus"/>
	</message>
	<message name="TTRR05SoapIn">
		<part name="keha" type="trelvaregister:TTRR05_paring"/>
	</message>
	<message name="TTRR05SoapOut">
		<part name="paring" type="trelvaregister:TTRR05_paring"/>
		<part name="keha" type="trelvaregister:TTRR05_vastus"/>
	</message>
	<message name="TTRR06SoapIn">
		<part name="keha" type="trelvaregister:TTRR06_paring"/>
	</message>
	<message name="TTRR06SoapOut">
		<part name="paring" type="trelvaregister:TTRR06_paring"/>
		<part name="keha" type="trelvaregister:TTRR06_vastus"/>
	</message>
	<message name="TTRR07SoapIn">
		<part name="keha" type="trelvaregister:TTRR07_paring"/>
	</message>
	<message name="TTRR07SoapOut">
		<part name="paring" type="trelvaregister:TTRR07_paring"/>
		<part name="keha" type="trelvaregister:TTRR07_vastus"/>
	</message>
	<message name="TTRR08SoapIn">
		<part name="keha" type="trelvaregister:TTRR08_paring"/>
	</message>
	<message name="TTRR08SoapOut">
		<part name="paring" type="trelvaregister:TTRR08_paring"/>
		<part name="keha" type="trelvaregister:TTRR08_vastus"/>
	</message>
	<portType name="rrSoap">
		<operation name="klassifikaatorid">
			<documentation><xtee:title>Klassifikaatorid</xtee:title></documentation>
			<input message="trelvaregister:klassifikaatoridSoapIn"/>
			<output message="trelvaregister:klassifikaatoridSoapOut"/>
		</operation>
		<operation name="isikud_isikuandmete_alusel">
			<documentation><xtee:title>Isikud isikuandmete alusel</xtee:title></documentation>
			<input message="trelvaregister:TTRR04SoapIn"/>
			<output message="trelvaregister:TTRR04SoapOut"/>
		</operation>
		<operation name="isikud_aadressi_alusel">
			<documentation><xtee:title>Isikud aadressi alusel</xtee:title></documentation>
			<input message="trelvaregister:TTRR05SoapIn"/>
			<output message="trelvaregister:TTRR05SoapOut"/>
		</operation>
		<operation name="isik_relvaload_relvad">
			<documentation><xtee:title>Isiku relvaload ja relvad</xtee:title></documentation>
			<input message="trelvaregister:TTRR06SoapIn"/>
			<output message="trelvaregister:TTRR06SoapOut"/>
		</operation>
		<operation name="relvad_nimekiri">
			<documentation><xtee:title>Relvade nimekiri</xtee:title></documentation>
			<input message="trelvaregister:TTRR07SoapIn"/>
			<output message="trelvaregister:TTRR07SoapOut"/>
		</operation>
		<operation name="relv_ajalugu">
			<documentation><xtee:title>Relva ajalugu</xtee:title></documentation>
			<input message="trelvaregister:TTRR08SoapIn"/>
			<output message="trelvaregister:TTRR08SoapOut"/>
		</operation>
	</portType>
	<binding name="rrSoap" type="trelvaregister:rrSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="klassifikaatorid">
			<soap:operation style="document"/>
			<xtee:version>v1</xtee:version>
			<input/>
			<output/>
		</operation>
		<operation name="isikud_isikuandmete_alusel">
			<soap:operation style="document"/>
			<xtee:version>v1</xtee:version>
			<input/>
			<output/>
		</operation>
		<operation name="isikud_aadressi_alusel">
			<soap:operation style="document"/>
			<xtee:version>v1</xtee:version>
			<input/>
			<output/>
		</operation>
		<operation name="isik_relvaload_relvad">
			<soap:operation style="document"/>
			<xtee:version>v1</xtee:version>
			<input/>
			<output/>
		</operation>
		<operation name="relvad_nimekiri">
			<soap:operation style="document"/>
			<xtee:version>v1</xtee:version>
			<input/>
			<output/>
		</operation>
		<operation name="relv_ajalugu">
			<soap:operation style="document"/>
			<xtee:version>v1</xtee:version>
			<input/>
			<output/>
		</operation>
	</binding>
	<service name="trelvaregister">
		<port name="rrSoap" binding="trelvaregister:rrSoap">
			<soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
			<xtee:title>Teenistus- ja tsiviilrelvade riiklik register</xtee:title>
			<xtee:address producer="trelvaregister"/>
		</port>
	</service>
</definitions>
