client-service/raks/src/main/resources/raks.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://raks.x-road.eu/producer/" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://raks.x-road.eu/producer/">
  <wsdl:types>
    <schema targetNamespace="http://raks.x-road.eu/producer/" xmlns="http://www.w3.org/2001/XMLSchema">

      <import namespace="http://x-road.eu/xsd/x-road.xsd" schemaLocation="http://x-road.eu/xsd/x-road.xsd"/>

      <complexType name="taotleja_kaitse_saaja_v1_input">
	<sequence>
	  <element name="isikukood" type="string" minOccurs="0">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Isikukood</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="vptunnistus_nr" type="string" minOccurs="0">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Varjupaigataotleja tunnistuse number</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="kuupaev" type="date" minOccurs="0">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Kuupäev</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	</sequence>
      </complexType>
      
      <complexType name="taotleja_kaitse_saaja_v1_output">
	<sequence>
	  <element name="viga" type="string" minOccurs="0">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Viga</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="andmed" type="tns:andmed" minOccurs="0">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Leitud andmed</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	</sequence>
      </complexType>
      
      <complexType name="andmed">
	<sequence>
	  <element name="isikukood" type="string">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Isikukood</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="eesnimi" type="string">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Eesnimi</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="perenimi" type="string">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Perekonnanimi</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="kaitse" type="boolean">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Kas taotlejale on määratud kaitse ja elamisluba</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="vptunnistus" type="tns:vptunnistus" minOccurs="0">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Varjupaigataotleja tunnistus</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="lahkumine" type="date" minOccurs="0">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Eestist lahkumise kuupäev</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	</sequence>
      </complexType>
      
      <complexType name="vptunnistus">
	<sequence>
	  <element name="vptunnistus_nr" type="string">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Tunnistuse nr</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="kehtiv_alates" type="date">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Kehtivuse algus</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="kehtiv_lopp" type="date">
	    <annotation>
              <appinfo>
		<xrd:title xml:lang="et">Kehtivuse lõpp</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	  <element name="tootamisoigus" type="boolean">
	    <annotation>
              <appinfo>
					<xrd:title xml:lang="et">Kas on õigus töötada</xrd:title>
              </appinfo>
	    </annotation>
	  </element>
	</sequence>
      </complexType>
      
      <element name="taotleja_kaitse_saaja_v1">
        <complexType>
          <sequence>
            <element name="request" type="tns:taotleja_kaitse_saaja_v1_input"/>
          </sequence>
        </complexType>
      </element>

      <element name="taotleja_kaitse_saaja_v1Response">
        <complexType>
          <sequence>
            <element name="request" type="tns:taotleja_kaitse_saaja_v1_input"/>
            <element name="response" type="tns:taotleja_kaitse_saaja_v1_output"/>
          </sequence>
        </complexType>
      </element>

    </schema>
  </wsdl:types>

  <message name="standardheader">
    <part name="client" element="xrd:client"/>
    <part name="service" element="xrd:service"/>
    <part name="id" element="xrd:id"/>
    <part name="userId" element="xrd:userId"/>
    <part name="protocolVersion" element="xrd:protocolVersion"/>
  </message>

  <message name="taotleja_kaitse_saaja_v1">
    <part name="body" element="tns:taotleja_kaitse_saaja_v1"/>
  </message>

  <message name="taotleja_kaitse_saaja_v1Response">
    <part name="body" element="tns:taotleja_kaitse_saaja_v1Response"/>
  </message>

  <portType name="xporttype">
    <operation name="taotleja_kaitse_saaja_v1">
      <documentation>
  <xrd:title xml:lang="et">Töötukassa päring RAKSist</xrd:title>
      </documentation>
      <input message="tns:taotleja_kaitse_saaja_v1"/>
      <output message="tns:taotleja_kaitse_saaja_v1Response"/>
    </operation>
  </portType>

  <binding name="xbinding" type="tns:xporttype">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <operation name="taotleja_kaitse_saaja_v1">
      <xrd:version>v1</xrd:version>
      <soap:operation soapAction="" style="document"/>
      
      <input>
  <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="client" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
      </input>
      <output>
        <soap:body parts="body" use="literal"/>
        <soap:header message="tns:standardheader" part="client" use="literal"/>
        <soap:header message="tns:standardheader" part="service" use="literal"/>
        <soap:header message="tns:standardheader" part="id" use="literal"/>
        <soap:header message="tns:standardheader" part="userId" use="literal"/>
        <soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="raks">
    <port name="xport" binding="tns:xbinding">
      <soap:address location="https://raks-app-n1.smit.sise/raks/adapter"/>
      <xrd:title xml:lang="et">RAKS</xrd:title>
    </port>
  </service>
</wsdl:definitions>