client-service/emtav5/src/main/resources/emtav5.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://emtav5.ee.x-rd.net/producer/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xrd="http://x-rd.net/xsd/xroad.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://emtav5.ee.x-rd.net/producer/">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="unqualified"
			targetNamespace="http://emtav5.ee.x-rd.net/producer/">
			<import namespace="http://x-rd.net/xsd/xroad.xsd"
				schemaLocation="http://x-rd.net/xsd/xroad.xsd" />
			<import namespace="http://www.w3.org/2005/05/xmlmime"
				schemaLocation="http://www.w3.org/2005/05/xmlmime" />
			<element name="xteeFIEAK" type="tns:SpouseCheckRequestType" />
			<element name="xteeFIEAKResponse" type="tns:SpouseCheckResponseType" />
			<complexType name="SpouseCheckRequestType">
				<sequence>
					<element name="request" type="tns:SpouseCheckCommonRequestType" />
				</sequence>
				
			</complexType>
			<complexType name="SpouseCheckResponseType">
				<sequence>
					<element name="request" type="tns:SpouseCheckCommonRequestType" />
					<element name="response">
						<annotation>
							<documentation>Tagastatakse andmed, kui isik etteantud perioodis
								(algus ja lõpp kaasa arvatud)
								oli FIE abikaasana registrisse kantud vähemalt 1 päeva
							</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element maxOccurs="unbounded" minOccurs="0" name="period">
									<complexType>
										<sequence>
											<element name="start" type="date">
												<annotation>
													<documentation>Abikaasana registreerituse alguskuupäev
													</documentation>
												</annotation>
											</element>
											<element name="end" type="date">
												<annotation>
													<documentation>Abikaasana registreerituse lõppkuupäev
													</documentation>
												</annotation>
											</element>
											<element name="code" type="string">
												<annotation>
													<documentation>Seotud FIE registrikood</documentation>
												</annotation>
											</element>
											<element name="name" type="string">
												<annotation>
													<documentation>Seotud FIE nimi</documentation>
												</annotation>
											</element>
										</sequence>
									</complexType>
								</element>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="SpouseCheckCommonRequestType">
				<sequence>
					<element name="id" type="string">
						<annotation>
							<documentation>Isiku unikaalne tunnus, 11-kohaline number
							</documentation>
						</annotation>
					</element>
					<element name="start" type="date">
						<annotation>
							<documentation>Perioodi alguskuupäev</documentation>
						</annotation>
					</element>
					<element name="end" type="date">
						<annotation>
							<documentation>Perioodi lõppkuupäev</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
            <element name="skaMitteresident">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:skaMitteresidentRequestType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="skaMitteresidentResponse">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:skaMitteresidentRequestType"/>
                        <element name="response" type="tns:skaMitteresidentResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="skaMitteresidentRequestType">
                <sequence>
                    <element name="registreerimiskood" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Mitteresidendi registreerimiskood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <complexType name="skaMitteresidentResponseType">
                <sequence>
                    <element name="registreerimiskood" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Mitteresidendi registreerimiskood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="nimi" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Füüsilise või juriidilise isiku nimi</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="valisriigiKood" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Välisriigi registreerimiskood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="residentsusriik" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Isiku residentsuse riik</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="registreeritud" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title>Eestis registreerimise kuupäev</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="mrKehtivuseAlgus" type="date">
                        <annotation>
                            <appinfo>
                                <xrd:title>Mitteresidentsuse kehtivuse algus</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="eestiAadress" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Aadress Eestis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="valisriigiAadress" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Aadress välisriigis</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <element name="smMaksustatavadAndmed">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:smMaksustatavadAndmedType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="isikud">
                <xsd:complexType>
                    <sequence>
                        <element name="isik" maxOccurs="unbounded" type="tns:smMaksustatavadAndmedType" />
                    </sequence>
                </xsd:complexType>
            </element>
            <complexType name="smMaksustatavadAndmedType">
                <sequence>
                    <element name="isikukood" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Isikukood</xrd:title>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="perioodi_algus" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Perioodi algus</xrd:title>
                                <xrd:notes>Formaat: kk.aaaa</xrd:notes>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="perioodi_lopp" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Perioodi lõpp</xrd:title>
                                <xrd:notes>Formaat: kk.aaaa</xrd:notes>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>

            <element name="smMaksustatavadAndmedResponse">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:smMaksustatavadAndmedType"/>
                        <element name="response" type="tns:smMaksustatavadAndmedResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="smMaksustatavadAndmedResponseType">
                <sequence>
                    <element name="item" maxOccurs="unbounded" type="tns:isikSissetulekType" />
                </sequence>
            </complexType>
            
            <element name="valjamaksed">
                <xsd:complexType>
                    <sequence>
                        <element name="isik" maxOccurs="unbounded" type="tns:isikSissetulekType" />
                    </sequence>
                </xsd:complexType>
            </element>
          
            <complexType name="isikSissetulekType">
              <sequence>
                <element name="vm_saaja_isikukood" type="string" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Väljamakse saaja isikukood</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="vm_periood" type="string" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Väljamakse periood</xrd:title>
                      <xrd:notes>Formaat: kk.aaaa</xrd:notes>
                    </appinfo>
                  </annotation>
                </element>
                <element name="teade" type="string" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Vead</xrd:title>
                      <xrd:notes>Kliendi ebakorrektse sisendi korral</xrd:notes>
                    </appinfo>
                  </annotation>
                </element>
                <element name="vm_tegija_regkood" type="string" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Väljamakse tegija registrikood</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="vm_tegija_nimi" type="string" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Väljamakse tegija nimi</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="dekl_muutmise_kp" type="dateTime" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Deklaratsiooni viimase muutmise kuupäev</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="vm_liigid" type="string" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Väljamakse liikide koodid</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="sm_tulu_summa" type="decimal" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Sotsiaalmaksuga maksustatava tulu summa</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="vm_24" type="decimal" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Tööandja haigushüvitis</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="xf12_vm_53" type="decimal" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Vanemahüvitis</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="xf11_vm_40" type="decimal" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Eesti Haigekassa ajutise töövõimetuse hüvitis</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
                <element name="vm_41" type="decimal" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:title>Töötukassa töötuskindlustuse hüvitis</xrd:title>
                    </appinfo>
                  </annotation>
                </element>
              </sequence>
            </complexType>
                      
            <element name="downloadMime">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:downloadMimeType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="downloadMimeResponse">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:downloadMimeType"/>
                        <element name="response" type="tns:downloadMimeResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="downloadMimeType">
                <sequence>
                    <element name="target" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Teenuse nimi</xrd:title>
                                <xrd:notes>Maksu- ja Tolliameti süsteemi lühinimi (TSD, KMD, ...)</xrd:notes>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </complexType>
            <complexType name="downloadMimeResponseType">
                <sequence>
                    <choice>
                        <sequence>
                            <element name="faultCode" type="xrd:faultCode"/>
                            <element name="faultString" type="xrd:faultString"/>
                        </sequence>
                        <sequence>
                            <element name="file" minOccurs="0">
                                <annotation>
                                    <appinfo>
                                        <xrd:title>Manus</xrd:title>
                                        <xrd:technotes>Viide manusele (Content-Id)</xrd:technotes>
                                    </appinfo>
                                </annotation>
                                <complexType>
                                    <attribute name="href" type="string"/>
                                </complexType>
                            </element>
                            <element name="props">
                                <annotation>
                                    <appinfo>
                                        <xrd:title>Manuse metaandmed</xrd:title>
                                        <xrd:notes>Manust kirjeldavad parameetrid</xrd:notes>
                                    </appinfo>
                                </annotation>
                                <complexType>
                                    <sequence>
                                        <element name="prop" minOccurs="0" maxOccurs="unbounded">
                                            <annotation>
                                                <documentation>Parameetri väärtus</documentation>
                                            </annotation>
                                            <complexType>
                                                <simpleContent>
                                                    <extension base="string">
                                                        <attribute name="key" type="string" use="required">
                                                            <annotation>
                                                                <documentation>Parameetri nimi</documentation>
                                                            </annotation>
                                                        </attribute>
                                                    </extension>
                                                </simpleContent>
                                            </complexType>
                                        </element>
                                    </sequence>
                                </complexType>
                            </element>
                        </sequence>
                    </choice>
                </sequence>
            </complexType>
            
            <element name="uploadMime">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:uploadMimeType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="uploadMimeResponse">
                <complexType>
                    <sequence>
                        <element name="request" type="tns:uploadMimeType"/>
                        <element name="response" type="tns:uploadMimeResponseType"/>
                    </sequence>
                </complexType>
            </element>

            <complexType name="uploadMimeType">
                <sequence>
                    <element name="target" type="string">
                        <annotation>
                            <appinfo>
                                <xrd:title>Teenuse nimi</xrd:title>
                                <xrd:notes>Maksu- ja Tolliameti süsteemi (teenus) lühinimi, näiteks TSD, KMD</xrd:notes>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="operation" type="string" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <xrd:title>Meetodi nimi</xrd:title>
                                <xrd:notes>Käivitatava meetodi nimi, näiteks KinnitaDeklaratsioon</xrd:notes>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="file" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <xrd:title>Manus</xrd:title>
                            </appinfo>
                        </annotation>
                        <complexType>
                            <simpleContent>
                                <extension base="hexBinary">
                                    <attribute name="href" type="string"/>
                                </extension>
                            </simpleContent>
                        </complexType>
                    </element>
                    <element name="props" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <xrd:title>Manuse metaandmed</xrd:title>
                                <xrd:notes>Manust kirjeldavad parameetrid, ei ole kohustuslikud</xrd:notes>
                                <xrd:appearance>compact</xrd:appearance>
                            </appinfo>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="prop" minOccurs="0" maxOccurs="unbounded">
                                    <annotation>
                                        <appinfo>
                                            <xrd:title>Parameetri väärtus</xrd:title>
                                        </appinfo>
                                    </annotation>
                                    <complexType>
                                        <simpleContent>
                                            <extension base="string">
                                                <attribute name="key" type="string" use="required">
                                                    <annotation>
                                                        <appinfo>
                                                            <xrd:title>Parameetri nimi</xrd:title>
                                                        </appinfo>
                                                    </annotation>
                                                </attribute>
                                            </extension>
                                        </simpleContent>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>

            <complexType name="uploadMimeResponseType">
                <sequence>
                    <element name="messages">
                        <annotation>
                            <appinfo>
                                <xrd:title>Kaugsüsteemi vastus</xrd:title>
                                <xrd:notes>Vastuseid (kood/kirjeldus) võib olla rohkem kui üks</xrd:notes>
                                <xrd:appearance>compact</xrd:appearance>
                            </appinfo>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="item" maxOccurs="unbounded">
                                    <complexType>
                                        <sequence>
                                            <element name="code" type="string">
                                                <annotation>
                                                    <appinfo>
                                                        <xrd:title>Kood</xrd:title>
                                                    </appinfo>
                                                </annotation>
                                            </element>
                                            <element name="description" type="string">
                                                <annotation>
                                                    <appinfo>
                                                        <xrd:title>Kirjeldus</xrd:title>
                                                    </appinfo>
                                                </annotation>
                                            </element>
                                        </sequence>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
            </complexType>
		</schema>
	</types>
	<message name="xrdHeader">
		<part element="xrd:consumer" name="consumer" />
		<part element="xrd:producer" name="producer" />
		<part element="xrd:userId" name="userId" />
		<part element="xrd:service" name="service" />
		<part element="xrd:id" name="id" />
		<part element="xrd:issue" name="issue" />
	</message>
	<message name="spouseCheckOutputMessage">
		<part element="tns:xteeFIEAKResponse" name="body" />
	</message>
	<message name="spouseCheckInputMessage">
		<part element="tns:xteeFIEAK" name="body" />
	</message>
    <message name="skaMitteresident">
        <part element="tns:skaMitteresident" name="body"/>
    </message>
    <message name="skaMitteresidentResponse">
        <part element="tns:skaMitteresidentResponse" name="body"/>
    </message>
    <message name="smMaksustatavadAndmed">
        <part element="tns:smMaksustatavadAndmed" name="parameters"/>
    </message>
    <message name="smMaksustatavadAndmedResponse">
        <part element="tns:smMaksustatavadAndmedResponse" name="parameters"/>
    </message>
    <message name="downloadMimeInput">
        <part name="body" element="tns:downloadMime"/>
    </message>
    <message name="downloadMimeOutput">
        <part name="body" element="tns:downloadMimeResponse"/>
        <part name="attachment" type="xsd:base64Binary"/>
    </message>
    <message name="UploadMimeInput">
        <part name="body" element="tns:uploadMime"/>
        <part name="attachment" type="xsd:base64Binary"/>
    </message>
    <message name="UploadMimeOutput">
        <part name="body" element="tns:uploadMimeResponse"/>
    </message>
	<portType name="emtav5port">
		<operation name="xteeFIEAK">
			<documentation>
				<xrd:title>FIE abikaasana registreerituse kontroll</xrd:title>
			</documentation>
			<input message="tns:spouseCheckInputMessage" />
			<output message="tns:spouseCheckOutputMessage" />
		</operation>
        <operation name="skaMitteresident">
            <documentation>
                <xrd:title>Mitteresidentide päring Sotsiaalkindlustusametile</xrd:title>
            </documentation>
            <input message="tns:skaMitteresident"/>
            <output message="tns:skaMitteresidentResponse"/>
        </operation>
        <operation name="smMaksustatavadAndmed">
            <documentation>
                <xrd:title>Sotsiaalmaksuga maksustatavad andmed</xrd:title>
            </documentation>
            <input message="tns:smMaksustatavadAndmed"/>
            <output message="tns:smMaksustatavadAndmedResponse"/>
        </operation>
        <operation name="downloadMime">
            <documentation>
                <xrd:title>Failide allalaadimise teenus</xrd:title>
            </documentation>
            <input message="tns:downloadMimeInput"/>
            <output message="tns:downloadMimeOutput"/>
        </operation>
        <operation name="uploadMime">
            <documentation>
                <xrd:title>Failide edastamise teenus</xrd:title>
            </documentation>
            <input message="tns:UploadMimeInput"/>
            <output message="tns:UploadMimeOutput"/>
        </operation>
	</portType>
	<binding name="emtav5bind" type="tns:emtav5port">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="xteeFIEAK">
			<soap:operation soapAction="" />
			<xrd:version>v1</xrd:version>
			<input>
				<soap:header message="tns:xrdHeader" part="consumer"
					use="literal" />
				<soap:header message="tns:xrdHeader" part="producer"
					use="literal" />
				<soap:header message="tns:xrdHeader" part="userId" use="literal" />
				<soap:header message="tns:xrdHeader" part="id" use="literal" />
				<soap:header message="tns:xrdHeader" part="service" use="literal" />
				<soap:body parts="body" use="literal" />
			</input>
			<output>
				<soap:header message="tns:xrdHeader" part="consumer"
					use="literal" />
				<soap:header message="tns:xrdHeader" part="producer"
					use="literal" />
				<soap:header message="tns:xrdHeader" part="userId" use="literal" />
				<soap:header message="tns:xrdHeader" part="id" use="literal" />
				<soap:header message="tns:xrdHeader" part="service" use="literal" />
				<soap:body parts="body" use="literal" />
			</output>
		</operation>
        <operation name="skaMitteresident">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <input>
                <soap:header message="tns:xrdHeader" part="consumer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="producer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:header message="tns:xrdHeader" part="consumer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="producer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </output>
        </operation>
        <operation name="smMaksustatavadAndmed">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <input>
                <soap:header message="tns:xrdHeader" part="consumer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="producer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:body use="literal" parts="parameters"/>
            </input>
            <output>
                <soap:header message="tns:xrdHeader" part="consumer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="producer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:body use="literal" parts="parameters"/>
            </output>
        </operation>
        <operation name="downloadMime">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <input>
                <soap:header message="tns:xrdHeader" part="consumer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="unit" use="literal"/>
                <soap:header message="tns:xrdHeader" part="producer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <mime:multipartRelated>
                    <mime:part>
                        <soap:header message="tns:xrdHeader" part="consumer" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="unit" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="producer" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                        <soap:body parts="body" use="literal"/>
                    </mime:part>
                    <mime:part>
                        <mime:content part="attachment" type="application/octet-stream"/>
                    </mime:part>
                </mime:multipartRelated>
            </output>
        </operation>
        <operation name="uploadMime">
            <soap:operation soapAction=""/>
            <xrd:version>v1</xrd:version>
            <input>
                <mime:multipartRelated>
                    <mime:part>
                        <soap:header message="tns:xrdHeader" part="consumer" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="producer" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                        <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                        <soap:body parts="body" use="literal"/>
                    </mime:part>
                    <mime:part>
                        <mime:content part="attachment" type="application/octet-stream"/>
                    </mime:part>
                </mime:multipartRelated>
            </input>
            <output>
                <soap:header message="tns:xrdHeader" part="consumer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="producer" use="literal"/>
                <soap:header message="tns:xrdHeader" part="userId" use="literal"/>
                <soap:header message="tns:xrdHeader" part="id" use="literal"/>
                <soap:header message="tns:xrdHeader" part="service" use="literal"/>
                <soap:body use="literal"/>
            </output>
        </operation>
	</binding>
	<service name="emtav5service">
		<port binding="tns:emtav5bind" name="emtav5port">
			<soap:address location="http://tempuri.org/services/" />
			<xrd:title>Maksu- ja Tolliameti X-tee ver5 teenused</xrd:title>
			<xrd:address producer="emtav5" />
		</port>
	</service>
</definitions>
