client-service/adsv5/src/main/resources/adsv5.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:xrd="http://x-road.ee/xsd/x-road.xsd" 
             xmlns:ns="http://adsv5.x-road.ee/producer/" targetNamespace="http://adsv5.x-road.ee/producer/" >
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://x-road.ee/xsd/x-road.xsd" schemaLocation="http://x-road.ee/xsd/x-road.xsd" />
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSaadrmuudatused.v4.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSobjaadrmuudatused.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSobjjarglased.v1.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSaadrjarglased.v1.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSruumiaadress.v1.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSadrTagasiside.v1.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSaadrotsing.v1.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSobjotsing.v4.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSobjmuudatused.v4.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSnormal.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSkomponendid.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSkompklassif.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSadrTagasisideSoovitused.v1.xsd"/>
      <import namespace="http://adsv5.x-road.ee/producer/" schemaLocation="http://www.maaamet.ee/schemas/xTeenused/ADSgazetteerotsing.v1.xsd"/>
    </schema>
	</types>
  <message name="ADSaadrmuudatusedRequest">
    <part name="request" element="ns:ADSaadrmuudatused"/>
  </message>
  <message name="ADSaadrmuudatusedResponse">
    <part name="response" element="ns:ADSaadrmuudatusedResponse"/>
  </message>
  <message name="ADSobjaadrmuudatusedRequest">
    <part name="request" element="ns:ADSobjaadrmuudatused"/>
  </message>
  <message name="ADSobjaadrmuudatusedResponse">
    <part name="response" element="ns:ADSobjaadrmuudatusedResponse"/>
  </message>
  <message name="ADSobjjarglasedRequest">
    <part name="request" element="ns:ADSobjjarglased"/>
  </message>
  <message name="ADSobjjarglasedResponse">
    <part name="response" element="ns:ADSobjjarglasedResponse"/>
  </message>
  <message name="ADSaadrjarglasedRequest">
    <part name="request" element="ns:ADSaadrjarglased"/>
  </message>
  <message name="ADSaadrjarglasedResponse">
    <part name="response" element="ns:ADSaadrjarglasedResponse"/>
  </message>
  <message name="ADSruumiaadressRequest">
    <part name="request" element="ns:ADSruumiaadress"/>
  </message>
  <message name="ADSruumiaadressResponse">
    <part name="response" element="ns:ADSruumiaadressResponse"/>
  </message>
  <message name="ADSadrTagasisideRequest">
    <part name="request" element="ns:ADSadrTagasiside"/>
  </message>
  <message name="ADSadrTagasisideResponse">
    <part name="response" element="ns:ADSadrTagasisideResponse"/>
  </message>
  <message name="ADSaadrotsingRequest">
    <part name="request" element="ns:ADSaadrotsing"/>
  </message>
  <message name="ADSaadrotsingResponse">
    <part name="response" element="ns:ADSaadrotsingResponse"/>
  </message>
  <message name="ADSobjotsingRequest">
    <part name="request" element="ns:ADSobjotsing"/>
  </message>
  <message name="ADSobjotsingResponse">
    <part name="response" element="ns:ADSobjotsingResponse"/>
  </message>
  <message name="ADSobjmuudatusedRequest">
    <part name="request" element="ns:ADSobjmuudatused"/>
  </message>
  <message name="ADSobjmuudatusedResponse">
    <part name="response" element="ns:ADSobjmuudatusedResponse"/>
  </message>
  <message name="ADSnormalRequest">
    <part name="request" element="ns:ADSnormal"/>
  </message>
  <message name="ADSnormalResponse">
    <part name="response" element="ns:ADSnormalResponse"/>
  </message>
  <message name="ADSkomponendidRequest">
    <part name="request" element="ns:ADSkomponendid"/>
  </message>
  <message name="ADSkomponendidResponse">
    <part name="response" element="ns:ADSkomponendidResponse"/>
  </message>
  <message name="ADSkompklassifRequest">
    <part name="request" element="ns:ADSkompklassif"/>
  </message>
  <message name="ADSkompklassifResponse">
    <part name="response" element="ns:ADSkompklassifResponse"/>
  </message>
  <message name="ADSadrTagasisideSoovitusedRequest">
    <part name="request" element="ns:ADSadrTagasisideSoovitused"/>
  </message>
  <message name="ADSadrTagasisideSoovitusedResponse">
    <part name="response" element="ns:ADSadrTagasisideSoovitusedResponse"/>
  </message>
  <message name="ADSgazetteerotsingRequest">
    <part name="request" element="ns:ADSgazetteerotsing"/>
  </message>
  <message name="ADSgazetteerotsingResponse">
    <part name="response" element="ns:ADSgazetteerotsingResponse"/>
  </message>
  <message name="xRoadHeader">
    <part name="consumer" element="xrd:consumer"/>
    <part name="producer" element="xrd:producer"/>
    <part name="userId" element="xrd:userId"/>
    <part name="id" element="xrd:id"/>
    <part name="service" element="xrd:service"/>
    <part name="issue" element="xrd:issue"/>
  </message>
  <message name="testSystem">
    <part name="request" element="xrd:testSystem"/>
  </message>
  <message name="testSystemResponse">
    <part name="response" element="xrd:testSystemResponse"/>
  </message>
  <message name="listMethods">
    <part name="request" element="xrd:listMethods"/>
  </message>
  <message name="listMethodsResponse">
    <part name="response" element="xrd:listMethodsResponse"/>
  </message>
  <portType name="adsPortType">
    <operation name="ADSaadrmuudatused">
      <documentation>
        <xrd:title xml:lang="et">Aadressi muudatuste päring</xrd:title>
      </documentation>
      <input message="ns:ADSaadrmuudatusedRequest"/>
      <output message="ns:ADSaadrmuudatusedResponse"/>
    </operation>
    <operation name="ADSobjaadrmuudatused">
      <documentation>
        <xrd:title xml:lang="et">Objekti aadresside muudatuste päring</xrd:title>
      </documentation>
      <input message="ns:ADSobjaadrmuudatusedRequest"/>
      <output message="ns:ADSobjaadrmuudatusedResponse"/>
    </operation>
    <operation name="ADSobjjarglased">
      <documentation>
        <xrd:title xml:lang="et">Tühistatud objekti järglaste päring</xrd:title>
      </documentation>
      <input message="ns:ADSobjjarglasedRequest"/>
      <output message="ns:ADSobjjarglasedResponse"/>
    </operation>
    <operation name="ADSaadrjarglased">
      <documentation>
        <xrd:title xml:lang="et">Tühistatud aadressi järglaste päring</xrd:title>
      </documentation>
      <input message="ns:ADSaadrjarglasedRequest"/>
      <output message="ns:ADSaadrjarglasedResponse"/>
    </operation>
    <operation name="ADSruumiaadress">
      <documentation>
        <xrd:title xml:lang="et">Ruumiaadressi päring</xrd:title>
      </documentation>
      <input message="ns:ADSruumiaadressRequest"/>
      <output message="ns:ADSruumiaadressResponse"/>
    </operation>
    <operation name="ADSadrTagasiside">
      <documentation>
        <xrd:title xml:lang="et">Liidestujate aadresside tagasiside teenus</xrd:title>
      </documentation>
      <input message="ns:ADSadrTagasisideRequest"/>
      <output message="ns:ADSadrTagasisideResponse"/>
    </operation>
    <operation name="ADSaadrotsing">
      <documentation>
        <xrd:title xml:lang="et">Aadresside otsing</xrd:title>
      </documentation>
      <input message="ns:ADSaadrotsingRequest"/>
      <output message="ns:ADSaadrotsingResponse"/>
    </operation>
    <operation name="ADSobjotsing">
      <documentation>
        <xrd:title xml:lang="et">Aadressiobjekti otsing</xrd:title>
      </documentation>
      <input message="ns:ADSobjotsingRequest"/>
      <output message="ns:ADSobjotsingResponse"/>
    </operation>
    <operation name="ADSobjmuudatused">
      <documentation>
        <xrd:title xml:lang="et">Objekti muudatuste päring</xrd:title>
      </documentation>
      <input message="ns:ADSobjmuudatusedRequest"/>
      <output message="ns:ADSobjmuudatusedResponse"/>
    </operation>
    <operation name="ADSnormal">
      <documentation>
        <xrd:title xml:lang="et">Aadressteksti normaliseerimine</xrd:title>
      </documentation>
      <input message="ns:ADSnormalRequest"/>
      <output message="ns:ADSnormalResponse"/>
    </operation>
    <operation name="ADSkomponendid">
      <documentation>
        <xrd:title xml:lang="et">Aadressikomponentide kehtiva seisu päring</xrd:title>
      </documentation>
      <input message="ns:ADSkomponendidRequest"/>
      <output message="ns:ADSkomponendidResponse"/>
    </operation>
    <operation name="ADSkompklassif">
      <documentation>
        <xrd:title xml:lang="et">Aadressikomponentide klassifikaatori muudatuste päring</xrd:title>
      </documentation>
      <input message="ns:ADSkompklassifRequest"/>
      <output message="ns:ADSkompklassifResponse"/>
    </operation>
    <operation name="ADSadrTagasisideSoovitused">
      <documentation>
        <xrd:title xml:lang="et">Liidestujate aadressisoovituste teenus</xrd:title>
      </documentation>
      <input message="ns:ADSadrTagasisideSoovitusedRequest"/>
      <output message="ns:ADSadrTagasisideSoovitusedResponse"/>
    </operation>
    <operation name="ADSgazetteerotsing">
      <documentation>
        <xrd:title xml:lang="et">ADS gazetteer otsing</xrd:title>
      </documentation>
      <input message="ns:ADSgazetteerotsingRequest"/>
      <output message="ns:ADSgazetteerotsingResponse"/>
    </operation>
    <operation name="testSystem">
      <documentation>
        <xrd:title xml:lang="et">X-Tee metateenus</xrd:title>
      </documentation>
      <input message="ns:testSystem"/>
      <output message="ns:testSystemResponse"/>
    </operation>
    <operation name="listMethods">
      <documentation>
        <xrd:title xml:lang="et">X-Tee metateenus</xrd:title>
      </documentation>
      <input message="ns:listMethods"/>
      <output message="ns:listMethodsResponse"/>
    </operation>
  </portType>
  <binding name="adsBinding" type="ns:adsPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ADSaadrmuudatused">
      <xrd:version>v4</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSobjaadrmuudatused">
      <xrd:version>v2</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSobjjarglased">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSaadrjarglased">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSruumiaadress">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSadrTagasiside">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSaadrotsing">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSobjotsing">
      <xrd:version>v4</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSobjmuudatused">
      <xrd:version>v4</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSnormal">
      <xrd:version>v2</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSkomponendid">
      <xrd:version>v2</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSkompklassif">
      <xrd:version>v2</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSadrTagasisideSoovitused">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ADSgazetteerotsing">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:header message="ns:xRoadHeader" part="consumer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="producer" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="userId" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="id" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="service" use="literal"/>
        <soap:header message="ns:xRoadHeader" part="issue" use="literal"/>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="testSystem">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="listMethods">
      <xrd:version>v1</xrd:version>
      <soap:operation/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="adsService">
    <port name="adsPort" binding="ns:adsBinding">
      <soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
      <xrd:title>ADS-i X-TEE teenused</xrd:title>
      <xrd:address producer="adsv5"/>
    </port>
  </service>
</definitions>
