client-service/ljvis/src/main/resources/ljvis.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://producers.ljvis.xtee.riik.ee/producer/ljvis" 
xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
xmlns:ns="http://www.w3.org/1999/xlink" 
targetNamespace="http://producers.ljvis.xtee.riik.ee/producer/ljvis">
	<wsdl:types>
		<schema targetNamespace="http://producers.ljvis.xtee.riik.ee/producer/ljvis" 
				xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
			<simpleType name="Isikukood">
				<restriction base="xsd:string">
					<pattern value="\d{11}"/>
				</restriction>
			</simpleType>
			<!--ErakorralineYVconfirm_v1-->
			<complexType name="ErakorralineYVconfirm_v1Request">
				<sequence>
					<element name="confirmed">
						<complexType>
							<sequence>
								<element name="item" maxOccurs="unbounded">
									<complexType>
										<sequence>
											<element name="inspection_id" type="string"/>
											<element name="code" type="string"/>
											<element name="value" type="string"/>
										</sequence>
									</complexType>
								</element>
							</sequence>
							<attribute ref="SOAP-ENC:offset" use="required"/>
							<attribute name="arrayType" type="string" use="required"/>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="ErakorralineYVconfirm_v1Response">
				<sequence>
					<element name="confirmed" type="int" minOccurs="0" maxOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Kinnitatud elementide kogus</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<!--/ErakorralineYVconfirm_v1-->
			<complexType name="ErakorralineYVquery_v1Request">
				<sequence>
					<element name="sisendparameeter" type="string" minOccurs="0" maxOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Sisendparameeter</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="ErakorralineYVquery_v1Response">
				<sequence>
					<element name="targeted_for_inspection">
						<complexType>
							<sequence>
								<element name="item" maxOccurs="unbounded">
									<complexType>
										<sequence>
											<element name="licence_plate_no" type="string"/>
											<element name="inspection_no" type="string"/>
											<element name="inspection_id" type="string"/>
											<element name="inspection_date" type="string"/>
											<element name="inspection_type" type="string"/>
											<element name="trailer_no" type="string"/>
											<element name="inspector" type="string"/>
											<element name="inspection_unit" type="string"/>
											<element name="inspection_notes" type="string"/>
											<element name="issues">
												<complexType>
													<sequence>
														<element maxOccurs="unbounded" name="item">
															<complexType>
																<sequence>
																	<element name="code" type="string"/>
																	<element name="value" type="string"/>
																</sequence>
															</complexType>
														</element>
													</sequence>													
												</complexType>
											</element>
											<element name="notes">
												<complexType>
													<sequence>
														<element maxOccurs="unbounded" name="item">
															<complexType>
																<sequence>
																	<element name="code" type="string"/>
																	<element name="value" type="string"/>
																</sequence>
															</complexType>
														</element>
													</sequence>													
												</complexType>
											</element>
										</sequence>
									</complexType>
								</element>
							</sequence>
							<attribute ref="SOAP-ENC:offset" use="required"/>
							<attribute name="arrayType" type="string" use="required"/>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="IsikuKontroll_v1Request">
			</complexType>
			<complexType name="IsikuKontroll_v1Response">
				<sequence>
					<element name="kontrollid">
						<complexType>
							<sequence>
								<element name="item">
									<complexType>
										<sequence>
											<element name="kuupaev" type="dateTime"/>
											<element name="nimetus" type="string"/>
											<element name="asutus" type="string"/>
											<element name="soiduki_reg_nr" type="string"/>
											<element name="rikkumise_liik" type="string"/>
										</sequence>
									</complexType>
								</element>
							</sequence>
							<attribute ref="SOAP-ENC:offset" use="required"/>
							<attribute name="arrayType" type="string" use="required"/>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="IsikuEttevoteKontrollid_v1Request">
			</complexType>
			<complexType name="IsikuEttevoteKontrollid_v1Response">
				<sequence>
					<element name="kontrollid">
						<complexType>
							<sequence>
								<element name="item">
									<complexType>
										<sequence>
											<element name="kuupaev" type="dateTime"/>
											<element name="nimetus" type="string"/>
											<element name="asutus" type="string"/>
											<element name="soiduki_reg_nr" type="string"/>
											<element name="rikkumise_liik" type="string"/>
											<element name="juhi_nimi" type="string"/>
										</sequence>
									</complexType>
								</element>
							</sequence>
							<attribute ref="SOAP-ENC:offset" use="required"/>
							<attribute name="arrayType" type="string" use="required"/>
						</complexType>
					</element>
				</sequence>
			</complexType>
      <complexType name="listMethods_vastus">
        <complexContent>
          <restriction base="SOAP-ENC:Array">
            <sequence>
              <element name="item" type="string" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
          </restriction>
        </complexContent>
      </complexType>
		</schema>
	</wsdl:types>
	<message name="standardpais">
		<part name="asutus" element="xtee:asutus"/>
		<part name="andmekogu" element="xtee:andmekogu"/>
		<part name="isikukood" element="xtee:isikukood"/>
		<part name="nimi" element="xtee:nimi"/>
		<part name="id" element="xtee:id"/>
	</message>
  <message name="listMethods">
    <part name="keha" type="xsd:string"/>
  </message>
  <message name="listMethodsResponse">
    <part name="keha" type="tns:listMethods_vastus"/>
  </message>
	<message name="ErakorralineYVquery">
		<part name="keha" type="tns:ErakorralineYVquery_v1Request"/>
	</message>
	<message name="ErakorralineYVqueryResponse">
		<part name="paring" type="tns:ErakorralineYVquery_v1Request"/>
		<part name="keha" type="tns:ErakorralineYVquery_v1Response"/>
	</message>
	<message name="ErakorralineYVconfirm">
		<part name="keha" type="tns:ErakorralineYVconfirm_v1Request"/>
	</message>
	<message name="ErakorralineYVconfirmResponse">
		<part name="paring" type="tns:ErakorralineYVconfirm_v1Request"/>
		<part name="keha" type="tns:ErakorralineYVconfirm_v1Response"/>
	</message>
	<message name="IsikuKontroll">
		<part name="keha" type="tns:IsikuKontroll_v1Request"/>
	</message>
	<message name="IsikuKontrollResponse">
		<part name="paring" type="tns:IsikuKontroll_v1Request"/>
		<part name="keha" type="tns:IsikuKontroll_v1Response"/>
	</message>
	<message name="IsikuEttevoteKontrollid">
		<part name="keha" type="tns:IsikuEttevoteKontrollid_v1Request"/>
	</message>
	<message name="IsikuEttevoteKontrollidResponse">
		<part name="paring" type="tns:IsikuEttevoteKontrollid_v1Request"/>
		<part name="keha" type="tns:IsikuEttevoteKontrollid_v1Response"/>
	</message>
	<portType name="ljvis_porttype">
		<operation name="ErakorralineYVquery">
			<documentation>
				<xtee:title>ErakorralineYVquery - Erakorralisele ülevaatusele suunatud sõidukid</xtee:title>
				<xtee:notes/>
				<xtee:technotes/>
			</documentation>
			<input message="tns:ErakorralineYVquery"/>
			<output message="tns:ErakorralineYVqueryResponse"/>
		</operation>
		<operation name="ErakorralineYVconfirm">
			<documentation>
				<xtee:title>ErakorralineYVquery - Erakorralisele ülevaatusele suunatud sõidukid</xtee:title>
				<xtee:notes/>
				<xtee:technotes/>
			</documentation>
			<input message="tns:ErakorralineYVconfirm"/>
			<output message="tns:ErakorralineYVconfirmResponse"/>
		</operation>
		<operation name="IsikuKontroll">
			<documentation>
				<xtee:title>IsikuKontroll - Isikuga seotud rikkumised</xtee:title>
				<xtee:notes/>
				<xtee:technotes/>
			</documentation>
			<input message="tns:IsikuKontroll"/>
			<output message="tns:IsikuKontrollResponse"/>
		</operation>
        <operation name="IsikuEttevoteKontrollid">
            <documentation>
                <xtee:title>IsikuEttevoteKontrollid - Isikuga seotud ettevõte rikkumised</xtee:title>
                <xtee:notes/>
                <xtee:technotes/>
            </documentation>
            <input message="tns:IsikuEttevoteKontrollid"/>
            <output message="tns:IsikuEttevoteKontrollidResponse"/>
        </operation>
    <operation name="listMethods">
      <documentation>
        <xtee:title>listMethods</xtee:title>
      </documentation>
      <input message="tns:listMethods"/>
      <output message="tns:listMethodsResponse"/>
    </operation>
	</portType>
	<wsdl:binding name="ljvis_binding" type="tns:ljvis_porttype">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="ErakorralineYVquery">
			<soap:operation soapAction="http://TURVASERVER.XTEE/cgi-bin/consumer_proxy"/>
			<xtee:version>v1</xtee:version>
			<input>
				<soap:header message="tns:standardpais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="isikukood" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.ljvis.xtee.riik.ee/producer/ljvis"/>
			</input>
			<output>
				<soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
				<soap:header message="tns:standardpais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="isikukood" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="ErakorralineYVconfirm">
			<input>
				<soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
				<soap:header message="tns:standardpais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="isikukood" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
				<soap:header message="tns:standardpais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="isikukood" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="IsikuKontroll">
			<input>
				<soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
				<soap:header message="tns:standardpais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="isikukood" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
				<soap:header message="tns:standardpais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="isikukood" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="IsikuEttevoteKontrollid">
			<input>
				<soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
				<soap:header message="tns:standardpais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="isikukood" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.ehis.xtee.riik.ee/producer/ehis"/>
				<soap:header message="tns:standardpais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="isikukood" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:standardpais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
    <operation name="listMethods">
      <input>
        <soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="x-tee.riik.ee/xsd/xtee.xsd"/>
      </input>
      <output>
        <soap:body parts="keha" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="x-tee.riik.ee/xsd/xtee.xsd"/>
      </output>
    </operation>
	</wsdl:binding>
	<wsdl:service name="ljvis">
		<port name="ljvis" binding="tns:ljvis_binding">
			<soap:address location="http://test.liiklusvalve.ee/xtee/service"/>
			<xtee:title>Liiklusjärelvalve register</xtee:title>
			<xtee:address producer="ljvis"/>
		</port>
	</wsdl:service>
</wsdl:definitions>
