client-service/pria-vra/src/main/resources/pria-vra.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://producers.pria-vra.xtee.riik.ee/producer/pria-vra" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://producers.pria-vra.xtee.riik.ee/producer/pria-vra" xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" targetNamespace="http://producers.pria-vra.xtee.riik.ee/producer/pria-vra">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="unqualified" targetNamespace="http://producers.pria-vra.xtee.riik.ee/producer/pria-vra"><import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>

	<element name="vtaJaakRequest" type="tns:vtaJaakRequest"/>
	<element name="vtaJaakResponse" type="tns:vtaJaakResponse"/>

	<complexType name="vtaJaakRequest">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="isikukood" type="string">
				<annotation>
					<documentation>Isikukood</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="registrikood" type="string">
				<annotation>
					<documentation>Registrikood</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="vtaJaakResponse">
		<sequence>
			<element maxOccurs="1" minOccurs="0" name="veakood" type="int">
				<annotation>
					<documentation>Vigade korral tagastatakse veakood -1</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="pria_isik_vta_jaak" type="decimal">
				<annotation>
					<documentation>Jääk isiku kohta</documentation>
				</annotation>
			</element>
			<element maxOccurs="1" minOccurs="0" name="pria_ettevote_vta_jaak" type="decimal">
				<annotation>
					<documentation>Jääk ettevõtte kohta</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>
  </wsdl:types>
  <wsdl:message name="vtaJaakRequest">
    <wsdl:part name="keha" type="tns:vtaJaakRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="xteeStandardPais">
    <wsdl:part element="xtee:asutus" name="asutus">
    </wsdl:part>
    <wsdl:part element="xtee:andmekogu" name="andmekogu">
    </wsdl:part>
    <wsdl:part element="xtee:isikukood" name="isikukood">
    </wsdl:part>
    <wsdl:part element="xtee:id" name="id">
    </wsdl:part>
    <wsdl:part element="xtee:nimi" name="nimi">
    </wsdl:part>
    <wsdl:part element="xtee:ametnik" name="ametnik">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="vtaJaakResponse">
    <wsdl:part name="paring" type="tns:vtaJaakRequest">
    </wsdl:part>
    <wsdl:part name="keha" type="tns:vtaJaakResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="pria-vra">
    <wsdl:operation name="vtaJaak">
<wsdl:documentation><xtee:title>pria-vra vta jääk teenus</xtee:title></wsdl:documentation>
      <wsdl:input message="tns:vtaJaakRequest" name="vtaJaakRequest">
    </wsdl:input>
      <wsdl:output message="tns:vtaJaakResponse" name="vtaJaakResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pria-vraSoap11" type="tns:pria-vra">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="vtaJaak">
      <soap:operation soapAction=""/>
        <xtee:version>v1</xtee:version>
      <wsdl:input name="vtaJaakRequest">
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="asutus" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="andmekogu" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="isikukood" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="nimi" use="literal">
        </soap:header>
        <soap:body namespace="http://producers.pria-vra.xtee.riik.ee/producer/pria-vra" use="literal"/>
      </wsdl:input>
      <wsdl:output name="vtaJaakResponse">
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="asutus" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="andmekogu" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="isikukood" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="nimi" use="literal">
        </soap:header>
        <soap:body namespace="http://producers.pria-vra.xtee.riik.ee/producer/pria-vra" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pria-vraService">
    <wsdl:port binding="tns:pria-vraSoap11" name="pria-vraSoap11">
      <soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
    <xtee:address producer="pria-vra"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>