client-service/jvis/src/main/resources/jvis.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
				  xmlns:tns="http://jvisv6.x-road.eu/producer"
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
				  targetNamespace="http://jvisv6.x-road.eu/producer">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
				targetNamespace="http://jvisv6.x-road.eu/producer"
				elementFormDefault="qualified">
			<import namespace="http://x-road.eu/xsd/xroad.xsd"
					schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
			<element name="ettekirjutused_search">
				<complexType>
					<all>
						<element name="saanud_isik" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Saanud isik</xrd:title>
									<xrd:notes>Ettekirjutuse saanud nimi või nime osa</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="saanud_isik_kood" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Saanud isiku isikukood</xrd:title>
									<xrd:notes>Ettekirjutuse saanud isiku isikukood või äriregistri kood</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="mtr_reg_nr" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>MTR-i reg. number</xrd:title>
									<xrd:notes/>
								</appinfo>
							</annotation>
						</element>
						<element name="number" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Ettekirjutuse number</xrd:title>
									<xrd:notes>Ettekirjutuse number</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="teinud_isik" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Ettekirjutuse teinud isik</xrd:title>
									<xrd:notes>Ettekirjutuse teinud isiku isikukood või äriregistri kood</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="rikkumine_viide" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Viide rikkumisele</xrd:title>
									<xrd:notes>Viide rikkumisele</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="tegemise_kp_alates" type="date" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Ettekirjutuse tegemise kuupäev (alates)</xrd:title>
									<xrd:notes>Formaat aaaa-kk-pp</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="tegemise_kp_kuni" type="date" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Ettekirjutuse tegemise kuupäev (kuni)</xrd:title>
									<xrd:notes>Formaat aaaa-kk-pp</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="rea_taitmise_kp_alates" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Rea täitmise kuupäev (alates)</xrd:title>
									<xrd:notes>Formaat aaaa-kk-pp</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="rea_taitmise_kp_kuni" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Rea täitmise kuupäev (kuni)</xrd:title>
									<xrd:notes>Formaat aaaa-kk-pp</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="mtr_reg_olemas" type="tns:ainult_nendega" minOccurs="0" maxOccurs="1" default="0"/>
						<element name="kirjetearv" type="integer" minOccurs="0" maxOccurs="1" default="25">
							<annotation>
								<appinfo>
									<xrd:title>Maksimaalne vastuste arv</xrd:title>
									<xrd:notes>Vaikeväärtus 25</xrd:notes>
								</appinfo>
							</annotation>
						</element>
					</all>
				</complexType>
			</element>

			<element name="ettekirjutus_read">
			</element>

			<element name="ettekirjutused">
				<complexType>
					<sequence>
						<element name="ettekirjutus" minOccurs="1" maxOccurs="unbounded">
							<annotation>
								<appinfo>
									<xrd:title xml:lang="et">Ettekirjutus</xrd:title>
								</appinfo>
							</annotation>
							<complexType>
								<sequence>
									<element name="saanud_isik_nimi" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Saanud isiku nimi</xrd:title>
												<xrd:notes>Ettekirjutuse saanud isiku nimi</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="saanud_isik_kood" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Saanud isiku kood</xrd:title>
												<xrd:notes>Ettekirjutuse saanud isiku registri või isikukood</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="mtr_nr" type="string">
										<annotation>
											<appinfo>
												<xrd:title>MTR-i reg. number</xrd:title>
												<xrd:notes>seotud MTR registreeringu nr</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="valjastaja_nimi" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Väljastanud isik</xrd:title>
												<xrd:notes>Ettekirjutuse väljastanud isiku nimi</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="valjastaja_kood" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Väljastanud isiku kood</xrd:title>
												<xrd:notes>Ettekirjutuse väljastanud isiku isiku-/registrikood</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="valjastaja_aadress" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Väljastaja aadress</xrd:title>
												<xrd:notes>Ettekirjutuse väljastanud isiku aadress</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="valjastaja_telefon" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Väljastanud isiku telefon</xrd:title>
												<xrd:notes>Ettekirjutuse väljastanud isiku telefon</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="menetleja_eesnimi" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Menetleja eesnimi</xrd:title>
												<xrd:notes>Ettekirjutuse menetleja eesnimi</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="menetleja_perenimi" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Menetleja perenimi</xrd:title>
												<xrd:notes>Ettekirjutuse menetleja perenimi</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="menetleja_isikukood" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Menetleja isikukood</xrd:title>
												<xrd:notes>Ettekirjutuse menetleja isikukood</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="tegemise_kp" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Ettekirjutuse tegemise kuupäev</xrd:title>
												<xrd:notes>Formaat: pp.kk.aaaa</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="ettekirjutuse_nr" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Ettekirjutuse number</xrd:title>
												<xrd:notes>Ettekirjutuse number</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="alus" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Ettekirjutuse tegemise alus, viide, täpsustus</xrd:title>
												<xrd:notes>Alus, aluse_viide, täpsustus</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="vaidlustus_voimalused" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Ettekirjutuse vaidlustusvõimalused</xrd:title>
												<xrd:notes>Ettekirjutuse vaidlustusvõimalused</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="ettekirjutus_read" minOccurs="0" maxOccurs="unbounded">
										<complexType>
											<sequence>
												<element name="rikkumine_viide" type="string">
													<annotation>
														<appinfo>
															<xrd:title>Rikkumine, viide</xrd:title>
															<xrd:notes>rikkumine, viide</xrd:notes>
														</appinfo>
													</annotation>
												</element>
												<element name="taitmise_tahtaeg" type="string">
													<annotation>
														<appinfo>
															<xrd:title>Ettekirjutuse täitmise tähtaeg</xrd:title>
															<xrd:notes>Formaat: pp.kk.aaaa</xrd:notes>
														</appinfo>
													</annotation>
												</element>
												<element name="pikendatud_tahtaeg" type="string">
													<annotation>
														<appinfo>
															<xrd:title>Pikendatud ettekirjutuse täitmise tähtaeg</xrd:title>
															<xrd:notes>Formaat: pp.kk.aaaa</xrd:notes>
														</appinfo>
													</annotation>
												</element>
												<element name="meetmed" type="string">
													<annotation>
														<appinfo>
															<xrd:title>Meetmed</xrd:title>
															<xrd:notes>Ettekirjutuse meetmed</xrd:notes>
														</appinfo>
													</annotation>
												</element>
												<element name="taitmise_kp" type="string">
													<annotation>
														<appinfo>
															<xrd:title>Ettekirjutuse täitmise kuupäev</xrd:title>
															<xrd:notes>Formaat: pp.kk.aaaa</xrd:notes>
														</appinfo>
													</annotation>
												</element>
												<element name="taitmise_kommentaar" type="string">
													<annotation>
														<appinfo>
															<xrd:title>Ettekirjutuse täitmise kommentaar</xrd:title>
															<xrd:notes>Ettekirjutuse täitmise kommentaar</xrd:notes>
														</appinfo>
													</annotation>
												</element>
											</sequence>
										</complexType>
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="isikuVedurijuhilubaParing">
				<complexType>
					<all>
						<element name="isikukood" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Isikukood</xrd:title>
								</appinfo>
							</annotation>
						</element>
					</all>
				</complexType>
			</element>

			<complexType name="Koolitus">
				<sequence>
					<element name="koolitusasutus" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Koolitusasutuse nimi</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tunnistuseNumber" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Tunnistuse number</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="tunnistuseKuupaev" type="date">
						<annotation>
							<appinfo>
								<xrd:title>Tunnistuse väljaandmise kuupäev</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>

			<element name="isikuVedurijuhilubaVastus">
				<complexType>
					<sequence>
						<element name="loaNumber" type="string">
							<annotation>
								<appinfo>
									<xrd:title>Loa number</xrd:title>
									<xrd:notes>Kui ühtegi luba pole, siis tühi</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="kehtivKuni" type="date">
							<annotation>
								<appinfo>
									<xrd:title>Kehtiv kuni</xrd:title>
									<xrd:notes>Kui ühtegi luba pole, siis tühi</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="peatamisePohjus" type="string">
							<annotation>
								<appinfo>
									<xrd:title>Peatamise põhjus</xrd:title>
									<xrd:notes>Kui ühtegi luba pole või kui viimast luba pole peatatud, siis tühi</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="koolitused">
							<complexType>
								<sequence>
									<element name="Koolitus" type="tns:Koolitus" minOccurs="0" maxOccurs="unbounded">
									</element>
								</sequence>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="vedurijuhiloaEksamParing">
				<complexType>
					<all>
						<element name="isikukood" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotleja isikukood</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="sooritatud" type="integer" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Sooritatud</xrd:title>
									<xrd:notes>
										Kas eksam sooritati edukalt. Täisarv vahemikus 0 - 2
										mittesooritatud (0)
										sooritatud (1)
										tühistatud (2)
									</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="kuupaev" type="date" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Eksami sooritamise kuupäev</xrd:title>
								</appinfo>
							</annotation>
						</element>
					</all>
				</complexType>
			</element>
			<element name="vedurijuhiloaEksamVastus">
				<complexType>
					<sequence>
						<element name="vastuskood" type="string">
							<annotation>
								<appinfo>
									<xrd:title>Vastuskood</xrd:title>
									<xrd:notes>
										OK	Tegevus õnnestus
										Server:	Tegevus ebaõnnestus, kuna sisendi töötlemisel tekkis mingi viga, mis ei sõltu sisendist. Nt. "Server:Database" viitab sellele, et andmekogu adapterserver ei saanud andmebaasiga ühendust.
									</xrd:notes>
								</appinfo>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="vedurijuhiloaKatteandmineParing">
				<complexType>
					<all>
						<element name="isikukood" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Isikukood</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="loaNumber" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Kätte antud loa number</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="katteandmiseKuupaev" type="date" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Loa kätteandmise kuupäev</xrd:title>
								</appinfo>
							</annotation>
						</element>
					</all>
				</complexType>
			</element>
			<element name="vedurijuhiloaKatteandmineVastus">
				<complexType>
					<sequence>
						<element name="vastuskood" type="string">
							<annotation>
								<appinfo>
									<xrd:title>Vastuskood</xrd:title>
									<xrd:notes>
										OK	Tegevus õnnestus
										Server:	Tegevus ebaõnnestus, kuna sisendi töötlemisel tekkis mingi viga, mis ei sõltu sisendist. Nt. "Server:Database" viitab sellele, et andmekogu adapterserver ei saanud andmebaasiga ühendust.
									</xrd:notes>
								</appinfo>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="paigaldis_liigid_parameetrid">
				<complexType>
				</complexType>
			</element>
			<element name="paigaldis_liigid_vastus">
				<complexType>
					<sequence>
						<element name="item" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<all>
									<element name="id" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Liigi identifikaator</xrd:title>
												<xrd:notes>Paigaldise liigi identifikaator</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="vanem_id" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Ülemise taseme liigi identifikaator</xrd:title>
												<xrd:notes>Kõige ülemise taseme korral 0</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="nimetus" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Liigi nimetus</xrd:title>
												<xrd:notes>Tekstikujul</xrd:notes>
											</appinfo>
										</annotation>
									</element>
								</all>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="paigaldis_otsing_parameetrid">
				<complexType>
					<all>
						<element name="paigaldis_liik" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise liik</xrd:title>
									<xrd:notes>Paigaldise liigi identifikaator (liikide päringust)</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="omanik_nimi" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Omaniku nimi</xrd:title>
									<xrd:notes>Paigaldise omaniku nimi (jur. või füüs. isik)</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="omanik_kood" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Omaniku kood</xrd:title>
									<xrd:notes>Omaniku isiku- või äriregistri kood</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="valdaja_nimi" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Valdaja nimi</xrd:title>
									<xrd:notes>Paigaldise valdaja nimi (jur. või füüs. isik)</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="valdaja_kood" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Valdaja kood</xrd:title>
									<xrd:notes>Valdaja isiku- või äriregistri kood</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="paigaldis_aadress_tanav" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise aadress: tänava nimi</xrd:title>
									<xrd:notes>Tõstutundetu</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="paigaldis_aadress_maja_korter" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise aadress: maja, korteri nr, talu nimi</xrd:title>
									<xrd:notes>Tekstina sellisel kujul, mida infosüsteemis ühe osana aadressist sisestatakse</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="paigaldis_aadress_indeks" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise aadress: indeks</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="paigaldis_aadress_asula" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise aadress: asula</xrd:title>
									<xrd:title>Identifikaator vastavalt Eesti haldus- ja asustusjaotuse klassifikaatorile http://www.stat.ee/klassifikaatorid</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="paigaldis_regnr" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise registrinumber</xrd:title>
									<xrd:notes>Paigaldise registreerimisnumber tekstina</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="paigaldis_muudetud_alates" type="dateTime" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise muutmise ajavahemiku algus</xrd:title>
									<xrd:notes>Kontrollitakse nii muutmise kui lisamise hetke, tagastatakse kirjed, kus vastav ajatempel on sama või hilisem paigaldis_muudetud_alates väärtusest</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="paigaldis_muudetud_kuni" type="dateTime" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise muutmise ajavahemiku lõpp</xrd:title>
									<xrd:notes>Kontrollitakse nii muutmise kui lisamise hetke, tagastatakse kirjed, kus vastav ajatempel on sama või varasem paigaldis_muudetud_kuni väärtusest</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="paigaldis_staatus" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Paigaldise staatus</xrd:title>
									<xrd:notes>Näitab, kas paigaldis on aktiivne või passiivne</xrd:notes>
								</appinfo>
							</annotation>
						</element>
						<element name="kirjetearv" type="integer" minOccurs="0" maxOccurs="1" default="25">
							<annotation>
								<appinfo>
									<xrd:title>Maksimaalne vastuste arv</xrd:title>
									<xrd:notes>Vaikeväärtus 25</xrd:notes>
								</appinfo>
							</annotation>
						</element>
					</all>
				</complexType>
			</element>
			<element name="paigaldis_otsing_vastus">
				<complexType>
					<sequence>
						<element name="item" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<all>
									<element name="paigaldis_id" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise id</xrd:title>
												<xrd:notes>Paigaldise identifikaator</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_nimetus" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise nimetus</xrd:title>
												<xrd:notes>Koosneb tavaliselt numbrist ja liigist</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_liik" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise liik</xrd:title>
												<xrd:notes>Paigaldise liigi identifikaator (liikide päringust)</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="naita_kaardil" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Näita kaardil</xrd:title>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_liik_nimetus" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise liigi nimetus</xrd:title>
												<xrd:notes>Koos ülemise taseme liiginimetustega</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_aadress_tapne" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise aadressi täpsustus</xrd:title>
												<xrd:notes>Sisaldab üldiselt tänavat, maja, korterit, talu nime vms</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_aadress_indeks" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise aadress: indeks</xrd:title>
												<xrd:notes>Paigaldise asukoha postiindeks</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_aadress_asula" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise aadress: asula</xrd:title>
												<xrd:notes>Paigaldise asukoha identifikaator EHAK'i järgi võimalikult täpselt (linn, küla, alev, vald või maakond)</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="omanik_nimi" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Omaniku nimi</xrd:title>
												<xrd:notes>Paigaldise omaniku nimi (jur. või füüs. isik)</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="omanik_kood" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Omaniku kood</xrd:title>
												<xrd:notes>Omaniku isiku- või äriregistri kood</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="valdaja_nimi" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Valdaja nimi</xrd:title>
												<xrd:notes>Paigaldise valdaja nimi (jur. või füüs. isik)</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="valdaja_kood" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Valdaja kood</xrd:title>
												<xrd:notes>Valdaja isiku- või äriregistri kood</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_regnr" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise registrinumber</xrd:title>
												<xrd:notes>Paigaldise registreerimisnumber tekstina</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_muudetud" type="date">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise muutmise ajatempel</xrd:title>
												<xrd:notes>Paigaldise muutmise ajatempel</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_lest_pl" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise asukoha põhjalaius meetrites</xrd:title>
												<xrd:notes>Tekstikujul, komakohtade eraldaja - punkt</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_lest_ip" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise asukoha idapikkus meetrites</xrd:title>
												<xrd:notes>Tekstikujul, komakohtade eraldaja - punkt</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="paigaldis_staatus" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise staatus</xrd:title>
												<xrd:notes>Näitab, kas paigaldis on aktiivne või passiivne</xrd:notes>
											</appinfo>
										</annotation>
									</element>
									<element name="mis_id" type="string">
										<annotation>
											<appinfo>
												<xrd:title>Identifikaator Maa-ameti infosüsteemis</xrd:title>
											</appinfo>
										</annotation>
									</element>
									<element name="ohutusraadius" type="integer">
										<annotation>
											<appinfo>
												<xrd:title>Paigaldise ohtutusraadius meetrites</xrd:title>
											</appinfo>
										</annotation>
									</element>
								</all>
							</complexType>
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="koik_kaidukorraldajad_parameetrid">
				<complexType>
					<all>
						<element name="hetk" type="dateTime"/>
					</all>
				</complexType>
			</element>
			<element name="koik_kaidukorraldajad_vastus">
				<complexType>
					<sequence>
						<element name="item" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="TarbimiskohaUnikaalneID" type="long" minOccurs="1" maxOccurs="1"/>
									<element name="x_op" type="string" minOccurs="1" maxOccurs="1" /> <!-- teostatud operatsioon: I (sisestatud kirje), U (uuendatud kirje), D (kustutatud kirje) -->
									<element name="JurKaidukorraldaja" minOccurs="0" maxOccurs="1" type="tns:Jisik_Kaidukorraldaja"/>
									<element name="FisikKaidukorraldaja" minOccurs="0" maxOccurs="1" type="tns:Fisik_Kaidukorraldaja"/>
								</sequence>
							</complexType>
						</element>
						<element name="faultString" minOccurs="0" maxOccurs="1" type="string"/>
						<element name="faultCode" minOccurs="0" maxOccurs="1" type="string"/>
					</sequence>
				</complexType>
			</element>

			<complexType name="Jisik_Kaidukorraldaja">
				<sequence>
					<element name="Registrikood" type="string"/>
					<element name="Nimi" type="string"/>
					<element name="Omandivorm" type="string"/>
					<element name="KaidukorraldajaAadress" type="tns:Kaidukorraldaja_Aadress"/>
					<element name="KontaktTelefon" type="string"/>
					<element name="KontaktFaks" type="string"/>
					<element name="Veebiaadress" type="string" minOccurs="0"/>
					<element name="KontaktEpost" type="string"/>
					<element name="FisikKaidukorraldaja" maxOccurs="unbounded" type="tns:Fisik_Kaidukorraldaja"/>
				</sequence>
			</complexType>
			<complexType name="Fisik_Kaidukorraldaja">
				<sequence>
					<element name="Isikukood" type="string" minOccurs="0"/>
					<element name="Synniaeg" type="date" minOccurs="0"/>
					<element name="Eesnimi" type="string"/>
					<element name="Perenimi" type="string"/>
					<element name="KaidukorraldajaAadress" type="tns:Kaidukorraldaja_Aadress" minOccurs="0"/>
					<element name="KontaktTelefon" type="string"/>
					<element name="KontaktFaks" type="string"/>
					<element name="KontaktEpost" type="string"/>
				</sequence>
			</complexType>

			<complexType name="Kaidukorraldaja_Aadress">
				<sequence>
					<element name="Asukoha_kood" type="string"/>
					<element name="Asukoha_nimetus" type="string"/>
					<element name="Postiindeks" type="string"/>
					<element name="TanavMajaKorter" type="string"/>
				</sequence>
			</complexType>

			<element name="padevusulatus_parameetrid">
				<complexType>
				</complexType>
			</element>
			<element name="padevusulatused">
				<complexType>
					<sequence>
						<element name="padevusulatus" type="tns:padevusulatus" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>
			<element name="padevusulatus">
				<complexType>
					<all>
						<element name="id" type="integer">
							<annotation>
								<appinfo>
									<xrd:title>Pädevusulatuse identifikaator</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="nimetus" type="string">
							<annotation>
								<appinfo>
									<xrd:title>Pädevusulatuse nimetus</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="vanem_id" type="integer" minOccurs="0">
							<annotation>
								<appinfo>
									<xrd:title>Pädevusulatuse ülemise taseme identifikaator</xrd:title>
								</appinfo>
							</annotation>
						</element>
					</all>
				</complexType>
			</element>

			<complexType name="padevusulatus">
				<all>
					<element name="id" type="integer">
						<annotation>
							<appinfo>
								<xrd:title>Pädevusulatuse identifikaator</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="nimetus" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Pädevusulatuse nimetus</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="vanem_id" type="integer" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title>Pädevusulatuse ülemise taseme identifikaator</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</all>
			</complexType>

			<element name="padevusulatus_vastus">
				<complexType>
					<sequence>
						<element name="padevusulatus" type="tns:padevusulatus" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</complexType>
			</element>

			<element name="tarbimiskoha_kaidukorraldajad_parameetrid">
				<complexType>
					<sequence>
						<element name="TarbimiskohaUnikaalneID" type="long"/>
					</sequence>
				</complexType>
			</element>
			<element name="tarbimiskoha_kaidukorraldajad_vastus">
				<complexType>
					<sequence>
						<element name="JurKaidukorraldaja" minOccurs="0" maxOccurs="unbounded" type="tns:Jisik_Kaidukorraldaja"/>
						<element name="FisikKaidukorraldaja" minOccurs="0" maxOccurs="unbounded" type="tns:Fisik_Kaidukorraldaja"/>
						<element name="faultString" minOccurs="0" maxOccurs="1" type="string"/>
						<element name="faultCode" minOccurs="0" maxOccurs="1" type="string"/>
					</sequence>
				</complexType>
			</element>

			<element name="teostatud_kontrollid_parameetrid">
				<complexType>
					<choice>
						<element name="EE_ID" type="integer"/>
						<element name="Hetk" type="dateTime"/>
					</choice>
				</complexType>
			</element>
			<element name="teostatud_kontrollid_vastus">
				<complexType>
					<sequence>
						<element name="item" minOccurs="0" maxOccurs="unbounded">
							<complexType>
								<sequence>
									<element name="EE_ID" type="integer"/>
									<element name="Paigaldis_ID" type="integer"/>
									<element name="TK_ID" type="integer"/>
									<element name="Muudetud" type="dateTime"/>
									<element name="Protokoll_number" type="string"/>
									<element name="Teostatud" type="date"/>
									<element name="Teostaja" type="tns:Ametnik"/>
									<element name="Kontrolli_toiming">
										<simpleType>
											<restriction base="integer">
												<enumeration value="0">
													<annotation>
														<appinfo>
															<xrd:title>Erakorraline</xrd:title>
														</appinfo>
													</annotation>
												</enumeration>
												<enumeration value="1">
													<annotation>
														<appinfo>
															<xrd:title>Kasutamiseelne</xrd:title>
														</appinfo>
													</annotation>
												</enumeration>
												<enumeration value="2">
													<annotation>
														<appinfo>
															<xrd:title>Korraline</xrd:title>
														</appinfo>
													</annotation>
												</enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="Tulemus">
										<simpleType>
											<restriction base="integer">
												<enumeration value="0">
													<annotation>
														<appinfo>
															<xrd:title>Tulemus negatiivne</xrd:title>
														</appinfo>
													</annotation>
												</enumeration>
												<enumeration value="1">
													<annotation>
														<appinfo>
															<xrd:title>Tulemus positiivne</xrd:title>
														</appinfo>
													</annotation>
												</enumeration>
											</restriction>
										</simpleType>
									</element>
									<element name="Eksperdi_markused" type="string" minOccurs="0"/>
									<element name="Jargmine_kontroll" type="date" minOccurs="0"/>
									<element name="Tunnistus_number" type="string" minOccurs="0"/>
									<element name="Tunnistus_kuupaev" type="date" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
						<element name="faultString" minOccurs="0" maxOccurs="1" type="string"/>
						<element name="faultCode" minOccurs="0" maxOccurs="1" type="string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="Ametnik">
				<sequence>
					<element name="Eesnimi" type="string" minOccurs="0"/>
					<element name="Perenimi" type="string"/>
					<element name="Isikukood" type="string" minOccurs="0"/>
					<element name="Telefon" type="string" minOccurs="0"/>
					<element name="Mobiiltelefon" type="string" minOccurs="0"/>
					<element name="Epost" type="string" minOccurs="0"/>
					<element name="Asutus_nimi" type="string"/>
					<element name="Asutus_kood" type="string"/>
				</sequence>
			</complexType>

			<simpleType name="ainult_nendega">
				<annotation>
					<appinfo>
						<xrd:title>Ainult MTR-i seosega ettekirjutused</xrd:title>
						<xrd:notes>Valikvaartused {0,1}</xrd:notes>
					</appinfo>
				</annotation>
				<restriction base="integer">
					<enumeration value="0">
						<annotation>
							<appinfo>
								<xrd:title>Ei</xrd:title>
							</appinfo>
						</annotation>
					</enumeration>
					<enumeration value="1">
						<annotation>
							<appinfo>
								<xrd:title>Jah</xrd:title>
							</appinfo>
						</annotation>
					</enumeration>
				</restriction>
			</simpleType>

			<complexType name="padevustunnistusega_isik">
				<sequence>
					<element name="nimi" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Isiku nimi</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="isikukood" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Isikukood</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="padevustunnistused" type="tns:padevustunnistused">
						<annotation>
							<appinfo>
								<xrd:title>Isiku pädevustunnistused</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="padevustunnistused">
				<sequence>
					<element name="padevustunnistus" type="tns:padevustunnistus" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<appinfo>
								<xrd:title>Pädevustunnistuse andmed</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="padevustunnistus">
				<sequence>
					<element name="padevustunnistus_nr" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Pädevustunnistuse number</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="padevusulatused">
						<complexType>
							<sequence>
								<element name="padevusulatus" type="tns:padevusulatus" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
						</complexType>
					</element>
					<element name="valjastaja_registrikood" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Väljastaja registrikood</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="valjaandmiskoht" type="string">
						<annotation>
							<appinfo>
								<xrd:title>Väljaandmise koht</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="valjastamise_kuupaev" type="date">
						<annotation>
							<appinfo>
								<xrd:title>Väljastamise kuupäev</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kehtivuse_lopp" type="date">
						<annotation>
							<appinfo>
								<xrd:title>Kehtivuse lõpu kuupäev</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>

			<element name="padevustunnistusega_isiku_otsing_parameetrid">
				<complexType>
					<all>
						<element name="isikukood" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Isikukood</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="tegevusala_tahis" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Pädevusulatuse tähis vastavalt MTR tegevusalade klassifikaatorile</xrd:title>
								</appinfo>
							</annotation>
						</element>
					</all>
				</complexType>
			</element>
			<element name="padevustunnistusega_isiku_otsing_vastus">
				<complexType>
					<sequence>
						<element name="item" type="tns:padevustunnistusega_isik" minOccurs="0" maxOccurs="unbounded">
						</element>
					</sequence>
				</complexType>
			</element>

			<element name="vedurijuhiloaTaotlusParing">
				<complexType>
					<all>
						<element name="id" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotluse ID</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="isikukood" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotleja isikukood</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="eesnimi" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotleja eesnimi</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="perenimi" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotleja perekonnanimi</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="synniaeg" type="date" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotleja sünnikuupäev</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="pilt" type="base64Binary" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotleja foto JPG-formaadis Base64 kodeeringus</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="allkiri" type="base64Binary" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotleja allkiri JPG-formaadis Base64 kodeeringus</xrd:title>
								</appinfo>
							</annotation>
						</element>
						<element name="taotlemisePohjus" type="integer" minOccurs="1" maxOccurs="1">
							<annotation>
								<appinfo>
									<xrd:title>Taotlemise põhjus</xrd:title>
									<xrd:notes>
										Taotlemise põhjuse kood on täisarv vahemikus 1 - 6
										1. Esmane;
										2. Duplikaat;
										3. Kehtivuse pikendamine:
										4. Juhtimisõiguse taastamine.
										5. Laiendus
										6. Tühistatud
									</xrd:notes>
								</appinfo>
							</annotation>
						</element>
					</all>
				</complexType>
			</element>
			<element name="vedurijuhiloaTaotlusVastus">
				<complexType>
					<sequence>
						<element name="vastuskood" type="string">
							<annotation>
								<appinfo>
									<xrd:title>Vastuskood</xrd:title>
									<xrd:notes>
										OK	Tegevus õnnestus
										Server:	Tegevus ebaõnnestus, kuna sisendi töötlemisel tekkis mingi viga, mis ei sõltu sisendist. Nt. "Server:Database" viitab sellele, et andmekogu adapterserver ei saanud andmebaasiga ühendust.
									</xrd:notes>
								</appinfo>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>

		</schema>
	</wsdl:types>
	<wsdl:message name="standardheader">
		<wsdl:part name="client" element="xrd:client"/>
		<wsdl:part name="service" element="xrd:service"/>
		<wsdl:part name="id" element="xrd:id"/>
		<wsdl:part name="userId" element="xrd:userId"/>
		<wsdl:part name="requestHash" element="xrd:requestHash"/>
		<wsdl:part name="issue" element="xrd:issue"/>
		<wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
	</wsdl:message>
	<wsdl:message name="ettekirjutusedResponse">
		<wsdl:part name="body" element="tns:ettekirjutused"/>
	</wsdl:message>
	<wsdl:message name="ettekirjutusedRequest">
		<wsdl:part name="body" element="tns:ettekirjutused_search"/>
	</wsdl:message>
	<wsdl:message name="isikuVedurijuhilubaResponse">
		<wsdl:part name="body" element="tns:isikuVedurijuhilubaVastus"/>
	</wsdl:message>
	<wsdl:message name="isikuVedurijuhiluba_paring">
		<wsdl:part name="body" element="tns:isikuVedurijuhilubaParing"/>
	</wsdl:message>
	<wsdl:message name="vedurijuhiloaEksamResponse">
		<wsdl:part name="body" element="tns:vedurijuhiloaEksamVastus"/>
	</wsdl:message>
	<wsdl:message name="vedurijuhiloaEksam_paring">
		<wsdl:part name="body" element="tns:vedurijuhiloaEksamParing"/>
	</wsdl:message>
	<wsdl:message name="vedurijuhiloaKatteandmineResponse">
		<wsdl:part name="body" element="tns:vedurijuhiloaKatteandmineVastus"/>
	</wsdl:message>
	<wsdl:message name="vedurijuhiloaKatteandmine_paring">
		<wsdl:part name="body" element="tns:vedurijuhiloaKatteandmineParing"/>
	</wsdl:message>
	<wsdl:message name="paigaldis_liigidResponse">
		<wsdl:part name="body" element="tns:paigaldis_liigid_vastus"/>
	</wsdl:message>
	<wsdl:message name="paigaldis_liigid_paring">
		<wsdl:part name="body" element="tns:paigaldis_liigid_parameetrid"/>
	</wsdl:message>
	<wsdl:message name="paigaldis_otsingResponse">
		<wsdl:part name="body" element="tns:paigaldis_otsing_vastus"/>
	</wsdl:message>
	<wsdl:message name="paigaldis_otsing_paring">
		<wsdl:part name="body" element="tns:paigaldis_otsing_parameetrid"/>
	</wsdl:message>
	<wsdl:message name="koik_kaidukorraldajadResponse">
		<wsdl:part name="body" element="tns:koik_kaidukorraldajad_vastus"/>
	</wsdl:message>
	<wsdl:message name="koik_kaidukorraldajad_paring">
		<wsdl:part name="body" element="tns:koik_kaidukorraldajad_parameetrid"/>
	</wsdl:message>
	<wsdl:message name="padevusulatusResponse">
		<wsdl:part name="body" element="tns:padevusulatus_vastus"/>
	</wsdl:message>
	<wsdl:message name="padevusulatus_paring">
		<wsdl:part name="body" element="tns:padevusulatus_parameetrid"/>
	</wsdl:message>
	<wsdl:message name="tarbimiskoha_kaidukorraldajad_paring">
		<wsdl:part name="body" element="tns:tarbimiskoha_kaidukorraldajad_parameetrid"/>
	</wsdl:message>
	<wsdl:message name="tarbimiskoha_kaidukorraldajadResponse">
		<wsdl:part name="body" element="tns:tarbimiskoha_kaidukorraldajad_vastus"/>
	</wsdl:message>
	<wsdl:message name="teostatud_kontrollidResponse">
		<wsdl:part name="body" element="tns:teostatud_kontrollid_vastus"/>
	</wsdl:message>
	<wsdl:message name="teostatud_kontrollid_paring">
		<wsdl:part name="body" element="tns:teostatud_kontrollid_parameetrid"/>
	</wsdl:message>
	<wsdl:message name="padevustunnistusega_isiku_otsingResponse">
		<wsdl:part name="body" element="tns:padevustunnistusega_isiku_otsing_vastus"/>
	</wsdl:message>
	<wsdl:message name="padevustunnistusega_isiku_otsing_paring">
		<wsdl:part name="body" element="tns:padevustunnistusega_isiku_otsing_parameetrid"/>
	</wsdl:message>
	<wsdl:message name="vedurijuhiloaTaotlusResponse">
		<wsdl:part name="body" element="tns:vedurijuhiloaTaotlusVastus"/>
	</wsdl:message>
	<wsdl:message name="vedurijuhiloaTaotlus_paring">
		<wsdl:part name="body" element="tns:vedurijuhiloaTaotlusParing"/>
	</wsdl:message>
	<wsdl:portType name="jvisv6PortType">
		<wsdl:operation name="ettekirjutused">
			<wsdl:documentation>
				<xrd:title>Ettekirjutused</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:ettekirjutusedRequest"/>
			<wsdl:output message="tns:ettekirjutusedResponse"/>
		</wsdl:operation>
		<wsdl:operation name="isikuVedurijuhiluba">
			<wsdl:documentation>
				<xrd:title>Isiku vedurijuhiloa päring</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:isikuVedurijuhiluba_paring"/>
			<wsdl:output message="tns:isikuVedurijuhilubaResponse"/>
		</wsdl:operation>
		<wsdl:operation name="vedurijuhiloaEksam">
			<wsdl:documentation>
				<xrd:title>Vedurijuhiloa teooriaeksami andmete JVIS-esse saatmine</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:vedurijuhiloaEksam_paring"/>
			<wsdl:output message="tns:vedurijuhiloaEksamResponse"/>
		</wsdl:operation>
		<wsdl:operation name="vedurijuhiloaKatteandmine">
			<wsdl:documentation>
				<xrd:title>Vedurijuhiloa kätteandmise kohta JVIS-esse andmete saatmine</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:vedurijuhiloaKatteandmine_paring"/>
			<wsdl:output message="tns:vedurijuhiloaKatteandmineResponse"/>
		</wsdl:operation>
		<wsdl:operation name="paigaldis_liigid">
			<wsdl:documentation>
				<xrd:title>Paigaldiste liigid</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:paigaldis_liigid_paring"/>
			<wsdl:output message="tns:paigaldis_liigidResponse"/>
		</wsdl:operation>
		<wsdl:operation name="paigaldis_otsing">
			<wsdl:documentation>
				<xrd:title>Paigaldise päring</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:paigaldis_otsing_paring"/>
			<wsdl:output message="tns:paigaldis_otsingResponse"/>
		</wsdl:operation>
		<wsdl:operation name="koik_kaidukorraldajad">
			<wsdl:documentation>
				<xrd:title>Kõikide käidukorraldajate päring</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:koik_kaidukorraldajad_paring"/>
			<wsdl:output message="tns:koik_kaidukorraldajadResponse"/>
		</wsdl:operation>
		<wsdl:operation name="padevusulatus">
			<wsdl:documentation>
				<xrd:title>Pädevusulatuse klassifikaator</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:padevusulatus_paring"/>
			<wsdl:output message="tns:padevusulatusResponse"/>
		</wsdl:operation>
		<wsdl:operation name="tarbimiskoha_kaidukorraldajad">
			<wsdl:documentation>
				<xrd:title>Tarbimiskoha käidukorraldajate päring</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:tarbimiskoha_kaidukorraldajad_paring"/>
			<wsdl:output message="tns:tarbimiskoha_kaidukorraldajadResponse"/>
		</wsdl:operation>
		<wsdl:operation name="teostatud_kontrollid">
			<wsdl:documentation>
				<xrd:title>Teostatud kontrollid</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:teostatud_kontrollid_paring"/>
			<wsdl:output message="tns:teostatud_kontrollidResponse"/>
		</wsdl:operation>
		<wsdl:operation name="padevustunnistusega_isiku_otsing">
			<wsdl:documentation>
				<xrd:title>Pädevustunnistusega isiku otsing</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:padevustunnistusega_isiku_otsing_paring"/>
			<wsdl:output message="tns:padevustunnistusega_isiku_otsingResponse"/>
		</wsdl:operation>
		<wsdl:operation name="vedurijuhiloaTaotlus">
			<wsdl:documentation>
				<xrd:title>Vedurijuhiloa taotluse saatmine JVIS-esse</xrd:title>
			</wsdl:documentation>
			<wsdl:input message="tns:vedurijuhiloaTaotlus_paring"/>
			<wsdl:output message="tns:vedurijuhiloaTaotlusResponse"/>
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:binding name="jvisv6Binding" type="tns:jvisv6PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ettekirjutused">
			<wsdl:documentation>
				<xrd:title>Ettekirjutused</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="isikuVedurijuhiluba">
			<wsdl:documentation>
				<xrd:title>Isiku vedurijuhiloa päring</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="vedurijuhiloaEksam">
			<wsdl:documentation>
				<xrd:title>Vedurijuhiloa teooriaeksami andmete JVIS-esse saatmine</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="vedurijuhiloaKatteandmine">
			<wsdl:documentation>
				<xrd:title>Vedurijuhiloa kätteandmise kohta JVIS-esse andmete saatmine</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paigaldis_liigid">
			<wsdl:documentation>
				<xrd:title>Paigaldiste liigid</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="paigaldis_otsing">
			<wsdl:documentation>
				<xrd:title>Paigaldise päring</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="koik_kaidukorraldajad">
			<wsdl:documentation>
				<xrd:title>Kõikide käidukorraldajate päring</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="padevusulatus">
			<wsdl:documentation>
				<xrd:title>Pädevusulatuse klassifikaator</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="tarbimiskoha_kaidukorraldajad">
			<wsdl:documentation>
				<xrd:title>Tarbimiskoha käidukorraldajate päring</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="teostatud_kontrollid">
			<wsdl:documentation>
				<xrd:title>Teostatud kontrollid</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="padevustunnistusega_isiku_otsing">
			<wsdl:documentation>
				<xrd:title>Pädevustunnistusega isiku otsing</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="vedurijuhiloaTaotlus">
			<wsdl:documentation>
				<xrd:title>Vedurijuhiloa taotluse saatmine JVIS-esse</xrd:title>
			</wsdl:documentation>
			<xrd:version>v1</xrd:version>
			<soap:operation soapAction="" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:standardheader" part="client" use="literal"/>
				<soap:header message="tns:standardheader" part="service" use="literal"/>
				<soap:header message="tns:standardheader" part="id" use="literal"/>
				<soap:header message="tns:standardheader" part="userId" use="literal"/>
				<soap:header message="tns:standardheader" part="requestHash" use="literal"/>
				<soap:header message="tns:standardheader" part="issue" use="literal"/>
				<soap:header message="tns:standardheader" part="protocolVersion" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="jvisv6Service">
		<wsdl:port binding="tns:jvisv6Binding" name="jvisv6ServicePort">
			<soap:address location="http://TURVASERVER/soap_server_v6.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>