client-service/dhl/src/main/resources/dhl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="http://producers.dhl.xtee.riik.ee/producer/dhl" xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns="http://www.w3.org/2000/09/xmldsig#" xmlns:ns1="http://www.sk.ee/DigiDoc/v1.3.0#" xmlns:ns2="http://www.riik.ee/schemas/dhl" xmlns:ns4="http://www.w3.org/1999/xlink" xmlns:ns5="http://www.w3.org/2001/XMLSchema" xmlns:ns6="http://www.riik.ee/schemas/dhl-meta-manual" xmlns:ns7="http://www.riik.ee/schemas/dhl-meta-automatic" name="dhlDefinitions" targetNamespace="http://producers.dhl.xtee.riik.ee/producer/dhl"
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
>
	<types>
<xs:schema targetNamespace="http://www.riik.ee/schemas/dhl" xmlns="http://www.riik.ee/schemas/dhl" xmlns:dhlma="http://www.riik.ee/schemas/dhl-meta-automatic" xmlns:dhlmm="http://www.riik.ee/schemas/dhl-meta-manual" xmlns:rkel="http://www.riik.ee/schemas/dhl/rkel_letter" xmlns:dd="http://www.sk.ee/DigiDoc/v1.3.0#" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.sk.ee/DigiDoc/v1.3.0#" schemaLocation="http://www.riik.ee/schemas/dhl/DigiDoc-1.3.xsd"/>
  <xs:import namespace="http://www.riik.ee/schemas/dhl-meta-automatic" schemaLocation="http://www.riik.ee/schemas/dhl/dhl-meta-automatic.xsd"/>
  <xs:import namespace="http://www.riik.ee/schemas/dhl-meta-manual" schemaLocation="http://www.riik.ee/schemas/dhl/dhl-meta-manual.xsd"/>
  <xs:import namespace="http://www.riik.ee/schemas/dhl/rkel_letter" schemaLocation="http://www.riik.ee/schemas/dhl/rkel_letter.xsd"/>
  <xs:element name="regnr" type="regnrType">
    <xs:annotation>
      <xs:documentation>Adressaadi asutuse registreerimisnumber</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="isikukood" type="isikukoodType">
    <xs:annotation>
      <xs:documentation>Adressaadi isikukood</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ametikoha_kood" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Adressaadi ametikoha kood. Kasulik juhul, kui saadetis on adresseeritud mingi ametikoha täitjale sõltumata seda ametikohta täitvast isikust. Kood peab vastama ametikohtade registri ID-le</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ametikoha_nimetus" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Adressaadi ametikoha nimetus.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="allyksuse_kood" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Adressaadi allüksuse kood. Kasulik juhul, kui saadetis on adresseeritud asutuse allüksusele. Kood peab vastama allüksuste registri ID-le</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="allyksuse_nimetus" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Adressaadi allüksuse nimetus.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="epost" type="epostType">
    <xs:annotation>
      <xs:documentation>Adressaadi e-posti aadress</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nimi" type="xs:string">
    <xs:annotation>
      <xs:documentation>Adressaadi (isiku) nimi</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="asutuse_nimi" type="xs:string">
    <xs:annotation>
      <xs:documentation>Adressaadi asutuse nimi</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="osakonna_kood" type="xs:string">
    <xs:annotation>
      <xs:documentation>Adressaadi struktuuriüksuse asutusesisene kood</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="osakonna_nimi" type="xs:string">
    <xs:annotation>
      <xs:documentation>Adressaadi struktuuriüksuse nimi</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="aadressType">
    <xs:annotation>
      <xs:documentation>Dokumendi transpordiaadress</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="regnr" minOccurs="0"/>
      <xs:element ref="isikukood" minOccurs="0"/>
      <xs:element ref="ametikoha_kood" minOccurs="0"/>
	  <xs:element ref="ametikoha_nimetus" minOccurs="0"/>
      <xs:element ref="allyksuse_kood" minOccurs="0"/>
	  <xs:element ref="allyksuse_nimetus" minOccurs="0"/>
      <xs:element ref="epost" minOccurs="0"/>
      <xs:element ref="nimi" minOccurs="0"/>
      <xs:element ref="asutuse_nimi" minOccurs="0"/>
      <xs:element ref="osakonna_kood" minOccurs="0"/>
      <xs:element ref="osakonna_nimi" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="regnrType">
    <xs:annotation>
      <xs:documentation>Asutuse registreerimisnumbri tüüp</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="isikukoodType">
    <xs:annotation>
      <xs:documentation>Füüsilise isiku isikukoodi tüüp</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value=""/>
      <xs:pattern value="\d{11}"/>
      <xs:pattern value="\c{2}\d+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="epostType">
    <xs:annotation>
      <xs:documentation>e-posti andmeformaadi tüüp</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="saatja" type="aadressType">
    <xs:annotation>
      <xs:documentation>Saatja info</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="saaja" type="aadressType">
    <xs:annotation>
      <xs:documentation>Saaja info, kellele dokument edastatakse/edastati</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="vahendaja" type="aadressType">
    <xs:annotation>
      <xs:documentation>Asutus/isik, kes dokumendi saatja DVK serverist saaja DVK serverisse edastas</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="edastus">
    <xs:annotation>
      <xs:documentation>Dokumendi konkreetsele saajele edastamise olekuinfo</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="saaja"/>
        <xs:element name="saadud" type="xs:dateTime">
          <xs:annotation>
            <xs:documentation>Ajamoment, mil DHL dokumendi saatjalt kätte sai</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="meetod">
          <xs:annotation>
            <xs:documentation>Transpordiviis, mida tuleb kasutada dokumendi saajale edastamiseks</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="epost"/>
              <xs:enumeration value="xtee"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="edastatud" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Ajamoment, mil dokument edastati DHL poolt saajale</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="loetud" type="xs:dateTime" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Ajamoment, mil dokument märgiti saaja poolt loetuks</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="fault" minOccurs="0"/>
        <xs:element name="staatus">
          <xs:annotation>
            <xs:documentation>Info edastuse oleku kohta</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="saatmisel"/>
              <xs:enumeration value="saadetud"/>
              <xs:enumeration value="katkestatud"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="vastuvotja_staatus_id" type="xs:integer" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Info dokumendile vastuvõtja poolel määratud oleku kohta</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="metaxml" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Saatjale tagasiside saatmiseks mõeldud vaba struktuuriga andmeväli</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="fault">
    <xs:annotation>
      <xs:documentation>Element transpordivigade teatamiseks. Sisu analoogne SOAP fault päringuvastusega</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="faultcode" type="xs:string"/>
        <xs:element name="faultactor" type="xs:string"/>
        <xs:element name="faultstring" type="xs:string"/>
        <xs:element name="faultdetail" type="xs:string"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="metainfo">
    <xs:annotation>
      <xs:documentation>Dokumendi metainfo</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="http://www.riik.ee/schemas/dhl-meta-automatic" minOccurs="0" maxOccurs="unbounded"/>
        <xs:any namespace="http://www.riik.ee/schemas/dhl-meta-manual" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dhlDokumentType">
    <xs:annotation>
      <xs:documentation>Andmevahetusdokumendi tüüp</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:element ref="metainfo" minOccurs="0"/>
        <xs:element ref="transport" minOccurs="0"/>
        <xs:element ref="ajalugu" minOccurs="0"/>
        <xs:element ref="metaxml" minOccurs="0"/>
        <xs:element ref="dd:SignedDoc" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:element name="ref" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Viide dokumendile DHL dokumendikontol</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="dhl_id" type="dhlma:dhlDokIDType" use="optional"/>
          <xs:attribute name="dhl_taisnimi" type="dhlma:dhlDokTaisnimiType"/>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="tagasisideType">
    <xs:annotation>
      <xs:documentation>Tagasiside vastuvõetud dokumendi oleku ja vigade kohta</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element name="dhl_id" type="xs:integer" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Dokumendi DVK ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vastuvotja_staatus_id" type="xs:integer" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Vastuvõtja poolel dokumendile antud oleku ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="fault" minOccurs="0">
        <xs:annotation>
          <xs:documentation>vastuvõtja poolel ilmnenud vea andmed</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:element name="transport">
    <xs:annotation>
      <xs:documentation>Dokumendi transportinfo</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="saatja" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="saaja" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="vahendaja" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metaxml">
    <xs:annotation>
      <xs:documentation>Riigikantselei poolt fikseeritud kirja metaandmed</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dokument" type="dhlDokumentType">
    <xs:annotation>
      <xs:documentation>DHL poolt kasutatav dokumendielement</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ajalugu">
    <xs:annotation>
      <xs:documentation>Informatsioon dokumendi liikumistee kohta</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="metainfo"/>
        <xs:element ref="transport"/>
        <xs:element ref="metaxml"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
		<schema targetNamespace="http://producers.dhl.xtee.riik.ee/producer/dhl" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://producers.dhl.xtee.riik.ee/producer/dhl" xmlns:dhlma="http://www.riik.ee/schemas/dhl-meta-automatic" xmlns:dhl="http://www.riik.ee/schemas/dhl" xmlns:dd="http://www.sk.ee/DigiDoc/v1.3.0#">
			<import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			<import namespace="http://www.sk.ee/DigiDoc/v1.3.0#" schemaLocation="http://www.riik.ee/schemas/dhl/DigiDoc-1.3.xsd"/>
<!-- changed and added directly to this file
      <import namespace="http://www.riik.ee/schemas/dhl" schemaLocation="http://www.riik.ee/schemas/dhl/dhl.xsd"/> 
-->
			<import namespace="http://www.riik.ee/schemas/dhl-meta-automatic" schemaLocation="http://www.riik.ee/schemas/dhl/dhl-meta-automatic.xsd"/>
			<complexType name="institutionRefsArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="asutus" type="string" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Asutuse registrinumber</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="sendingOptionArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="saatmisviis" type="string" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Saatmisviis</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="institutionType">
				<sequence>
					<element name="regnr" type="string"/>
					<element name="nimi" type="string"/>
					<element name="saatmine" type="tns:sendingOptionArrayType"/>
				</sequence>
			</complexType>
			<complexType name="institutionArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="asutus" type="tns:institutionType" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Asutuse andmed</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="occupationType">
				<sequence>
					<element name="kood" type="string"/>
					<element name="nimetus" type="string"/>
					<element name="asutuse_kood" type="string"/>
				</sequence>
			</complexType>
			<complexType name="occupationArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="ametikoht" type="tns:occupationType" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Ametikoha andmed</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="subdivisionType">
				<sequence>
					<element name="kood" type="string"/>
					<element name="nimetus" type="string"/>
					<element name="asutuse_kood" type="string"/>
				</sequence>
			</complexType>
			<complexType name="subdivisionArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="allyksus" type="tns:subdivisionType" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Allüksuse andmed</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="documentRefsArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="dhl_id" type="dhlma:dhlDokIDType" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Dokumendi dhl_id</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="documentsArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="dokument" type="dhl:dhlDokumentType" minOccurs="0" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Dokument</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="tagasisideArrayType">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="item" type="dhl:tagasisideType" maxOccurs="unbounded">
								<annotation>
									<appinfo>
										<xtee:title>Adressaadipoolne tagasiside dokumendi vastuvõtmise kohta</xtee:title>
									</appinfo>
								</annotation>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="getSendingOptionsV2RequestType">
				<sequence>
					<element name="vastuvotmata_dokumente_ootel" type="boolean" minOccurs="0" maxOccurs="1"/>
					<element name="vahetatud_dokumente_vahemalt" type="integer" minOccurs="0" maxOccurs="1"/>
					<element name="vahetatud_dokumente_kuni" type="integer" minOccurs="0" maxOccurs="1"/>
					<element name="asutused" type="tns:institutionRefsArrayType" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</complexType>
			<complexType name="receiveDocumentsRequestType">
				<sequence>
					<element name="arv" type="integer" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Maksimaalne tagastatav kirjete arv, vaikimisi 10</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Kaust, kust dokumentid loetakse</xtee:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="receiveDocumentsResponseType">
				<simpleContent>
					<extension base="base64Binary"/>
				</simpleContent>
			</complexType>
			<complexType name="receiveDocumentsV2RequestType">
				<sequence>
					<element name="arv" type="integer" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Maksimaalne tagastatav kirjete arv, vaikimisi 10</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0">
						<annotation>
							<appinfo>
								<xtee:title>Kaust, kust dokumentid loetakse</xtee:title>
							</appinfo>
						</annotation>
					</element>
					<element name="edastus_id" type="string" minOccurs="0"/>
					<element name="fragment_nr" type="integer" minOccurs="0"/>
					<element name="fragmendi_suurus_baitides" type="integer" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="markDocumentsReceivedRequestType">
				<sequence>
					<element name="dokumendid" type="base64Binary"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="markDocumentsReceivedRequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:documentRefsArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
            <!-- mulle tundub, et siin on midagi mäda - Speci järgi on Elemendi „keha“ sisu kodeerimata kujul on: 
            <item>...</item><item>...</item>
            ehk pigem mitte markDocumentsReceivedV2RequestTypeUnencoded vaid selle sees kasutatav tns:tagasisideArrayType
            samas tegelikult õnnestub mul specis toodud keha wrappida ühise juurelemendiga, mille nimeks panen "xml-fragment"
            Lisaks ei tohi item lemendi alamelementidel olla xml nimeruumi prefixeid(näites on üldse nimeruumideta)
             -->
			<complexType name="markDocumentsReceivedV2RequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:tagasisideArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<simpleType name="markDocumentsReceivedResponseType">
				<restriction base="string"/>
			</simpleType>
			<complexType name="sendDocumentsRequestType">
				<sequence>
					<element name="dokumendid" type="base64Binary"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="sendDocumentsRequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:documentsArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="sendDocumentsV2RequestType">
				<sequence>
					<element name="dokumendid" type="base64Binary"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
					<element name="sailitustahtaeg" type="date" minOccurs="0"/>
					<element name="edastus_id" type="string" minOccurs="0"/>
					<element name="fragment_nr" type="integer" minOccurs="0"/>
					<element name="fragmente_kokku" type="integer" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="sendDocumentsV2RequestTypeUnencoded">
				<sequence>
					<element name="dokumendid" type="tns:documentsArrayType"/>
					<element name="kaust" type="dhlma:dhlDokTaisnimiType" minOccurs="0"/>
					<element name="sailitustahtaeg" type="date" minOccurs="0"/>
					<element name="edastus_id" type="string" minOccurs="0"/>
					<element name="fragment_nr" type="integer" minOccurs="0"/>
					<element name="fragmente_kokku" type="integer" minOccurs="0"/>
				</sequence>
			</complexType>
			<complexType name="sendDocumentsResponseType">
				<simpleContent>
					<extension base="base64Binary"/>
				</simpleContent>
			</complexType>
			<complexType name="sendDocumentsResponseTypeUnencoded">
				<complexContent>
					<extension base="tns:documentRefsArrayType"/>
				</complexContent>
			</complexType>
			<complexType name="getSendStatusRequestType">
				<simpleContent>
					<extension base="base64Binary"/>
				</simpleContent>
			</complexType>
			<complexType name="getSendStatusRequestTypeUnencoded">
				<complexContent>
					<extension base="tns:documentRefsArrayType"/>
				</complexContent>
			</complexType>
			<complexType name="getSendStatusResponseType">
				<simpleContent>
					<extension base="base64Binary"/>
				</simpleContent>
			</complexType>
			<complexType name="getSendStatusResponseTypeUnencoded">
				<complexContent>
					<restriction base="SOAP-ENC:Array">
						<sequence>
							<element name="item" maxOccurs="unbounded">
								<complexType>
									<sequence>
										<element ref="dhlma:dhl_id"/>
										<element ref="dhl:edastus" minOccurs="0" maxOccurs="unbounded"/>
										<element name="olek" type="string"/>
									</sequence>
								</complexType>
							</element>
						</sequence>
					</restriction>
				</complexContent>
			</complexType>
			<complexType name="receiveDocumentsResponseTypeUnencoded">
				<complexContent>
					<extension base="tns:documentsArrayType"/>
				</complexContent>
			</complexType>
			<complexType name="deleteOldDocumentsRequestType"/>
			<simpleType name="deleteOldDocumentsResponseType">
				<restriction base="string"/>
			</simpleType>
			<complexType name="changeOrganizationDataRequestType">
				<sequence>
					<element name="registrikood" type="string" minOccurs="1"/>
					<element name="endine_registrikood" type="string" minOccurs="0"/>
					<element name="korgemalseisva_asutuse_registrikood" type="string" minOccurs="0"/>
					<element name="nimi" type="string" minOccurs="0"/>
					<element name="nime_lyhend" type="string" minOccurs="0"/>
					<element name="liik1" type="string" minOccurs="0"/>
					<element name="liik2" type="string" minOccurs="0"/>
					<element name="tegevusala" type="string" minOccurs="0"/>
					<element name="tegevuspiirkond" type="string" minOccurs="0"/>
					<element name="maakond" type="string" minOccurs="0"/>
					<element name="asukoht" type="string" minOccurs="0"/>
					<element name="aadress" type="string" minOccurs="0"/>
					<element name="postikood" type="string" minOccurs="0"/>
					<element name="telefon" type="string" minOccurs="0"/>
					<element name="faks" type="string" minOccurs="0"/>
					<element name="e_post" type="string" minOccurs="0"/>
					<element name="www" type="string" minOccurs="0"/>
					<element name="logo" type="string" minOccurs="0"/>
					<element name="asutamise_kuupaev" type="date" minOccurs="0"/>
					<element name="moodustamise_akti_nimi" type="string" minOccurs="0"/>
					<element name="moodustamise_akti_number" type="string" minOccurs="0"/>
					<element name="moodustamise_akti_kuupaev" type="date" minOccurs="0"/>
					<element name="pohimaaruse_akti_nimi" type="string" minOccurs="0"/>
					<element name="pohimaaruse_akti_number" type="string" minOccurs="0"/>
					<element name="pohimaaruse_kinnitamise_kuupaev" type="date" minOccurs="0"/>
					<element name="pohimaaruse_kande_kuupaev" type="date" minOccurs="0"/>
					<element name="parameetrid" type="string" minOccurs="0"/>
					<element name="dvk_saatmine" type="boolean" minOccurs="0"/>
					<element name="dvk_otse_saatmine" type="boolean" minOccurs="0"/>
					<element name="toetatav_dvk_versioon" type="string" minOccurs="0"/>
					<element name="dokumendihaldussysteemi_nimetus" type="string" minOccurs="0"/>
				</sequence>
			</complexType>
			<simpleType name="changeOrganizationDataResponseType">
				<restriction base="string"/>
			</simpleType>
			<complexType name="runSystemCheckRequestType"/>
			<simpleType name="runSystemCheckResponseType">
				<restriction base="string"/>
			</simpleType>
		</schema>
	</types>
	<message name="getSendingOptions">
		<part name="keha" type="tns:institutionRefsArrayType"/>
	</message>
	<message name="getSendingOptionsResponse">
		<part name="paring" type="tns:institutionRefsArrayType"/>
		<part name="keha" type="tns:institutionArrayType"/>
	</message>
	<message name="getSendingOptionsV2">
		<part name="keha" type="tns:getSendingOptionsV2RequestType"/>
	</message>
	<message name="getSendingOptionsV2Response">
		<part name="paring" type="tns:getSendingOptionsV2RequestType"/>
		<part name="keha" type="tns:institutionArrayType"/>
	</message>
	<message name="receiveDocuments">
		<part name="keha" type="tns:receiveDocumentsRequestType"/>
	</message>
	<message name="receiveDocumentsResponse">
		<part name="paring" type="tns:receiveDocumentsRequestType"/>
		<part name="keha" type="tns:receiveDocumentsResponseType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="receiveDocumentsV2">
		<part name="keha" type="tns:receiveDocumentsV2RequestType"/>
	</message>
	<message name="receiveDocumentsV2Response">
		<part name="paring" type="tns:receiveDocumentsV2RequestType"/>
		<part name="keha" type="tns:receiveDocumentsResponseType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="pais">
		<part name="asutus" element="xtee:asutus"/>
		<part name="andmekogu" element="xtee:andmekogu"/>
		<part name="ametnik" element="xtee:ametnik"/>
		<part name="id" element="xtee:id"/>
		<part name="nimi" element="xtee:nimi"/>
		<part name="toimik" element="xtee:toimik"/>
		<part name="isikukood" element="xtee:isikukood"/><!-- XXX: lisatud validatsiooni parandamiseks --> 
	</message>
	<message name="sendDocuments">
		<part name="keha" type="tns:sendDocumentsRequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="sendDocumentsResponse">
		<part name="paring" type="tns:sendDocumentsRequestType"/>
		<part name="keha" type="tns:sendDocumentsResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<message name="sendDocumentsV2">
		<part name="keha" type="tns:sendDocumentsV2RequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="sendDocumentsV2Response">
		<part name="paring" type="tns:sendDocumentsV2RequestType"/>
		<part name="keha" type="tns:sendDocumentsResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<message name="markDocumentsReceived">
		<part name="keha" type="tns:markDocumentsReceivedRequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="markDocumentsReceivedResponse">
		<part name="paring" type="tns:markDocumentsReceivedRequestType"/>
		<part name="keha" type="tns:markDocumentsReceivedResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<message name="markDocumentsReceivedV2">
		<part name="keha" type="tns:markDocumentsReceivedRequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="markDocumentsReceivedV2Response">
		<part name="paring" type="tns:markDocumentsReceivedRequestType"/>
		<part name="keha" type="tns:markDocumentsReceivedResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<message name="getSendStatus">
		<part name="keha" type="tns:getSendStatusRequestType"/>
		<part name="p1" type="ns5:base64Binary"/>
	</message>
	<message name="getSendStatusResponse">
		<part name="paring" type="tns:getSendStatusRequestType"/>
		<part name="keha" type="tns:getSendStatusResponseType"/>
		<part name="p2" type="ns5:base64Binary"/>
	</message>
	<message name="deleteOldDocuments">
		<part name="keha" type="tns:deleteOldDocumentsRequestType"/>
	</message>
	<message name="deleteOldDocumentsResponse">
		<part name="paring" type="tns:deleteOldDocumentsRequestType"/>
		<part name="keha" type="tns:deleteOldDocumentsResponseType"/>
	</message>
	<message name="changeOrganizationData">
		<part name="keha" type="tns:changeOrganizationDataRequestType"/>
	</message>
	<message name="changeOrganizationDataResponse">
		<part name="paring" type="tns:changeOrganizationDataRequestType"/>
		<part name="keha" type="tns:changeOrganizationDataResponseType"/>
	</message>
	<message name="runSystemCheck">
		<part name="keha" type="tns:runSystemCheckRequestType"/>
	</message>
	<message name="runSystemCheckResponse">
		<part name="paring" type="tns:runSystemCheckRequestType"/>
		<part name="keha" type="tns:runSystemCheckResponseType"/>
	</message>
	<message name="getOccupationList">
		<part name="keha" type="tns:institutionRefsArrayType"/>
	</message>
	<message name="getOccupationListResponse">
		<part name="paring" type="tns:institutionRefsArrayType"/>
		<part name="keha" type="tns:occupationArrayType"/>
	</message>
	<message name="getSubdivisionList">
		<part name="keha" type="tns:institutionRefsArrayType"/>
	</message>
	<message name="getSubdivisionListResponse">
		<part name="paring" type="tns:institutionRefsArrayType"/>
		<part name="keha" type="tns:subdivisionArrayType"/>
	</message>
	<portType name="dhlPortType">
		<operation name="getSendingOptions">
			<documentation><xtee:title>Asutuste saatmisviisid</xtee:title><xtee:notes>Asutste toetatavate saatmisviiside loetelu</xtee:notes></documentation>
			<input message="tns:getSendingOptions" name="getSendingOptions"/>
			<output message="tns:getSendingOptionsResponse" name="getSendingOptionsResponse"/>
		</operation>
		<operation name="getSendingOptions">
			<documentation><xtee:title>Asutuste saatmisviisid</xtee:title><xtee:notes>Asutste toetatavate saatmisviiside loetelu</xtee:notes></documentation>
			<input message="tns:getSendingOptionsV2" name="getSendingOptionsV2"/>
			<output message="tns:getSendingOptionsV2Response" name="getSendingOptionsV2Response"/>
		</operation>
		<operation name="sendDocuments">
			<documentation><xtee:title>Dokumentide edastamine</xtee:title><xtee:notes>Dokumentide edastamine dokumendihoidlasse</xtee:notes></documentation>
			<input message="tns:sendDocuments" name="sendDocuments"/>
			<output message="tns:sendDocumentsResponse"  name="sendDocumentsResponse"/>
		</operation>
		<operation name="sendDocuments">
			<documentation><xtee:title>Dokumentide edastamine</xtee:title><xtee:notes>Dokumentide edastamine dokumendihoidlasse</xtee:notes></documentation>
			<input message="tns:sendDocumentsV2" name="sendDocumentsV2"/>
			<output message="tns:sendDocumentsV2Response" name="sendDocumentsV2Response"/>
		</operation>
		<operation name="receiveDocuments">
			<documentation><xtee:title>Uute dokumentide lugemine</xtee:title><xtee:notes>Uute veel lugemata saabunud dokumentide allalaadimine dokumendihoidlast</xtee:notes></documentation>
			<input message="tns:receiveDocuments" name="receiveDocuments"/>
			<output message="tns:receiveDocumentsResponse" name="receiveDocumentsResponse"/>
		</operation>
		<operation name="receiveDocuments">
			<documentation><xtee:title>Uute dokumentide lugemine</xtee:title><xtee:notes>Uute veel lugemata saabunud dokumentide allalaadimine dokumendihoidlast</xtee:notes></documentation>
			<input message="tns:receiveDocumentsV2" name="receiveDocumentsV2"/>
			<output message="tns:receiveDocumentsV2Response" name="receiveDocumentsV2Response"/>
		</operation>
		<operation name="markDocumentsReceived">
			<documentation><xtee:title>Uute dokumentide loetuks märkimine</xtee:title><xtee:notes>Uute saabunud dokumentide loetuks märkimine</xtee:notes></documentation>
			<input name="markDocumentsReceived" message="tns:markDocumentsReceived"/>
			<output name="markDocumentsReceivedResponse" message="tns:markDocumentsReceivedResponse"/>
		</operation>
		<operation name="markDocumentsReceived">
			<documentation><xtee:title>Uute dokumentide loetuks märkimine</xtee:title><xtee:notes>Uute saabunud dokumentide loetuks märkimine</xtee:notes></documentation>
			<input name="markDocumentsReceivedV2" message="tns:markDocumentsReceivedV2"/>
			<output name="markDocumentsReceivedV2Response" message="tns:markDocumentsReceivedV2Response"/>
		</operation>
		<operation name="getSendStatus">
			<documentation><xtee:title>Saadetud dokumentide oleku kontrollimine</xtee:title><xtee:notes>Kontrollib, kas saadetud dokumendid on kõigile adressaatidele edukalt edastatud</xtee:notes></documentation>
			<input message="tns:getSendStatus"/>
			<output message="tns:getSendStatusResponse"/>
		</operation>
		<operation name="deleteOldDocuments">
			<documentation><xtee:title>Aegunud dokumentide kustutamine</xtee:title><xtee:notes>Kustutab dokumendid, mille säilitustähtaeg on möödas</xtee:notes></documentation>
			<input message="tns:deleteOldDocuments"/>
			<output message="tns:deleteOldDocumentsResponse"/>
		</operation>
		<operation name="changeOrganizationData">
			<documentation><xtee:title>Asutuse andmete muutmine</xtee:title><xtee:notes>Asutuse andmete muutmine</xtee:notes></documentation>
			<input message="tns:changeOrganizationData"/>
			<output message="tns:changeOrganizationDataResponse"/>
		</operation>
		<operation name="runSystemCheck">
			<documentation><xtee:title>Serveri toimimise kontroll</xtee:title><xtee:notes>Kontrollib, kas DVK serveri põhifunktsionaalsus toimib</xtee:notes></documentation>
			<input message="tns:runSystemCheck"/>
			<output message="tns:runSystemCheckResponse"/>
		</operation>
		<operation name="getOccupationList">
			<documentation><xtee:title>Ametikohtade nimekiri</xtee:title><xtee:notes>Ametikohtade nimekirja laadimine</xtee:notes></documentation>
			<input message="tns:getOccupationList"/>
			<output message="tns:getOccupationListResponse"/>
		</operation>
		<operation name="getSubdivisionList">
			<documentation><xtee:title>Allüksuste nimekiri</xtee:title><xtee:notes>Allüksuste nimekirja laadimine</xtee:notes></documentation>
			<input message="tns:getSubdivisionList"/>
			<output message="tns:getSubdivisionListResponse"/>
		</operation>
	</portType>
	<binding name="dhlSoapBinding" type="tns:dhlPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getSendingOptions">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/getSendingOptions" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input name="getSendingOptions">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output name="getSendingOptionsResponse">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="getSendingOptions">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/getSendingOptions" style="rpc"/>
			<xtee:version>v2</xtee:version>
			<input name="getSendingOptionsV2">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output name="getSendingOptionsV2Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="sendDocuments">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/sendDocuments" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input name="sendDocuments">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="sendDocumentsResponse">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p2" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="sendDocuments">
			<soap:operation  soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/sendDocuments" style="rpc"/>
			<xtee:version>v2</xtee:version>
			<input name="sendDocumentsV2">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="sendDocumentsV2Response">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p2" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="receiveDocuments">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/receiveDocuments" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input name="receiveDocuments">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output name="receiveDocumentsResponse">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="receiveDocuments">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/receiveDocuments" style="rpc"/>
			<xtee:version>v2</xtee:version>
			<input name="receiveDocumentsV2">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output name="receiveDocumentsV2Response">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="markDocumentsReceived">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/markDocumentsReceived" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input name="markDocumentsReceived">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="markDocumentsReceivedResponse">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="markDocumentsReceived">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/markDocumentsReceived" style="rpc"/>
			<xtee:version>v2</xtee:version>
			<input name="markDocumentsReceivedV2">
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output name="markDocumentsReceivedV2Response">
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="getSendStatus">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/getSendStatus" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input>
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</input>
			<output>
				<mime:multipartRelated>
					<mime:part>
						<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
						<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
						<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
					</mime:part>
					<mime:part>
						<mime:content part="p1" type="application/binary"/>
					</mime:part>
				</mime:multipartRelated>
			</output>
		</operation>
		<operation name="deleteOldDocuments">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/deleteOldDocuments" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="changeOrganizationData">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/changeOrganizationData" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="runSystemCheck">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/runSystemCheck" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="getOccupationList">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/getOccupationList" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
		<operation name="getSubdivisionList">
			<soap:operation soapAction="http://producers.dhl.xtee.riik.ee/producer/dhl/getSubdivisionList" style="rpc"/>
			<xtee:version>v1</xtee:version>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://producers.dhl.xtee.riik.ee/producer/dhl"/>
				<soap:header message="tns:pais" part="asutus" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="andmekogu" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="ametnik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="id" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="nimi" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
				<soap:header message="tns:pais" part="toimik" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			</output>
		</operation>
	</binding>
	<service name="dhlService">
		<port name="dhlHttpSoapPort" binding="tns:dhlSoapBinding">
			<soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
			<xtee:title>Dokumendihoidla</xtee:title>
			<xtee:title xml:lang="en">Document repository</xtee:title>
			<xtee:address producer="dhl"/>
		</port>
	</service>
</definitions>
