client-service/kutseregister/src/main/resources/kutseregister.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
                  xmlns:tns="http://producers.kutseregister.xtee.riik.ee/producer/kutseregister"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:meta="http://metadata.x-road.eu/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:id="http://x-road.eu/xsd/identifier"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
                  targetNamespace="http://producers.kutseregister.xtee.riik.ee/producer/kutseregister">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://producers.kutseregister.xtee.riik.ee/producer/kutseregister"
            elementFormDefault="qualified">
      <import namespace="http://x-road.eu/xsd/xroad.xsd"
              schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>

      <element name="kutsetunnistus">
        <complexType>
          <annotation>
            <documentation>Kutseregistri kutsetunnistuste otsingu sisendparameetrid</documentation>
          </annotation>
          <all>
            <element name="registrinumber" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Registrinumber</xrd:title>
                  <xrd:notes>Kutsetunnistuse registrinumber</xrd:notes>
                  <xrd:technotes>NB! Alati otsitakse täpset vastet!</xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="nimi" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Isiku nimi</xrd:title>
                  <xrd:notes>Isiku nimi</xrd:notes>
                  <xrd:technotes>NB! Alati otsitakse täpset vastet!</xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="isikukood" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Isikukood</xrd:title>
                  <xrd:notes>Kutsetunnistuse omaniku isikukood</xrd:notes>
                  <xrd:technotes>NB! Alati otsitakse täpset vastet!</xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="tyyp" type="tns:tunnistuseTyypType" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Tunnistuse tüüp</xrd:title>
                  <xrd:notes>Tunnistuse tüüp</xrd:notes>
                </appinfo>
              </annotation>
            </element>
            <element name="kutsestandard" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kutsestandardi või spetsialiseerumise nimetus</xrd:title>
                  <xrd:notes>Kutsestandardi või spetsialiseerumise nimetus või selle osa</xrd:notes>
                </appinfo>
              </annotation>
            </element>
            <element name="osakutse" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Osakutse nimetus</xrd:title>
                  <xrd:notes>Osakutse nimetus või selle osa</xrd:notes>
                  <xrd:technotes>Kui sisendparameetrites on tunnistuse tüübiks määratud "kutsetunnistus" või "esmane
                    kutse", siis seda parameetrit ignoreeritakse
                  </xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="ekrtase" type="tns:taseType" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>EKR tase</xrd:title>
                  <xrd:notes>EKR tase</xrd:notes>
                </appinfo>
              </annotation>
            </element>
            <element name="eqftase" type="tns:taseType" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>EQF tase</xrd:title>
                  <xrd:notes>EQF tase</xrd:notes>
                </appinfo>
              </annotation>
            </element>
            <element name="valjastaja" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kutsetunnistuse väljastaja</xrd:title>
                  <xrd:notes>Kutsetunnistuse väljaandnud asutuse nimetus või selle osa</xrd:notes>
                </appinfo>
              </annotation>
            </element>
            <element name="valjastatudalgus" type="date" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>"Väljastatud" vahemiku algus</xrd:title>
                  <xrd:notes>Kutsetunnistuse väljastamise vahemiku algus</xrd:notes>
                  <xrd:technotes>Alguskuupäev päeva täpsusega. Täpsustatud kuupäeval väljastatud kutsetunnistused on
                    tulemustesse kaasa arvatud
                  </xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="valjastatudlopp" type="date" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>"Väljastatud" vahemiku lõpp</xrd:title>
                  <xrd:notes>Kutsetunnistuse väljastamise vahemiku lõpp</xrd:notes>
                  <xrd:technotes>Lõpukuupäev päeva täpsusega. Täpsustatud kuupäeval väljastatud kutsetunnistused on
                    tulemustesse kaasa arvatud
                  </xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="kehtibalatesalgus" type="date" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>"Kehtib alates" vahemiku algus</xrd:title>
                  <xrd:notes>Kutsetunnistuse kehtima hakkamise vahemiku algus</xrd:notes>
                  <xrd:technotes>Alguskuupäev päeva täpsusega. Täpsustatud kuupäeval kehtima hakanud kutsetunnistused on
                    tulemustesse kaasa arvatud
                  </xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="kehtibalateslopp" type="date" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>"Kehtib alates" vahemiku lõpp</xrd:title>
                  <xrd:notes>Kutsetunnistuse kehtima hakkamise vahemiku lõpp</xrd:notes>
                  <xrd:technotes>Lõpukuupäev päeva täpsusega. Täpsustatud kuupäeval kehtima hakanud kutsetunnistused on
                    tulemustesse kaasa arvatud
                  </xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="kehtibkunialgus" type="date" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>"Kehtib kuni" vahemiku algus</xrd:title>
                  <xrd:notes>Kutsetunnistuse kehtivuse lõppemise vahemiku algus</xrd:notes>
                  <xrd:technotes>Alguskuupäev päeva täpsusega. Täpsustatud kuupäeval lõppevad kutsetunnistused on
                    tulemustesse kaasa arvatud
                  </xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="kehtibkunilopp" type="date" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>"Kehtib kuni" vahemiku lõpp</xrd:title>
                  <xrd:notes>Kutsetunnistuse kehtivuse lõppemise vahemiku lõpp</xrd:notes>
                  <xrd:technotes>Lõpukuupäev päeva täpsusega. Täpsustatud kuupäeval lõppevad kutsetunnistused on
                    tulemustesse kaasa arvatud
                  </xrd:technotes>
                </appinfo>
              </annotation>
            </element>
            <element name="kirjetearv" type="tns:kirjeteArvType" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Tagastatav kutsetunnistuste arv</xrd:title>
                </appinfo>
              </annotation>
            </element>
          </all>
        </complexType>
      </element>
      <!-- kutsetunnistuste päring kodaniku päringuportaalile -->
      <element name="kodanikKutsetunnistusParing">
        <complexType>
          <annotation>
            <documentation>Kodaniku kutsetunnistuste otsingu sisendparameetrid</documentation>
          </annotation>
          <all>
            <element name="kehtetud" type="boolean" minOccurs="0" default="false">
              <annotation>
                <appinfo>
                  <xrd:title>Näita ka kehtetuid tunnistusi</xrd:title>
                  <xrd:notes>Otsingutulemuses tagastatakse ka kehtetud tunnistused</xrd:notes>
                </appinfo>
              </annotation>
            </element>
          </all>
        </complexType>
      </element>
      <!-- Tunnistuse tüübi tüüp -->
      <simpleType name="tunnistuseTyypType">
        <restriction base="integer">
          <enumeration value="1">
            <annotation>
              <appinfo>
                <xrd:title>Kutsetunnistus</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="2">
            <annotation>
              <appinfo>
                <xrd:title>Osakutsetunnistus</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="3">
            <annotation>
              <appinfo>
                <xrd:title>Esmane kutse</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>

      <!-- Taseme tüüp -->
      <simpleType name="taseType">
        <restriction base="integer">
          <enumeration value="1">
            <annotation>
              <appinfo>
                <xrd:title>1</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="2">
            <annotation>
              <appinfo>
                <xrd:title>2</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="3">
            <annotation>
              <appinfo>
                <xrd:title>3</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="4">
            <annotation>
              <appinfo>
                <xrd:title>4</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="5">
            <annotation>
              <appinfo>
                <xrd:title>5</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="6">
            <annotation>
              <appinfo>
                <xrd:title>6</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="7">
            <annotation>
              <appinfo>
                <xrd:title>7</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="8">
            <annotation>
              <appinfo>
                <xrd:title>8</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>

      <!-- Kirjete arvu tüüp -->
      <simpleType name="kirjeteArvType">
        <restriction base="integer">
          <enumeration value="10">
            <annotation>
              <appinfo>
                <xrd:title>10</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="30">
            <annotation>
              <appinfo>
                <xrd:title>30</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="50">
            <annotation>
              <appinfo>
                <xrd:title>50</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="100">
            <annotation>
              <appinfo>
                <xrd:title>100</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="200">
            <annotation>
              <appinfo>
                <xrd:title>200</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
          <enumeration value="500">
            <annotation>
              <appinfo>
                <xrd:title>500</xrd:title>
              </appinfo>
            </annotation>
          </enumeration>
        </restriction>
      </simpleType>

      <!-- Kutsetunnistus V2 Type -->
      <complexType name="kutsetunnistusV2Type">
        <sequence>
          <element name="registrinumber" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Registrinumber</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="nimi" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Nimi</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="isikukood" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Isikukood</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="synniaeg" type="date" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Sünniaeg</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="tyyp" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Tüüp</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="standard" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Kutsestandard</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="ekrtase" type="integer" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>EKR tase</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="eqftase" type="integer" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>EQF tase</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="spetsialiseerumine" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Spetsialiseerumine</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="osakutse" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Osakutse</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="lisavali" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Lisaväli</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="kompetentsid" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Valitud kompetentsid</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="valdkond" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Valdkond</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="kutseala" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Kutseala</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="hariduslikkval" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Hariduslik kvalifikatsioon</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="keel" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Kutseeksami keel</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="valjastaja" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Väljastaja</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="valjaantud" type="date" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Välja antud</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="kehtibalates" type="date" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Kehtib alates</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="kehtibkuni" type="date" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Kehtib kuni</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="isco" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Ametite (ISCO) klassifikaator</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="duplikaat" type="boolean" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>On duplikaat</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="kehtetu" type="boolean" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>On kehtetu</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="reaid" type="string" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:title>Rea ID</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="kustutatud" type="boolean" minOccurs="0">
            <annotation>
              <appinfo>
                <xrd:notes>Kas sellise rea ID-ga kirje on kustutatud</xrd:notes>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </complexType>

      <!-- Kutsetunnistuste otsingute väljund-->
      <element name="kutsetunnistusVastus">
        <complexType>
          <sequence>
            <element name="teade" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Teade</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="kutsetunnistused" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="kutsetunnistus" type="tns:kutsetunnistusV2Type" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
            <element name="kirjeid" type="integer" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kirjete arv</xrd:title>
                </appinfo>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>

      <element name="kodanikKutsetunnistusVastus">
        <complexType>
          <sequence>
            <element name="teade" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Teade</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="kutsetunnistused" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="kutsetunnistus" type="tns:kutsetunnistusV2Type" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
            <element name="kirjeid" type="integer" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kirjete arv</xrd:title>
                </appinfo>
              </annotation>
            </element>
          </sequence>
        </complexType>
      </element>

      <!-- Kutsetunnistuste muudatuste päring -->
      <element name="kutsetunnistusteMuudatusedParing">
        <complexType>
          <annotation>
            <documentation>Kutsetunnistuste muudatuste päringu sisendparameetrid</documentation>
          </annotation>
          <all>
            <element name="aasta" type="integer">
              <annotation>
                <appinfo>
                  <xrd:title>Aasta</xrd:title>
                  <xrd:notes>Aasta peab jääma vahemikku 2012 - käesolev aasta.</xrd:notes>
                </appinfo>
              </annotation>
            </element>
          </all>
        </complexType>
      </element>

      <element name="kutseAndjaInfoParing">
        <complexType>
          <annotation>
            <documentation>Kutse andja info päring</documentation>
          </annotation>
          <all>
            <element name="asutus" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Asutus</xrd:title>
                </appinfo>
              </annotation>
            </element>
          </all>
        </complexType>
      </element>

      <element name="kutseAndjaInfoVastus">
        <complexType>
          <annotation>
            <documentation>Kutse andja info</documentation>
          </annotation>
          <all>
            <element name="kutseandja" minOccurs="0">
              <complexType>
                <all>
                  <element name="nimetus" type="string"/>
                  <element name="tunnistusetyybid">
                    <complexType>
                      <sequence>
                        <element name="tunnistusetyyp" type="tns:tunnistuseTyypType" minOccurs="0"
                                 maxOccurs="unbounded"/>
                      </sequence>
                    </complexType>
                  </element>
                  <element name="lisavali" type="boolean"/>
                  <element name="voibinfotpeita" type="boolean"/>
                </all>
              </complexType>
            </element>
            <element name="kutsestandardid" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="kutsestandard" type="tns:kutsestandardType" minOccurs="1" maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
            <element name="kutsekomisjonid" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="kutsekomisjon" type="tns:kutsekomisjonType" minOccurs="1" maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
            <element name="kutseeksamikeeled" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="keel" type="tns:idNimetusType" minOccurs="1" maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
            <element name="vigadearv" type="integer"/>
            <element name="vead" type="tns:veadType" minOccurs="0" maxOccurs="1"/>
          </all>
        </complexType>
      </element>

      <complexType name="kutsestandardType">
        <sequence>
          <element name="id" type="integer">
            <annotation>
              <appinfo>
                <xrd:title>ID</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="nimetus" type="string">
            <annotation>
              <appinfo>
                <xrd:title>Nimetus</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="tyybid">
            <annotation>
              <appinfo>
                <xrd:title>Tüübid</xrd:title>
              </appinfo>
            </annotation>
            <complexType>
              <sequence>
                <element name="tyyp" minOccurs="1" maxOccurs="unbounded">
                  <simpleType>
                    <restriction base="integer">
                      <enumeration value="1">
                        <annotation>
                          <appinfo>
                            <xrd:title>Kutsestandard</xrd:title>
                          </appinfo>
                        </annotation>
                      </enumeration>
                      <enumeration value="2">
                        <annotation>
                          <appinfo>
                            <xrd:title>Osakutse standard</xrd:title>
                          </appinfo>
                        </annotation>
                      </enumeration>
                      <enumeration value="3">
                        <annotation>
                          <appinfo>
                            <xrd:title>Esmase kutse standard</xrd:title>
                          </appinfo>
                        </annotation>
                      </enumeration>
                    </restriction>
                  </simpleType>
                </element>
              </sequence>
            </complexType>
          </element>
          <element name="spetsialiseerumised" minOccurs="0" maxOccurs="1">
            <annotation>
              <appinfo>
                <xrd:title>Spetsialiseerumised</xrd:title>
              </appinfo>
            </annotation>
            <complexType>
              <sequence>
                <element name="spetsialiseerumine" type="tns:idNimetusType" minOccurs="1" maxOccurs="unbounded"/>
              </sequence>
            </complexType>
          </element>
          <element name="osakutsed" minOccurs="0" maxOccurs="1">
            <annotation>
              <appinfo>
                <xrd:title>Osakutsed</xrd:title>
              </appinfo>
            </annotation>
            <complexType>
              <sequence>
                <element name="osakutse" type="tns:idNimetusType" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </complexType>
          </element>
          <element name="kompetentsid" minOccurs="0" maxOccurs="unbounded">
            <annotation>
              <appinfo>
                <xrd:title>Kompetentsid</xrd:title>
                <xrd:notes>Kui standard on korraga mitut tüüpi, siis võib kompetentsid-elementi olla mitu</xrd:notes>
              </appinfo>
            </annotation>
            <complexType>
              <all>
                <element name="tunnistusetyybid">
                  <annotation>
                    <appinfo>
                      <xrd:notes>Tunnistuse tüübid, millele antud kompetentsid sobivad</xrd:notes>
                    </appinfo>
                  </annotation>
                  <complexType>
                    <sequence>
                      <element name="tunnistusetyyp" type="tns:tunnistuseTyypType" minOccurs="1"
                               maxOccurs="unbounded"/>
                    </sequence>
                  </complexType>
                </element>
                <element name="kompetentsinimekiri">
                  <complexType>
                    <sequence>
                      <element name="kompetents" type="tns:idNimetusType" minOccurs="1" maxOccurs="unbounded"/>
                    </sequence>
                  </complexType>
                </element>
              </all>
            </complexType>
          </element>
          <element name="pohikutse" type="boolean">
            <annotation>
              <appinfo>
                <xrd:title>Võib omistada põhikutset</xrd:title>
                <xrd:notes>TRUE - spetsialiseerumine pole nõutud; FALSE - spetsialiseerumine peab olema määratud (ei
                  kehti osakutsetunnistuse puhul)
                </xrd:notes>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </complexType>

      <complexType name="idNimetusType">
        <all>
          <element name="id" type="integer">
            <annotation>
              <appinfo>
                <xrd:title>ID</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="nimetus" type="string">
            <annotation>
              <appinfo>
                <xrd:title>Nimetus</xrd:title>
              </appinfo>
            </annotation>
          </element>
        </all>
      </complexType>

      <complexType name="kutsekomisjonType">
        <all>
          <element name="nimetus" type="string">
            <annotation>
              <appinfo>
                <xrd:title>Nimetus</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="liikmed">
            <annotation>
              <appinfo>
                <xrd:title>Kutsekomisjoni liikmed</xrd:title>
              </appinfo>
            </annotation>
            <complexType>
              <sequence>
                <element name="liige" minOccurs="1" maxOccurs="unbounded">
                  <complexType>
                    <all>
                      <element name="id" type="integer">
                        <annotation>
                          <appinfo>
                            <xrd:title>ID</xrd:title>
                          </appinfo>
                        </annotation>
                      </element>
                      <element name="nimi" type="string">
                        <annotation>
                          <appinfo>
                            <xrd:title>Nimi</xrd:title>
                          </appinfo>
                        </annotation>
                      </element>
                      <element name="roll">
                        <simpleType>
                          <restriction base="integer">
                            <enumeration value="1">
                              <annotation>
                                <appinfo>
                                  <xrd:title>Kutsekomisjoni esimees</xrd:title>
                                </appinfo>
                              </annotation>
                            </enumeration>
                            <enumeration value="2">
                              <annotation>
                                <appinfo>
                                  <xrd:title>Kutsekomisjoni aseesimees</xrd:title>
                                </appinfo>
                              </annotation>
                            </enumeration>
                            <enumeration value="3">
                              <annotation>
                                <appinfo>
                                  <xrd:title>Kutsekomisjoni liige</xrd:title>
                                </appinfo>
                              </annotation>
                            </enumeration>
                          </restriction>
                        </simpleType>
                      </element>
                    </all>
                  </complexType>
                </element>
              </sequence>
            </complexType>
          </element>
        </all>
      </complexType>

      <complexType name="veadType">
        <sequence>
          <element name="viga" minOccurs="1" maxOccurs="unbounded">
            <complexType>
              <all>
                <element name="element" type="string" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:notes>Vea tekitanud element</xrd:notes>
                    </appinfo>
                  </annotation>
                </element>
                <element name="id" type="string" minOccurs="0">
                  <annotation>
                    <appinfo>
                      <xrd:notes>Vea tekitanud elemendi ID</xrd:notes>
                    </appinfo>
                  </annotation>
                </element>
                <element name="teade" type="string">
                  <annotation>
                    <appinfo>
                      <xrd:notes>Veateade</xrd:notes>
                    </appinfo>
                  </annotation>
                </element>
              </all>
            </complexType>
          </element>
        </sequence>
      </complexType>

      <element name="kutsetunnistuseLisamineParing">
        <complexType>
          <annotation>
            <documentation>Kutsetunnistuse taotluse lisamine</documentation>
          </annotation>
          <all>
            <element name="asutus" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Asutus</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="nimi" type="string">
              <annotation>
                <appinfo>
                  <xrd:title>Isiku nimi</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="isikukood" type="string">
              <annotation>
                <appinfo>
                  <xrd:title>Isikukood</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="tyyp" type="tns:tunnistuseTyypType">
              <annotation>
                <appinfo>
                  <xrd:title>Tunnistuse tüüp</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="kutsestandard" type="integer">
              <annotation>
                <appinfo>
                  <xrd:title>Kutsestandardi ID</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="spetsialiseerumine" type="integer" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Spetsialiseerumise ID</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="osakutse" type="integer" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Osakutse ID</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="kompetentsid" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kompetentsid</xrd:title>
                </appinfo>
              </annotation>
              <complexType>
                <sequence>
                  <element name="kompetents" type="integer" minOccurs="1" maxOccurs="unbounded">
                    <annotation>
                      <appinfo>
                        <xrd:title>Kompetentsi ID</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                </sequence>
              </complexType>
            </element>
            <element name="lisavali" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Vabatekstiline lisaväli</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="hariduslikkval" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Hariduslik kvalifikatsioon</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="kutseeksamikeel" type="integer" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kutseeksami keele ID</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="valjastamisekpv" type="date">
              <annotation>
                <appinfo>
                  <xrd:title>Väljastamise kuupäev</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="kehtivusealgus" type="date">
              <annotation>
                <appinfo>
                  <xrd:title>Kehtivuse algus</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="kehtivuselopp" type="date" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kehtivuse lõpp</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="allkirjastaja" type="integer">
              <annotation>
                <appinfo>
                  <xrd:title>Allkirjastaja ID</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="nimipeidetud" type="boolean" minOccurs="0" default="false">
              <annotation>
                <appinfo>
                  <xrd:title>Nimi peidetud</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="synniaegpeidetud" type="boolean" minOccurs="0" default="false">
              <annotation>
                <appinfo>
                  <xrd:title>Sünniaeg peidetud</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="tunnistuspeidetud" type="boolean" minOccurs="0" default="false">
              <annotation>
                <appinfo>
                  <xrd:title>Tunnistus peidetud</xrd:title>
                </appinfo>
              </annotation>
            </element>
          </all>
        </complexType>
      </element>

      <element name="kutsetunnistuseLisamineVastus">
        <complexType>
          <annotation>
            <documentation>Kutsetunnistuse taotluse lisamise vastus</documentation>
          </annotation>
          <all>
            <element name="vigadearv" type="integer"/>
            <element name="vead" type="tns:veadType" minOccurs="0"/>
          </all>
        </complexType>
      </element>

      <element name="kutsetunnistuseDuplikaatParing">
        <complexType>
          <annotation>
            <documentation>Kutsetunnistuse duplikaadi taotlemine</documentation>
          </annotation>
          <all>
            <element name="asutus" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Asutus</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="registrinumber" type="string">
              <annotation>
                <appinfo>
                  <xrd:title>Kutsetunnistuse registrinumber</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="tyyp" type="tns:tunnistuseTyypType">
              <annotation>
                <appinfo>
                  <xrd:title>Tunnistuse tüüp</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="pohjus">
              <simpleType>
                <restriction base="integer">
                  <enumeration value="1">
                    <annotation>
                      <appinfo>
                        <xrd:title>ISIK: originaal kadunud</xrd:title>
                      </appinfo>
                    </annotation>
                  </enumeration>
                  <enumeration value="2">
                    <annotation>
                      <appinfo>
                        <xrd:title>ISIK: originaal kõlbmatu</xrd:title>
                      </appinfo>
                    </annotation>
                  </enumeration>
                  <enumeration value="3">
                    <annotation>
                      <appinfo>
                        <xrd:title>KAO: viga andmetes</xrd:title>
                      </appinfo>
                    </annotation>
                  </enumeration>
                </restriction>
              </simpleType>
            </element>
            <element name="kommentaar" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kommentaar</xrd:title>
                </appinfo>
              </annotation>
            </element>
          </all>
        </complexType>
      </element>

      <element name="kutsetunnistuseDuplikaatVastus">
        <complexType>
          <annotation>
            <documentation>Kutsetunnistuse duplikaadi taotlemise vastus</documentation>
          </annotation>
          <all>
            <element name="vigadearv" type="integer"/>
            <element name="vead" type="tns:veadType" minOccurs="0"/>
          </all>
        </complexType>
      </element>

      <element name="kutseAndjaTunnistusedParing">
        <complexType>
          <annotation>
            <documentation>Kutse andja poolt väljastatud tunnistuste päring</documentation>
          </annotation>
          <all>
            <element name="asutus" type="string" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Asutus</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="valjastatudalgus" type="date">
              <annotation>
                <appinfo>
                  <xrd:title>Kutsetunnistuste väljastamiskuupäeva vahemiku algus</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="valjastatudlopp" type="date">
              <annotation>
                <appinfo>
                  <xrd:title>Kutsetunnistuste väljastamiskuupäeva vahemiku lõpp</xrd:title>
                </appinfo>
              </annotation>
            </element>
          </all>
        </complexType>
      </element>

      <element name="kutseAndjaTunnistusedVastus">
        <complexType>
          <annotation>
            <documentation>Kutse andja poolt väljastatud tunnistused</documentation>
          </annotation>
          <all>
            <element name="kutsetunnistused" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="kutsetunnistus" type="tns:kutsetunnistusV2Type" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
            <element name="kirjeid" type="integer" minOccurs="0">
              <annotation>
                <appinfo>
                  <xrd:title>Kirjete arv</xrd:title>
                </appinfo>
              </annotation>
            </element>
            <element name="vigadearv" type="integer"/>
            <element name="vead" type="tns:veadType" minOccurs="0"/>
          </all>
        </complexType>
      </element>

      <element name="muutunudKutsestandardidParing">
        <complexType>
          <annotation>
            <documentation>Muutunud kutsestandardite päring</documentation>
          </annotation>
          <all>
            <element name="alates" type="dateTime">
              <annotation>
                <appinfo>
                  <xrd:title>Alates</xrd:title>
                </appinfo>
              </annotation>
            </element>
          </all>
        </complexType>
      </element>

      <element name="muutunudKutsestandardidVastus">
        <complexType>
          <annotation>
            <documentation>Muutunud kutsestandardite vastus</documentation>
          </annotation>
          <all>
            <element name="kutsestandardid" minOccurs="0">
              <complexType>
                <sequence>
                  <element name="kutsestandard" type="tns:muutunudKutsestandardType" minOccurs="0"
                           maxOccurs="unbounded"/>
                </sequence>
              </complexType>
            </element>
            <element name="viga" type="string" minOccurs="0"/>
          </all>
        </complexType>
      </element>

      <complexType name="muutunudKutsestandardType">
        <sequence>
          <element name="id" type="integer">
            <annotation>
              <appinfo>
                <xrd:title>Rea ID</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="grupp" type="string">
            <annotation>
              <appinfo>
                <xrd:title>Kutsestandardi grupp</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="versioon" type="integer">
            <annotation>
              <appinfo>
                <xrd:title>Kutsestandardi versioon</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="nimetus" type="string">
            <annotation>
              <appinfo>
                <xrd:title>Kutsestandardi nimetus</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="ekrtase" type="tns:taseType">
            <annotation>
              <appinfo>
                <xrd:title>EKR tase</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="kehtivusealgus" type="date">
            <annotation>
              <appinfo>
                <xrd:title>Kutsestandardi versiooni kehtivuse alguskuupäev</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="kehtivuselopp" type="date">
            <annotation>
              <appinfo>
                <xrd:title>Kutsestandardi versiooni kehtivuse lõppkuupäev</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="valdkond" type="string">
            <annotation>
              <appinfo>
                <xrd:title>Kutsestandardi valdkond</xrd:title>
              </appinfo>
            </annotation>
          </element>
          <element name="osakutsed" minOccurs="0" maxOccurs="1">
            <annotation>
              <appinfo>
                <xrd:title>Osakutsed</xrd:title>
              </appinfo>
            </annotation>
            <complexType>
              <sequence>
                <element name="osakutse" type="tns:idNimetusType" minOccurs="1" maxOccurs="unbounded"/>
              </sequence>
            </complexType>
          </element>
          <element name="spetsialiseerumised" minOccurs="0" maxOccurs="1">
            <annotation>
              <appinfo>
                <xrd:title>Spetsialiseerumised</xrd:title>
              </appinfo>
            </annotation>
            <complexType>
              <sequence>
                <element name="spetsialiseerumine" type="tns:idNimetusType" minOccurs="1" maxOccurs="unbounded"/>
              </sequence>
            </complexType>
          </element>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>

  <wsdl:message name="kutsetunnistus">
    <wsdl:part name="body" element="tns:kutsetunnistus"/>
  </wsdl:message>

  <wsdl:message name="kutsetunnistusResponse">
    <wsdl:part name="body" element="tns:kutsetunnistusVastus"/>
  </wsdl:message>

  <wsdl:message name="kodanikKutsetunnistus">
    <wsdl:part name="body" element="tns:kodanikKutsetunnistusParing"/>
  </wsdl:message>

  <wsdl:message name="kodanikKutsetunnistusResponse">
    <wsdl:part name="body" element="tns:kodanikKutsetunnistusVastus"/>
  </wsdl:message>

  <wsdl:message name="kutsetunnistusteMuudatused">
    <wsdl:part name="body" element="tns:kutsetunnistusteMuudatusedParing"/>
  </wsdl:message>

  <wsdl:message name="kutsetunnistusteMuudatusedResponse">
    <wsdl:part name="body" element="tns:kutsetunnistusVastus"/>
  </wsdl:message>

  <wsdl:message name="kutseAndjaInfo">
    <wsdl:part name="body" element="tns:kutseAndjaInfoParing"/>
  </wsdl:message>

  <wsdl:message name="kutseAndjaInfoResponse">
    <wsdl:part name="body" element="tns:kutseAndjaInfoVastus"/>
  </wsdl:message>

  <wsdl:message name="kutsetunnistuseLisamine">
    <wsdl:part name="body" element="tns:kutsetunnistuseLisamineParing"/>
  </wsdl:message>

  <wsdl:message name="kutsetunnistuseLisamineResponse">
    <wsdl:part name="body" element="tns:kutsetunnistuseLisamineVastus"/>
  </wsdl:message>

  <wsdl:message name="kutsetunnistuseDuplikaat">
    <wsdl:part name="body" element="tns:kutsetunnistuseDuplikaatParing"/>
  </wsdl:message>

  <wsdl:message name="kutsetunnistuseDuplikaatResponse">
    <wsdl:part name="body" element="tns:kutsetunnistuseDuplikaatVastus"/>
  </wsdl:message>

  <wsdl:message name="kutseAndjaTunnistused">
    <wsdl:part name="body" element="tns:kutseAndjaTunnistusedParing"/>
  </wsdl:message>

  <wsdl:message name="kutseAndjaTunnistusedResponse">
    <wsdl:part name="body" element="tns:kutseAndjaTunnistusedVastus"/>
  </wsdl:message>

  <wsdl:message name="muutunudKutsestandardid">
    <wsdl:part name="body" element="tns:muutunudKutsestandardidParing"/>
  </wsdl:message>

  <wsdl:message name="muutunudKutsestandardidResponse">
    <wsdl:part name="body" element="tns:muutunudKutsestandardidVastus"/>
  </wsdl:message>

  <wsdl:message name="pais">
    <wsdl:part name="asutus" element="xrd:asutus"/>
    <wsdl:part name="andmekogu" element="xrd:andmekogu"/>
    <wsdl:part name="ametnik" element="xrd:ametnik"/>
    <wsdl:part name="isikukood" element="xrd:isikukood"/>
    <wsdl:part name="id" element="xrd:id"/>
    <wsdl:part name="nimi" element="xrd:nimi"/>
    <wsdl:part name="toimik" element="xrd:toimik"/>
  </wsdl:message>

  <wsdl:message name="requestHeader">
    <wsdl:part name="client" element="xrd:client"/>
    <wsdl:part name="service" element="xrd:service"/>
    <wsdl:part name="id" element="xrd:id"/>
    <wsdl:part name="userId" element="xrd:userId"/>
    <wsdl:part name="requestHash" element="xrd:requestHash"/>
    <wsdl:part name="issue" element="xrd:issue"/>
    <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
  </wsdl:message>


  <wsdl:portType name="xteeport">
    <wsdl:operation name="kutsetunnistus">
      <wsdl:documentation>
        <xrd:title>Kutsetunnistuste otsing</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:kutsetunnistus"/>
      <wsdl:output message="tns:kutsetunnistusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="kodanikKutsetunnistus">
      <wsdl:documentation>
        <xrd:title>Minu kutsetunnistused</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:kodanikKutsetunnistus"/>
      <wsdl:output message="tns:kodanikKutsetunnistusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="kutsetunnistusteMuudatused">
      <wsdl:documentation>
        <xrd:title>Kutsetunnistuste muudatused</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:kutsetunnistusteMuudatused"/>
      <wsdl:output message="tns:kutsetunnistusteMuudatusedResponse"/>
    </wsdl:operation>
    <wsdl:operation name="kutseAndjaInfo">
      <wsdl:documentation>
        <xrd:title>Kutse andja info</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:kutseAndjaInfo"/>
      <wsdl:output message="tns:kutseAndjaInfoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="kutsetunnistuseLisamine">
      <wsdl:documentation>
        <xrd:title>Kutsetunnistuse taotluse esitamine</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:kutsetunnistuseLisamine"/>
      <wsdl:output message="tns:kutsetunnistuseLisamineResponse"/>
    </wsdl:operation>
    <wsdl:operation name="kutsetunnistuseDuplikaat">
      <wsdl:documentation>
        <xrd:title>Kutsetunnistuse duplikaadi taotlemine</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:kutsetunnistuseDuplikaat"/>
      <wsdl:output message="tns:kutsetunnistuseDuplikaatResponse"/>
    </wsdl:operation>
    <wsdl:operation name="kutseAndjaTunnistused">
      <wsdl:documentation>
        <xrd:title>Kutse andja poolt väljastatud tunnistused</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:kutseAndjaTunnistused"/>
      <wsdl:output message="tns:kutseAndjaTunnistusedResponse"/>
    </wsdl:operation>
    <wsdl:operation name="muutunudKutsestandardid">
      <wsdl:documentation>
        <xrd:title>Muutunud kutsestandardid</xrd:title>
      </wsdl:documentation>
      <wsdl:input message="tns:muutunudKutsestandardid"/>
      <wsdl:output message="tns:muutunudKutsestandardidResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="xteebinding" type="tns:xteeport">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="kutsetunnistus">
      <xrd:version>v2</xrd:version>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kodanikKutsetunnistus">
      <xrd:version>v2</xrd:version>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kutsetunnistusteMuudatused">
      <xrd:version>v1</xrd:version>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kutseAndjaInfo">
      <xrd:version>v1</xrd:version>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kutsetunnistuseLisamine">
      <xrd:version>v1</xrd:version>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kutsetunnistuseDuplikaat">
      <xrd:version>v1</xrd:version>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kutseAndjaTunnistused">
      <xrd:version>v1</xrd:version>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="muutunudKutsestandardid">
      <xrd:version>v1</xrd:version>
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
        <soap:header message="tns:requestHeader" part="client" use="literal"/>
        <soap:header message="tns:requestHeader" part="service" use="literal"/>
        <soap:header message="tns:requestHeader" part="id" use="literal"/>
        <soap:header message="tns:requestHeader" part="userId" use="literal"/>
        <soap:header message="tns:requestHeader" part="issue" use="literal"/>
        <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="kutseregister">
    <wsdl:port name="xteeport" binding="tns:xteebinding">
      <soap:address location="http://SECURITY_SERVER"/>
      <xrd:address producer="kutseregister"/>
      <xrd:title>Kutseregister</xrd:title>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
