example/src/main/resources/naidis.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://producers.naidis.xtee.riik.ee/producer/naidis" xmlns:sch="http://producers.naidis.xtee.riik.ee/producer/naidis" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd" targetNamespace="http://producers.naidis.xtee.riik.ee/producer/naidis">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ref="http://ws-i.org/profiles/basic/1.1/xsd" targetNamespace="http://producers.naidis.xtee.riik.ee/producer/naidis"><import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>

	<import namespace="http://ws-i.org/profiles/basic/1.1/xsd" schemaLocation="http://ws-i.org/profiles/basic/1.1/swaref.xsd"/>

	<element name="EchoRequest" type="tns:EchoRequest"/>

	<element name="EchoResponse" type="tns:EchoResponse"/>

	<complexType name="EchoRequest">

		<sequence>
			<element name="Text" type="string"/>
		</sequence>
	</complexType>

	<complexType name="EchoResponse">
		<sequence>
			<element name="Text" type="string"/>
		</sequence>

	</complexType>


	<complexType name="AttachmentEchoRequest">
		<sequence>
			<element name="Nest" type="tns:AttachmentEchoNest"/>
		</sequence>
	</complexType>

	<complexType name="AttachmentEchoResponse">
		<sequence>
			<element name="Nest" type="tns:AttachmentEchoNest"/>
		</sequence>
	</complexType>

	<element name="AttachmentEchoRequest" type="tns:AttachmentEchoRequest">
	</element>

	<element name="AttachmentEchoResponse" type="tns:AttachmentEchoResponse">
	</element>

    <complexType name="AttachmentEchoNest">
    	<sequence>
			<element name="Attachment" type="ref:swaRef"/>
		</sequence>
    </complexType>

</schema>
  </wsdl:types>
  <wsdl:message name="EchoRequest">

    <wsdl:part name="keha" type="tns:EchoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AttachmentEchoResponse">
    <wsdl:part name="paring" type="tns:AttachmentEchoRequest">
    </wsdl:part>
    <wsdl:part name="keha" type="tns:AttachmentEchoResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="AttachmentEchoRequest">
    <wsdl:part name="keha" type="tns:AttachmentEchoRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="xteeStandardPais">
    <wsdl:part element="xtee:asutus" name="asutus">
    </wsdl:part>
    <wsdl:part element="xtee:andmekogu" name="andmekogu">
    </wsdl:part>

    <wsdl:part element="xtee:isikukood" name="isikukood">
    </wsdl:part>
    <wsdl:part element="xtee:id" name="id">
    </wsdl:part>
    <wsdl:part element="xtee:nimi" name="nimi">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EchoResponse">
    <wsdl:part name="paring" type="tns:EchoRequest">

    </wsdl:part>
    <wsdl:part name="keha" type="tns:EchoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="myport">
    <wsdl:operation name="AttachmentEcho">
      <wsdl:input message="tns:AttachmentEchoRequest" name="AttachmentEchoRequest">
    </wsdl:input>
      <wsdl:output message="tns:AttachmentEchoResponse" name="AttachmentEchoResponse">

    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <wsdl:input message="tns:EchoRequest" name="EchoRequest">
    </wsdl:input>
      <wsdl:output message="tns:EchoResponse" name="EchoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="myportSoap11" type="tns:myport">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AttachmentEcho">
      <soap:operation soapAction=""/>
      <wsdl:input name="AttachmentEchoRequest">
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="asutus" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="andmekogu" use="literal">
        </soap:header>

        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="isikukood" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="nimi" use="literal">
        </soap:header>
        <soap:body namespace="http://producers.naidis.xtee.riik.ee/producer/naidis" use="literal"/>
      </wsdl:input>
      <wsdl:output name="AttachmentEchoResponse">

        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="asutus" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="andmekogu" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="isikukood" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="nimi" use="literal">

        </soap:header>
        <soap:body namespace="http://producers.naidis.xtee.riik.ee/producer/naidis" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Echo">
      <soap:operation soapAction=""/>
      <wsdl:input name="EchoRequest">
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="asutus" use="literal">
        </soap:header>

        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="andmekogu" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="isikukood" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="id" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="nimi" use="literal">
        </soap:header>
        <soap:body namespace="http://producers.naidis.xtee.riik.ee/producer/naidis" use="literal"/>

      </wsdl:input>
      <wsdl:output name="EchoResponse">
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="asutus" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="andmekogu" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="isikukood" use="literal">
        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="id" use="literal">

        </soap:header>
        <soap:header message="tns:xteeStandardPais" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" part="nimi" use="literal">
        </soap:header>
        <soap:body namespace="http://producers.naidis.xtee.riik.ee/producer/naidis" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="myportService">
    <wsdl:port binding="tns:myportSoap11" name="myportSoap11">

      <soap:address location="http://TURVASERVER/cgi-bin/consumer_proxy"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>