client-service/kr/src/main/resources/kinnistu_detail_ma.v2Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://producers.kr.xtee.riik.ee/producer/kr"
	xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	targetNamespace="http://producers.kr.xtee.riik.ee/producer/kr"
	elementFormDefault="unqualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<include schemaLocation="ads_types.xsd" />	
	
	<import namespace="http://schemas.xmlsoap.org/soap/encoding/"
		schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />

	<import namespace="http://x-tee.riik.ee/xsd/xtee.xsd"
		schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd" />

	<complexType name="kanne0Type">
		<sequence>
			<element name="kandetekst" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Tekst</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kehtivus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kehtivus</xtee:title>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="kanne1Type">
		<sequence>
			<element name="kande_nr" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Nr.</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kandetekst" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Tekst</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="katastriyksus">
				<annotation>
					<appinfo>
						<xtee:title>Katastriüksused</xtee:title>
					</appinfo>
				</annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="SOAP-ENC:Array">
							<xsd:sequence>
								<xsd:element name="item"
									type="tns:katastriyksus_maType" minOccurs="0"
									maxOccurs="unbounded">
									<annotation>
										<appinfo>
											<xtee:title>
												Katastriüksus
											</xtee:title>
										</appinfo>
									</annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</element>
			<element name="reaalosa_info">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Reaalosad</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="SOAP-ENC:Array">
							<xsd:sequence>
								<xsd:element name="item"
									type="tns:reaalosa_maType" minOccurs="0"
									maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo>
											<xtee:title>
												Reaalosa
											</xtee:title>
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</element>
			<element name="kande_algus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kehtivuse algus</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kande_lopp" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Kehtivuse lõpp</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kehtivus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kehtivus</xtee:title>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="kanne2Type">
		<sequence>
			<element name="kande_nr" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kande nr.</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="omand">
				<annotation>
					<appinfo>
						<xtee:title>Omandiosad</xtee:title>
					</appinfo>
				</annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="SOAP-ENC:Array">
							<xsd:sequence>
								<xsd:element name="item"
									type="tns:omand_maType" minOccurs="1" maxOccurs="unbounded">
								</xsd:element>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</element>
			<element name="kehtivus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kehtivuse</xtee:title>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="kanne3Type">
		<sequence>
			<element name="kande_nr" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Nr.</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kandetekst" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Tekst</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="sisu" type="string" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Sisu</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="tahtaeg" type="dateTime" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Tähtaeg</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="koormatud_omandiosa_nr" type="string"
				maxOccurs="1" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Koormatud omandiosa nr.</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kande_liik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kande liik</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="oigustatud_isik">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="SOAP-ENC:Array">
							<xsd:sequence>
								<xsd:element name="item"
									type="tns:oigust_isik_maType" minOccurs="1"
									maxOccurs="unbounded">
									<annotation>
										<appinfo>
											<xtee:title>
												Õigustatud isik
											</xtee:title>
										</appinfo>
									</annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</element>
			<element name="kande_algus" type="dateTime">
				<annotation>
					<appinfo>
						<xtee:title>Kehtivuse algus</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kande_lopp" type="dateTime" maxOccurs="1"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Kehtivuse lõpp</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kehtivus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kehtivus</xtee:title>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="reaalosa_maType">
		<sequence>
			<element name="nr" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Nr</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="tahistus_plaanil" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Tähistus plaanil</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="liik" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Liik</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="yldpind" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Üldpind</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="motteline_osa" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Mõtteline osa</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="sisu" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Sisu</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="aadressobjekt" type="tns:aadressobjektType" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="aadress_maType">
		<sequence>
			<element name="aadress_haldusyksus" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Haldusüksus</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="aadress_tanav" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Tänav</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="riik" type="string" maxOccurs="1"
				minOccurs="0">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Riik</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="ehak" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>EHAK</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="aadressobjekt" type="tns:aadressobjektType" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>

	<complexType name="omand_maType">
		<sequence>
			<element name="omandiosa_nr" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Omandiosa nr</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="liik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Omandi liik</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="omandiosa_lugeja" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Omandiosa lugeja</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="omandiosa_nimetaja" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Omandiosa nimetaja</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="isikud">
				<annotation>
					<appinfo>
						<xtee:title>Omandi isikud</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="isik"
									type="tns:isik_maType" maxOccurs="unbounded" minOccurs="0">
									<annotation>
										<appinfo>
											<xtee:title>
												Isik
											</xtee:title>
										</appinfo>
									</annotation>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
			<element name="paranduskanne" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>Paranduskanne</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="alguskpv" type="dateTime">
				<annotation>
					<appinfo>
						<xtee:title>Omandi alguskuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="loppkpv" type="dateTime">
				<annotation>
					<appinfo>
						<xtee:title>Omandi lõppkuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>

		</sequence>
	</complexType>

	<complexType name="isik_maType">
		<sequence>
			<element name="liik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Isiku liik</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="tyyp" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Isiku tüüp</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="eesnimi" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Eesnimi</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="perenimi_firma" type="string">
				<annotation>
					<appinfo>
						<xtee:title>
							Liignimi / Ettevotja nimi
						</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="synniaeg" type="date">
				<annotation>
					<appinfo>
						<xtee:title>Sünniaeg</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="kodakondsus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kodakondsus</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="isiku_koodid">
				<annotation>
					<appinfo>
						<xtee:title>Isiku koodid</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="isiku_kood"
									maxOccurs="unbounded" minOccurs="0">
									<annotation>
										<appinfo>
											<xtee:title>
												Isiku kood
											</xtee:title>
										</appinfo>
									</annotation>
									<complexType>
										<sequence>
											<element name="kood"
												type="string">
												<annotation>
													<appinfo>
														<xtee:title>
															Kood
														</xtee:title>
													</appinfo>
												</annotation>
											</element>
											<element
												name="valjaandja_riik" type="string">
												<annotation>
													<appinfo>
														<xtee:title>
															Väljaandja
															riik
														</xtee:title>
													</appinfo>
												</annotation>
											</element>
										</sequence>
									</complexType>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
			<element name="aadressid">
				<annotation>
					<appinfo>
						<xtee:title>Kontaktaadressid</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="aadress"
									type="tns:aadress_maType" maxOccurs="unbounded"
									minOccurs="0">
									<annotation>
										<appinfo>
											<xtee:title>
												Aadress
											</xtee:title>
										</appinfo>
									</annotation>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<xsd:complexType name="oigust_isik_maType">
		<xsd:sequence>
			<xsd:element name="isik">
				<annotation>
					<appinfo>
						<xtee:title>Isikud</xtee:title>
					</appinfo>
				</annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="SOAP-ENC:Array">
							<xsd:sequence>
								<xsd:element name="item"
									type="tns:isik_maType" minOccurs="1" maxOccurs="unbounded">
									<annotation>
										<appinfo>
											<xtee:title>
												Isik
											</xtee:title>
										</appinfo>
									</annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="oigustatuse_liik">
				<annotation>
					<appinfo>
						<xtee:title>Õigustatuse liik</xtee:title>
					</appinfo>
				</annotation>
			</xsd:element>
			<xsd:element name="osa_suurus" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Osa suurus</xtee:title>
					</appinfo>
				</annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<complexType name="katastriyksus_maType">
		<sequence>
			<element name="tunnus" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Katastritunnus</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="pindala" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Pindala</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="pindala_yhik" type="string">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Pindala ühik</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="aadress">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Aadressandmed</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="SOAP-ENC:Array">
							<xsd:sequence>
								<xsd:element name="item"
									type="tns:aadress_maType" minOccurs="1"
									maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo>
											<xtee:title>
												Aadress
											</xtee:title>
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</element>
			<element name="plaani_alusel" type="boolean">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Plaani alusel</xtee:title>
						<xtee:notes>
							Katastriüksus on moodustatud plaani alusel
						</xtee:notes>
					</xsd:appinfo>
				</xsd:annotation>
			</element>
			<element name="sihtotstarve">
				<xsd:annotation>
					<xsd:appinfo>
						<xtee:title>Sihtotstarbed</xtee:title>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:restriction base="SOAP-ENC:Array">
							<xsd:sequence>
								<xsd:element name="item"
									type="tns:sihtotstarve_maType" minOccurs="0"
									maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:appinfo>
											<xtee:title>
												Sihtotstarve
											</xtee:title>
										</xsd:appinfo>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:restriction>
					</xsd:complexContent>
				</xsd:complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="sihtotstarve_maType">
		<sequence>
			<element name="otstarve" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Otstarve</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="protsent" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Protsent</xtee:title>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

</xsd:schema>
