client-service/kr/src/main/resources/koosseis_omandTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://producers.kr.xtee.riik.ee/producer/kr"
	xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://producers.kr.xtee.riik.ee/producer/kr"
	elementFormDefault="unqualified" attributeFormDefault="unqualified"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<include schemaLocation="ads_types.xsd" />
	
	<import namespace="http://schemas.xmlsoap.org/soap/encoding/"
		schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />

	<import namespace="http://x-tee.riik.ee/xsd/xtee.xsd"
		schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd" />

	<complexType name="kinnistu_kehtivType">
		<sequence>
			<element name="registriosa" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu number</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="nimi" type="string" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							Kinnistu nimi (kohanimi)
						</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="kinnistuliik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu liik</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="jaoskond" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu jaoskond</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="regnr_vana" type="integer" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Vana kinnistu number</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="avamise_kp" type="dateTime">
				<annotation>
					<appinfo>
						<xtee:title>Avamise kuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="aluskinnistu" type="string" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Aluskinnistu(d)</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="kontrollitud" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>Kontrollitud</xtee:title>

						<xtee:notes>
							Kas registriosa on läbinud paber- ja
							arvutiandmete võrdluse ning tunnistatud
							õigeks.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="kontrollitud_kp" type="dateTime"
				nillable="false" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Kontrollitud kuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>
			
			<element name="digitaalne_toimik" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>
							Digitaalne toimik
						</xtee:title>
					</appinfo>
				</annotation>
			</element>
			
		</sequence>
	</complexType>

	<complexType name="maatykkType">
		<sequence>
			<element name="registriosa" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu number</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="katastritunnus" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Katastritunnus</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="pindala" type="double">
				<annotation>
					<appinfo>
						<xtee:title>Pindala</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="pindala_yhik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Pindala ühik</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="sihtotstarbed" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Sihtotstarbed</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="asukoht" type="string">
				<annotation>
					<appinfo>
						<xtee:title>KÜ aadress</xtee:title>
					</appinfo>
				</annotation>
			</element>
			
			<element name="aadressobjekt" type="tns:aadressobjektType" minOccurs="0" maxOccurs="1"/>

			<element name="k_algus_kp" type="dateTime">
				<annotation>
					<appinfo>
						<xtee:title>KÜ kinnistamise kuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="k_lopu_kp" type="dateTime" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							KÜ versiooni lõpukuupäev
						</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="kas_parandus" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>Paranduskanne</xtee:title>

						<xtee:notes>
							Paranduskanne näitab, et eelnev kanne oli
							vigane ja konkreetne kanne parandab seda.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="korrastatud" type="dateTime" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Korrastatud</xtee:title>

						<xtee:notes>
							Kuupäev, mil kirjet on kandeväliselt
							korrigeeritud vastavaks paberregistriosaga.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="reaalosaType">
		<sequence>
			<element name="registriosa" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu number</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="r_liik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Ruumi liik</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="r_lugeja" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Mõttelise osa lugeja</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="r_nimetaja" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Mõttelise osa nimetaja</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="r_tahis" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Reaalosa number</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="aadressobjekt" type="tns:aadressobjektType" minOccurs="0" maxOccurs="1"/>
			
			<element name="r_plaanil" type="string" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Tähistus plaanil</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="r_pindala" type="double">
				<annotation>
					<appinfo>
						<xtee:title>
							Üldpindala ruutmeetrites
						</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="r_algus_kp" type="dateTime">
				<annotation>
					<appinfo>
						<xtee:title>
							Reaalosa kehtivuse alguskuupäev
						</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="r_lopp_kp" type="dateTime" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							Reaalosa versiooni lõpukuupäev
						</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="kas_parandus" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>Paranduskanne</xtee:title>

						<xtee:notes>
							Paranduskanne näitab, et eelnev kanne oli
							vigane ja konkreetne kanne parandab seda.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="korrastatud" type="dateTime" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Korrastatud</xtee:title>

						<xtee:notes>
							Kuupäev, mil kirjet on kandeväliselt
							korrigeeritud vastavaks paberregistriosaga.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="omanikType">
		<sequence>
			<element name="registriosa" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu number</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="omandi_liik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Omandi liik</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="isik_omandis" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>IsikOmandis</xtee:title>

						<xtee:notes>
							Kaasomandiosa võib olla ka ühisomandis.
							Sellisel juhul TRUE, vastasel korral FALSE.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="isiku_liik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Isiku liik</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="riik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Riik</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="registrikood" type="string" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Isiku kood</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="nimi" type="string">
				<annotation>
					<appinfo>
						<xtee:title>
							Füüsilise isiku perenimi/juriidilise isiku
							nimi
						</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="eesnimi" type="string" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Füüsilise isiku eesnimi</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="synniaeg" type="date" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							Füüsilise isiku sünnikuupäev
						</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="m_lugeja" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Omandiosa lugeja</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="m_nimetaja" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Omandiosa nimetaja</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="omandi_algus" type="dateTime">
				<annotation>
					<appinfo>
						<xtee:title>Omandi alguskuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="omandi_lopp" type="dateTime" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Omandi lõpukuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="kas_parandus" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>Paranduskanne</xtee:title>

						<xtee:notes>
							Paranduskanne näitab, et eelnev kanne oli
							vigane ja konkreetne kanne parandab seda.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="korrastatud" type="dateTime" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Korrastatud</xtee:title>

						<xtee:notes>
							Kuupäev, mil kirjet on kandeväliselt
							korrigeeritud vastavaks paberregistriosaga.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="kinnistu_muudatusType">
		<sequence>
			<element name="registriosa" type="integer">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu number</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="nimi" type="string" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							Kinnistu nimi (kohanimi)
						</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="kinnistuliik" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu liik</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="jaoskond" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistu jaoskond</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="regnr_vana" type="integer" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Vana kinnistu number</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="avamise_kp" type="dateTime">
				<annotation>
					<appinfo>
						<xtee:title>Avamise kuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="sulgemise_kp" type="dateTime"
				nillable="false" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Sulgemise kuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="aluskinnistu" type="string" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Aluskinnistu(d)</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="kontrollitud" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>Kontrollitud</xtee:title>

						<xtee:notes>
							Kas registriosa on läbinud paber- ja
							arvutiandmete võrdluse ning tunnistatud
							õigeks.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="kontrollitud_kp" type="dateTime"
				nillable="false" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Kontrollitud kuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="korrastatud" type="dateTime" nillable="false"
				minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>Korrastatud kuupäev</xtee:title>

						<xtee:notes>
							Kuupäev, mil kirjet on kandeväliselt
							korrigeeritud vastavaks paberregistriosaga.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="korrastatudalus" type="dateTime"
				nillable="false" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							Aluskinnistu korrastatud kuupäev
						</xtee:title>

						<xtee:notes>
							Kuupäev, mil aluskinnistu andmeid
							kandeväliselt korrigeeriti. Kui väli on
							tühi, siis ei ole andmeid korrigeeritud.
							Väli annab infot käsitsi parandatud kirjete
							kohta.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="muudatusvektor" type="string">
				<annotation>
					<appinfo>
						<xtee:title>Muudatusvektor</xtee:title>
					</appinfo>
				</annotation>
			</element>

			<element name="jaoskond_lopp_kp" type="dateTime"
				nillable="false" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							Jaoskonna kehtivuse lõpp
						</xtee:title>

						<xtee:notes>
							Kuupäev, milleni antud jaoskond kehtis.
							Kehtival jaoskonnal või muud liigi muudatuse
							korral NULL.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="nimi_algus_kp" type="dateTime"
				nillable="false" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							Nime versiooni seadmise kuupäev
						</xtee:title>

						<xtee:notes>
							Kui antud muudatus ei ole nime muudatus,
							siis NULL.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>

			<element name="nimi_lopp_kp" type="dateTime"
				nillable="false" minOccurs="0">
				<annotation>
					<appinfo>
						<xtee:title>
							Nime versiooni lõppemise kuupäev
						</xtee:title>

						<xtee:notes>
							Kui antud muudatus ei ole nime muudatus,
							siis NULL.
						</xtee:notes>
					</appinfo>
				</annotation>
			</element>
			
			<element name="digitaalne_toimik" type="boolean">
				<annotation>
					<appinfo>
						<xtee:title>
							Digitaalne toimik
						</xtee:title>
					</appinfo>
				</annotation>
			</element>
			
		</sequence>
	</complexType>

</xsd:schema>