client-service/kr/src/main/resources/mis_koormatis.v2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://producers.kr.xtee.riik.ee/producer/kr"
	targetNamespace="http://producers.kr.xtee.riik.ee/producer/kr"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd">
	<import namespace="http://schemas.xmlsoap.org/soap/encoding/"
		schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
	<complexType name="mis_koormatis_paring">
		<all>
			<element name="katastritunnus_jada">
				<annotation>
					<appinfo>
						<xtee:title>Katastritunnused</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="item" minOccurs="0" maxOccurs="unbounded"
									type="string" />
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
			<element name="tehingu_alg_kp" type="date" minOccurs="1"
				maxOccurs="1" nillable="true">
				<annotation>
					<appinfo>
						<xtee:title>Tehingu kuupäev või ajavahemiku korral algkuupäev
						</xtee:title>
					</appinfo>
				</annotation>
			</element>
			<element name="tehingu_lopp_kp" type="date" minOccurs="0"
				maxOccurs="1" nillable="true">
				<annotation>
					<appinfo>
						<xtee:title>Ajavahemiku korral lõppkuupäev</xtee:title>
					</appinfo>
				</annotation>
			</element>
		</all>
	</complexType>
	<complexType name="mis_koormatis_vastus">
		<all>
			<element name="kinnistu_jada">
				<annotation>
					<appinfo>
						<xtee:title>Kinnistud</xtee:title>
					</appinfo>
				</annotation>
				<complexType>
					<complexContent>
						<restriction base="SOAP-ENC:Array">
							<sequence>
								<element name="item" minOccurs="0" maxOccurs="unbounded">
									<complexType>
										<all>
											<element name="kinnistunr" type="integer">
												<annotation>
													<appinfo>
														<xtee:title>Kinnistu number, mida õigus koormab
														</xtee:title>
													</appinfo>
												</annotation>
											</element>
											<element name="digitaalne_toimik" type="boolean">
												<annotation>
													<appinfo>
														<xtee:title>Digitaalne toimik</xtee:title>
													</appinfo>
												</annotation>
											</element>
											<element name="kinnistusjaoskond" type="integer">
												<annotation>
													<appinfo>
														<xtee:title>Kinnistusjaoskonna klassifikaatori kood
														</xtee:title>
													</appinfo>
												</annotation>
											</element>
											<element name="oigus_jada">
												<annotation>
													<appinfo>
														<xtee:title>õigused</xtee:title>
													</appinfo>
												</annotation>
												<complexType>
													<complexContent>
														<restriction base="SOAP-ENC:Array">
															<sequence>
																<element name="item" minOccurs="0" maxOccurs="unbounded">
																	<complexType>
																		<all>
																			<element name="oiguseliik" type="string">
																				<annotation>
																					<appinfo>
																						<xtee:title>Õiguse, märkuse liigi klassifikaatori
																							kood</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																			<element name="isik_jada">
																				<annotation>
																					<appinfo>
																						<xtee:title>isikud</xtee:title>
																					</appinfo>
																				</annotation>
																				<complexType>
																					<complexContent>
																						<restriction base="SOAP-ENC:Array">
																							<sequence>
																								<element name="item" minOccurs="0"
																									maxOccurs="unbounded">
																									<complexType>
																										<all>
																											<element name="perenimi_firma" type="string">
																												<annotation>
																													<appinfo>
																														<xtee:title>Õigustatud füüsilise isiku
																															perenimi/juriidilise isiku nimi
																														</xtee:title>
																													</appinfo>
																												</annotation>
																											</element>
																											<element name="eesnimi" type="string">
																												<annotation>
																													<appinfo>
																														<xtee:title>Õigustatud füüsilise isiku
																															eesnimi</xtee:title>
																													</appinfo>
																												</annotation>
																											</element>
																											<element name="isikuliik" type="string">
																												<annotation>
																													<appinfo>
																														<xtee:title>Isiku liigi klassifikaatori
																															kood</xtee:title>
																													</appinfo>
																												</annotation>
																											</element>
																											<element name="isikukoodriikid" type="string">
																												<annotation>
																													<appinfo>
																														<xtee:title>Isikukoodi välja andnud riigi
																															kolmekohaline ID vastavalt
																															Statistikaameti Riikide ja
																															territooriumide klassifikaatorile
																														</xtee:title>
																													</appinfo>
																												</annotation>
																											</element>
																											<element name="isikuid" type="string">
																												<annotation>
																													<appinfo>
																														<xtee:title>Õigustatud isiku identiteet
																															(isikukood, registrikood)</xtee:title>
																													</appinfo>
																												</annotation>
																											</element>
																										</all>
																									</complexType>
																								</element>
																							</sequence>
																						</restriction>
																					</complexContent>
																				</complexType>
																			</element>
																			<element name="algusdaatum" type="date">
																				<annotation>
																					<appinfo>
																						<xtee:title>Õiguse versiooni (kande) algusdaatum
																						</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																			<element name="avaldus" type="date">
																				<annotation>
																					<appinfo>
																						<xtee:title>Õiguse registreerimise avalduse
																							kuupäev</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																			<element name="lopudaatum" type="date">
																				<annotation>
																					<appinfo>
																						<xtee:title>Õiguse versiooni (kande) lõpudaatum
																						</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																			<element name="raha" type="integer">
																				<annotation>
																					<appinfo>
																						<xtee:title>Koormatise rahaline väärtus (vana KRIS
																							korral hüpoteegisumma)</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																			<element name="rahaValuuta" type="string">
																				<annotation>
																					<appinfo>
																						<xtee:title>Koormatise rahalise väärtuse valuuta
																						</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																			<element name="tahtaegaasta" type="integer">
																				<annotation>
																					<appinfo>
																						<xtee:title>Koormatise tähtaeg aastates (vana KRIS
																							korral hoonestusõiguse tähtaeg)</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																			<element name="tahtaegkuudes" type="integer">
																				<annotation>
																					<appinfo>
																						<xtee:title>Koormatise tähtaeg kuudes (ainult uue
																							KRIS korral st esialgu see väärtus tühi)
																						</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																			<element name="tahtaegkuupaev" type="date">
																				<annotation>
																					<appinfo>
																						<xtee:title>Koormatise tähtaeg kuupäevana (ainult
																							uue KRIS korral st esialgu see väärtus tühi)
																						</xtee:title>
																					</appinfo>
																				</annotation>
																			</element>
																		</all>
																	</complexType>
																</element>
															</sequence>
														</restriction>
													</complexContent>
												</complexType>
											</element>
											<element name="katastritunnus_jada">
												<annotation>
													<appinfo>
														<xtee:title>Kinnistuga seotud katastritunnused
														</xtee:title>
													</appinfo>
												</annotation>
												<complexType>
													<complexContent>
														<restriction base="SOAP-ENC:Array">
															<sequence>
																<element name="item" minOccurs="0" maxOccurs="unbounded"
																	type="string">
																	<annotation>
																		<appinfo>
																			<xtee:title>Katastritunnus</xtee:title>
																		</appinfo>
																	</annotation>
																</element>
															</sequence>
														</restriction>
													</complexContent>
												</complexType>
											</element>
										</all>
									</complexType>
								</element>
							</sequence>
						</restriction>
					</complexContent>
				</complexType>
			</element>
		</all>
	</complexType>
</xsd:schema>
