kauri-rmviki/client-service/rmviki/src/main/resources/z_rkovar_teenus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
	xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:s0="urn:sap-com:document:sap:rfc:functions" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xtee="http://x-tee.riik.ee/xsd/xtee.xsd"
	xmlns:viki="http://producers.rmviki.xtee.riik.ee/producer/rmviki"
	xmlns:tns="http://producers.rmviki.xtee.riik.ee/producer/rmviki"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
	targetNamespace="http://producers.rmviki.xtee.riik.ee/producer/rmviki">
	<types>
		<xsd:schema targetNamespace="http://producers.rmviki.xtee.riik.ee/producer/rmviki">
			<xsd:import namespace="http://x-tee.riik.ee/xsd/xtee.xsd" schemaLocation="http://x-tee.riik.ee/xsd/xtee.xsd"/>
			<xsd:complexType name="Z_RKOVAR.Request">
				<xsd:all>
					<xsd:element name="KOOD" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>KOOD</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NIMETUS" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>NIMETUS</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Z_RKOVAR.Response">
				<xsd:all>
					<xsd:element name="EKSPORDIAEG">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>EKSPORDIAEG</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:decimal">
								<xsd:totalDigits value="15"></xsd:totalDigits>
								<xsd:fractionDigits value="0"></xsd:fractionDigits>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ISIKUD">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>ISIKUD</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="viki:ZRKOVAR"></xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="ZRKOVAR">
				<xsd:sequence>
					<xsd:element name="KOOD" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>KOOD</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="8"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="NIMETUS" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>NIMETUS</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="100"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="AADRESS" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>AADRESS</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="INDEKS" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>INDEKS</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="10"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LINN" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>LINN</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="25"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="MAAKOND" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>MAAKOND</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="TELEFON" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>TELEFON</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="15"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EPOST" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>EPOST</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="80"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="STAATUS" minOccurs="0">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>STAATUS</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="1"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="ENDDATE" minOccurs="0" type="viki:date">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>ENDDATE</xtee:title></xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="EHAK">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>EHAK</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:maxLength value="4"></xsd:maxLength>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="LIIK">
						<xsd:annotation>
							<xsd:appinfo><xtee:title>LIIK</xtee:title></xsd:appinfo>
						</xsd:annotation>
						<xsd:simpleType>
						    <xsd:restriction base="xsd:string">
						        <xsd:maxLength value="50"></xsd:maxLength>
						    </xsd:restriction>
						</xsd:simpleType>

					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="date">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10"></xsd:maxLength>
					<xsd:pattern value="....-..-.."></xsd:pattern>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</types>
	<message name="Z_RKOVARInput">
		<part name="keha" type="viki:Z_RKOVAR.Request"></part>
	</message>
	<message name="Z_RKOVAROutput">
		<part name="paring" type="viki:Z_RKOVAR.Request"></part>
		<part name="keha" type="viki:Z_RKOVAR.Response"></part>
	</message>
	<message name="standardPais">
		<part name="asutus" element="xtee:asutus"/>
        <part name="andmekogu" element="xtee:andmekogu"/>
        <part name="isikukood" element="xtee:isikukood"/>
        <part name="nimi" element="xtee:nimi"/>
        <part name="id" element="xtee:id"/>
	</message>
	<portType name="RMVIKIPortType">
		<operation name="Z_RKOVAR">
			<documentation><xtee:title xml:lang="et">Kohalike omavalitsuste SAP teenus</xtee:title></documentation>
			<xtee:version>v1</xtee:version>
			<input message="viki:Z_RKOVARInput"></input>
			<output message="viki:Z_RKOVAROutput"></output>
		</operation>
	</portType>
	<binding name="RMVIKIBinding" type="viki:RMVIKIPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<operation name="Z_RKOVAR">
			<soap:operation soapAction=""></soap:operation>
			<xtee:version>v1</xtee:version>
			<input>
				<soap:header message="viki:standardPais" use="encoded" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
				<soap:body use="encoded" namespace="http://producers.rmviki.xtee.riik.ee/producer/rmviki" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:header message="viki:standardPais" use="encoded" namespace="http://x-tee.riik.ee/xsd/xtee.xsd" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
				<soap:body use="encoded" namespace="http://producers.rmviki.xtee.riik.ee/producer/rmviki" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="RMVIKIService">
		<documentation>RM teenused X-Teele</documentation>
		<port name="RMVIKIPortType" binding="viki:RMVIKIBinding">
			<soap:address location="http://TURVASERVER/cgi-bin/consumer-proxy"></soap:address>
			<xtee:title>RM teenused X-Teele</xtee:title>
            <xtee:address producer="rmviki"/>
		</port>
	</service>
</definitions>