client-service/emtav6/src/main/resources/emtav6.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:tns="http://emta-v6.x-road.eu" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd"
				  targetNamespace="http://emta-v6.x-road.eu" name="mkrliides">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://emta-v6.x-road.eu">
			<import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
			<complexType name="preRegCheck">
				<sequence>
					<element name="item" type="tns:PreRegCheckRequestItemType" maxOccurs="20"/>
				</sequence>
			</complexType>
			<complexType name="PreRegCheckRequestItemType">
				<sequence>
					<element name="application" type="tns:ArisApplicationType"/>
					<element name="vechicle" type="tns:ArisVechicleType"/>
					<element name="vendor" type="tns:ArisVendorType"/>
					<element name="buyer" type="tns:ArisBuyerType"/>
					<element name="applicationSubmitter" type="tns:ArisApplicationSubmitterType"/>
					<element name="transaction" type="tns:ArisTransactionType"/>
					<element name="documentFiles" minOccurs="0">
						<complexType>
							<sequence>
								<element name="file" type="tns:ArisDocumentFileType" maxOccurs="unbounded"/>
							</sequence>
						</complexType>
					</element>
				</sequence>
			</complexType>
			<complexType name="ArisApplicationType">
				<sequence>
					<element name="arisId" type="long">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Päringu ID</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="applicationId" type="long">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Taotluse ID</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="applicationNr" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Taotluse number</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="applicationDate" type="date">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Taotluse kuupäev</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="applicationStatus" type="tns:ArisApplicationStatusType">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Taotluse staatus</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="applicantEmail" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Meiliaadress</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="applicantPhone" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Telefon</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<simpleType name="ArisApplicationStatusType">
				<restriction base="string">
					<enumeration value="MENETLETUD"/>
					<enumeration value="MENETLUSES"/>
					<enumeration value="TYHISTATUD"/>
				</restriction>
			</simpleType>
			<complexType name="ArisVechicleType">
				<sequence>
					<element name="vin" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">VIN kood</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="category" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Kategooria</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="make" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Tootja</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="model" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Mudel</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="firstRegDate" type="date" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Esmane registreerimine</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="distanceCovered" type="long">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Läbisõit</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="distanceUnit" type="tns:ArisDistanceUnitType">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Läbisõidu mõõtühik</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="previousRegCountry" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Riigi kood</xrd:title>
								<xrd:notes xml:lang="et">ISO 3166-1 alpha-3 kood.</xrd:notes>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<simpleType name="ArisDistanceUnitType">
				<restriction base="string">
					<enumeration value="KM"/>
					<enumeration value="MIIL"/>
				</restriction>
			</simpleType>
			<complexType name="ArisVendorType">
				<sequence>
					<element name="name" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Müüja nimi</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="code" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Müüja kood</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="vendorType" type="tns:ArisClientType" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Müüja tüüp</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="vatNr" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">VAT number</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="vendorCountry" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Riigi kood</xrd:title>
								<xrd:notes xml:lang="et">ISO 3166-1 alpha-3 kood.</xrd:notes>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<simpleType name="ArisClientType">
				<restriction base="string">
					<enumeration value="E"/>
					<enumeration value="J"/>
				</restriction>
			</simpleType>
			<complexType name="ArisBuyerType">
				<sequence>
					<element name="firstName" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Ostja eesnimi</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="lastName" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Ostja perenimi</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="code" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Ostja kood</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="buyerType" type="tns:ArisClientType">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Ostja tüüp</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="buyerCountry" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Riigi kood</xrd:title>
								<xrd:notes xml:lang="et">ISO 3166-1 alpha-3 kood.</xrd:notes>
							</appinfo>
						</annotation>
					</element>
					<element name="nonResidentAddress" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Aadress</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="ArisApplicationSubmitterType">
				<sequence>
					<element name="firstName" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Taotluse esitaja eesnimi</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="lastName" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Taotluse esitaja perenimi</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="code" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Taotluse esitaja kood</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="ArisTransactionType">
				<sequence>
					<element name="transactionDate" type="date">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Tehingu kuupäev</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="transactionSum" type="decimal">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Tehingu summa</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="currency" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Valuuta kood</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="taxationRule" type="tns:ArisTaxationRuleType">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Maksustamise tüüp</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="buyingPurpose" type="tns:ArisBuyingPurposeType">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Soetamise põhjus</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<simpleType name="ArisTaxationRuleType">
				<restriction base="string">
					<enumeration value="ERIREEGEL"/>
					<enumeration value="ILMA_KM"/>
					<enumeration value="MAAR_0"/>
					<enumeration value="TOLL"/>
					<enumeration value="VALISRIIGI_KM"/>
				</restriction>
			</simpleType>
			<simpleType name="ArisBuyingPurposeType">
				<restriction base="string">
					<enumeration value="MYYGIKS"/>
					<enumeration value="OMA_TARBEKS"/>
				</restriction>
			</simpleType>
			<complexType name="ArisDocumentFileType">
				<sequence>
					<element name="documentFileId" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Dokumendi ID</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="fileName" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Faili nimi</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="fileSize" type="long">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Faili suurus</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="fileStatus" type="tns:ArisFileStatusType">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Maksustamise tüüp</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="documentTypes" type="tns:ArisDocumentType" maxOccurs="unbounded"/>
				</sequence>
			</complexType>
			<simpleType name="ArisFileStatusType">
				<restriction base="string">
					<enumeration value="ESITATUD"/>
					<enumeration value="KONTROLLITUD"/>
					<enumeration value="TYHISTATUD"/>
					<enumeration value="VOLTSIMISKAHTLUS"/>
				</restriction>
			</simpleType>
			<complexType name="ArisDocumentType">
				<sequence>
					<element name="documentType" type="string">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Dokumendi liik</xrd:title>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>

			<complexType name="preRegCheckResponse">
				<sequence>
					<element name="item" type="tns:PreRegCheckResponseItemType" maxOccurs="20"/>
				</sequence>
			</complexType>
			<complexType name="PreRegCheckResponseItemType">
				<sequence>
					<element name="arisId" type="long">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Päringu ID</xrd:title>
							</appinfo>
						</annotation>
					</element>
					<element name="status" type="tns:SimpleResponseStatusType">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Staatus</xrd:title>
								<xrd:notes xml:lang="et">
									Dokumendi salvestamine õnnestus - OK, ei õnnestunud - NOK.
								</xrd:notes>
							</appinfo>
						</annotation>
					</element>
					<element name="error" type="string" minOccurs="0">
						<annotation>
							<appinfo>
								<xrd:title xml:lang="et">Viga</xrd:title>
								<xrd:notes xml:lang="et">Vea kirjeldus. Ainult NOK staatuse korral.</xrd:notes>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<simpleType name="SimpleResponseStatusType">
				<restriction base="string">
					<enumeration value="OK"/>
					<enumeration value="NOK"/>
				</restriction>
			</simpleType>
		</schema>
	</wsdl:types>

	<wsdl:message name="preRegCheckRequest">
		<wsdl:part element="tns:preRegCheck" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="preRegCheckResponse">
		<wsdl:part element="tns:preRegCheckResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="xrdHeader">
		<wsdl:part element="xrd:client" name="client"/>
		<wsdl:part element="xrd:service" name="service"/>
		<wsdl:part element="xrd:id" name="id"/>
		<wsdl:part element="xrd:userId" name="userId"/>
		<wsdl:part element="xrd:protocolVersion" name="protocolVersion"/>
	</wsdl:message>

	<wsdl:portType name="webServiceInterface">
		<wsdl:operation name="preRegCheck">
			<wsdl:documentation>
				<xrd:title xml:lang="et">Sõidukite registreerimiseelne kontroll</xrd:title>
				<xrd:notes xml:lang="et">
					Sõidukite registreerimiseelse kontrolli taotlused Maanteeametist.
				</xrd:notes>
			</wsdl:documentation>
			<wsdl:input message="tns:preRegCheckRequest"/>
			<wsdl:output message="tns:preRegCheckResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="soapBindings" type="tns:webServiceInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="preRegCheck">
			<soap:operation soapAction=""/>
			<xrd:version>v1</xrd:version>
			<wsdl:input>
				<soap:header message="tns:xrdHeader" part="client" use="literal"/>
				<soap:header message="tns:xrdHeader" part="service" use="literal"/>
				<soap:header message="tns:xrdHeader" part="id" use="literal"/>
				<soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
				<soap:header message="tns:xrdHeader" part="userId" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:xrdHeader" part="client" use="literal"/>
				<soap:header message="tns:xrdHeader" part="service" use="literal"/>
				<soap:header message="tns:xrdHeader" part="id" use="literal"/>
				<soap:header message="tns:xrdHeader" part="protocolVersion" use="literal"/>
				<soap:header message="tns:xrdHeader" part="userId" use="literal"/>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="webService">
		<wsdl:port binding="tns:soapBindings" name="port">
			<soap:address location="http://SERVER_URL"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
